In [13]:
import pandas as pd 
x={
    "alpha":["car","bike","areo","van"],
    "numbers":[1,2,3,4],
    "code":["1a","2b","3c","4b"]
}
myvar=pd.DataFrame(x)
print(myvar)

  alpha  numbers code
0   car        1   1a
1  bike        2   2b
2  areo        3   3c
3   van        4   4b

In [15]:
 print(myvar.loc[[0,3]])

  alpha  numbers code
0   car        1   1a
3   van        4   4b

In [6]:
import pandas as pd
x=[9,8,7,6,5,4,3,2,1,0]
myvar=pd.Series(x,index=["9*1","9*2","9*3","9*4","9*5","9*6","9*7","9*8","9*9","9*10"])
print(myvar)

9*1     9
9*2     8
9*3     7
9*4     6
9*5     5
9*6     4
9*7     3
9*8     2
9*9     1
9*10    0
dtype: int64

In [12]:
import pandas as pd 
a={"jan":1,"feb":2,"mar":3}
myvar=pd.Series(a,index=["jan","feb"])
print(myvar)
print(myvar["jan"])

jan    1
feb    2
dtype: int64
1

In [20]:
import pandas as pd
x=pd.read_csv('student.csv')
print(x.to_string())

     Student_id  Age  Gender      Grade Employed
0             1   19    Male  1st Class      yes
1             2   20  Female  2nd Class       no
2             3   18    Male  1st Class       no
3             4   21  Female  2nd Class       no
4             5   19    Male  1st Class       no
5             6   20    Male  2nd Class      yes
6             7   19  Female  3rd Class      yes
7             8   21    Male  3rd Class      yes
8             9   22  Female  3rd Class      yes
9            10   21    Male  1st Class       no
10           11   20  Female  3rd Class      yes
11           12   20    Male  1st Class       no
12           13   19    Male  1st Class      yes
13           14   20  Female  3rd Class       no
14           15   19    Male  1st Class      yes
15           16   19  Female  2nd Class       no
16           17   20    Male  2nd Class      yes
17           18   18  Female  3rd Class       no
18           19   21    Male  2nd Class      yes
19           20   19    Male  2nd Class       no
20           21   20  Female  3rd Class      yes
21           22   19    Male  2nd Class       no
22           23   21  Female  2nd Class      yes
23           24   22    Male  3rd Class       no
24           25   21  Female  1st Class       no
25           26   20    Male  2nd Class       no
26           27   20    Male  3rd Class       no
27           28   19  Female  1st Class       no
28           29   20    Male  3rd Class       no
29           30   19    Male  1st Class      yes
30           31   20  Female  2nd Class       no
31           32   18    Male  1st Class       no
32           33   21  Female  2nd Class       no
33           34   19    Male  1st Class       no
34           35   20    Male  2nd Class      yes
35           36   19  Female  3rd Class      yes
36           37   21    Male  3rd Class      yes
37           38   22  Female  3rd Class      yes
38           39   21    Male  1st Class       no
39           40   20  Female  3rd Class      yes
40           41   20    Male  1st Class       no
41           42   19    Male  1st Class      yes
42           43   20  Female  3rd Class       no
43           44   19    Male  1st Class      yes
44           45   19  Female  2nd Class       no
45           46   20    Male  2nd Class      yes
46           47   18  Female  3rd Class       no
47           48   21    Male  2nd Class      yes
48           49   19    Male  2nd Class       no
49           50   20  Female  3rd Class      yes
50           51   19    Male  2nd Class       no
51           52   21  Female  2nd Class      yes
52           53   22    Male  3rd Class       no
53           54   21  Female  1st Class       no
54           55   20    Male  2nd Class       no
55           56   20    Male  3rd Class       no
56           57   19  Female  1st Class       no
57           58   20    Male  3rd Class       no
58           59   19    Male  1st Class      yes
59           60   20  Female  2nd Class       no
60           61   18    Male  1st Class       no
61           62   21  Female  2nd Class       no
62           63   19    Male  1st Class       no
63           64   20    Male  2nd Class      yes
64           65   19  Female  3rd Class      yes
65           66   21    Male  3rd Class      yes
66           67   22  Female  3rd Class      yes
67           68   21    Male  1st Class       no
68           69   20  Female  3rd Class      yes
69           70   20    Male  1st Class       no
70           71   19    Male  1st Class      yes
71           72   20  Female  3rd Class       no
72           73   19    Male  1st Class      yes
73           74   19  Female  2nd Class       no
74           75   20    Male  2nd Class      yes
75           76   18  Female  3rd Class       no
76           77   21    Male  2nd Class      yes
77           78   19    Male  2nd Class       no
78           79   20  Female  3rd Class      yes
79           80   19    Male  2nd Class       no
80           81   21  Female  2nd Class      yes
81           82   22    Male  3rd Class       no
82           83   21  Female  1st Class       no
83           84   20    Male  2nd Class       no
84           85   20    Male  3rd Class       no
85           86   19  Female  1st Class       no
86           87   20    Male  3rd Class       no
87           88   19    Male  1st Class      yes
88           89   20  Female  2nd Class       no
89           90   18    Male  1st Class       no
90           91   21  Female  2nd Class       no
91           92   19    Male  1st Class       no
92           93   20    Male  2nd Class      yes
93           94   19  Female  3rd Class      yes
94           95   21    Male  3rd Class      yes
95           96   22  Female  3rd Class      yes
96           97   21    Male  1st Class       no
97           98   20  Female  3rd Class      yes
98           99   20    Male  1st Class       no
99          100   19    Male  1st Class      yes
100         101   20  Female  3rd Class       no
101         102   19    Male  1st Class      yes
102         103   19  Female  2nd Class       no
103         104   20    Male  2nd Class      yes
104         105   18  Female  3rd Class       no
105         106   21    Male  2nd Class      yes
106         107   19    Male  2nd Class       no
107         108   20  Female  3rd Class      yes
108         109   19    Male  2nd Class       no
109         110   21  Female  2nd Class      yes
110         111   22    Male  3rd Class       no
111         112   21  Female  1st Class       no
112         113   20    Male  2nd Class       no
113         114   20    Male  3rd Class       no
114         115   19  Female  1st Class       no
115         116   20    Male  3rd Class       no
116         117   19    Male  1st Class      yes
117         118   20  Female  2nd Class       no
118         119   18    Male  1st Class       no
119         120   21  Female  2nd Class       no
120         121   19    Male  1st Class       no
121         122   20    Male  2nd Class      yes
122         123   19  Female  3rd Class      yes
123         124   21    Male  3rd Class      yes
124         125   22  Female  3rd Class      yes
125         126   21    Male  1st Class       no
126         127   20  Female  3rd Class      yes
127         128   20    Male  1st Class       no
128         129   19    Male  1st Class      yes
129         130   20  Female  3rd Class       no
130         131   19    Male  1st Class      yes
131         132   19  Female  2nd Class       no
132         133   20    Male  2nd Class      yes
133         134   18  Female  3rd Class       no
134         135   21    Male  2nd Class      yes
135         136   19    Male  2nd Class       no
136         137   20  Female  3rd Class      yes
137         138   19    Male  2nd Class       no
138         139   21  Female  2nd Class      yes
139         140   22    Male  3rd Class       no
140         141   21  Female  1st Class       no
141         142   20    Male  2nd Class       no
142         143   20    Male  3rd Class       no
143         144   19  Female  1st Class       no
144         145   20    Male  3rd Class       no
145         146   19    Male  1st Class      yes
146         147   20  Female  2nd Class       no
147         148   18    Male  1st Class       no
148         149   21  Female  2nd Class       no
149         150   19    Male  1st Class       no
150         151   20    Male  2nd Class      yes
151         152   19  Female  3rd Class      yes
152         153   21    Male  3rd Class      yes
153         154   22  Female  3rd Class      yes
154         155   21    Male  1st Class       no
155         156   20  Female  3rd Class      yes
156         157   20    Male  1st Class       no
157         158   19    Male  1st Class      yes
158         159   20  Female  3rd Class       no
159         160   19    Male  1st Class      yes
160         161   19  Female  2nd Class       no
161         162   20    Male  2nd Class      yes
162         163   18  Female  3rd Class       no
163         164   21    Male  2nd Class      yes
164         165   19    Male  2nd Class       no
165         166   20  Female  3rd Class      yes
166         167   19    Male  2nd Class       no
167         168   21  Female  2nd Class      yes
168         169   22    Male  3rd Class       no
169         170   21  Female  1st Class       no
170         171   20    Male  2nd Class       no
171         172   20    Male  3rd Class       no
172         173   19  Female  1st Class       no
173         174   20    Male  3rd Class       no
174         175   19    Male  1st Class      yes
175         176   20  Female  2nd Class       no
176         177   18    Male  1st Class       no
177         178   21  Female  2nd Class       no
178         179   19    Male  1st Class       no
179         180   20    Male  2nd Class      yes
180         181   19  Female  3rd Class      yes
181         182   21    Male  3rd Class      yes
182         183   22  Female  3rd Class      yes
183         184   21    Male  1st Class       no
184         185   20  Female  3rd Class      yes
185         186   20    Male  1st Class       no
186         187   19    Male  1st Class      yes
187         188   20  Female  3rd Class       no
188         189   19    Male  1st Class      yes
189         190   19  Female  2nd Class       no
190         191   20    Male  2nd Class      yes
191         192   18  Female  3rd Class       no
192         193   21    Male  2nd Class      yes
193         194   19    Male  2nd Class       no
194         195   20  Female  3rd Class      yes
195         196   19    Male  2nd Class       no
196         197   21  Female  2nd Class      yes
197         198   22    Male  3rd Class       no
198         199   21  Female  1st Class       no
199         200   20    Male  2nd Class       no
200         201   20    Male  3rd Class       no
201         202   19  Female  1st Class       no
202         203   20    Male  3rd Class       no
203         204   19    Male  1st Class      yes
204         205   20  Female  2nd Class       no
205         206   18    Male  1st Class       no
206         207   21  Female  2nd Class       no
207         208   19    Male  1st Class       no
208         209   20    Male  2nd Class      yes
209         210   19  Female  3rd Class      yes
210         211   21    Male  3rd Class      yes
211         212   22  Female  3rd Class      yes
212         213   21    Male  1st Class       no
213         214   20  Female  3rd Class      yes
214         215   20    Male  1st Class       no
215         216   19    Male  1st Class      yes
216         217   20  Female  3rd Class       no
217         218   19    Male  1st Class      yes
218         219   19  Female  2nd Class       no
219         220   20    Male  2nd Class      yes
220         221   18  Female  3rd Class       no
221         222   21    Male  2nd Class      yes
222         223   19    Male  2nd Class       no
223         224   20  Female  3rd Class      yes
224         225   19    Male  2nd Class       no
225         226   21  Female  2nd Class      yes
226         227   22    Male  3rd Class       no
227         228   21  Female  1st Class       no
228         229   20    Male  2nd Class       no
229         230   20    Male  3rd Class      yes
230         231   19  Female  1st Class      yes
231         232   20    Male  3rd Class      yes

In [22]:
print(x.loc[[7,54,122,9]])

     Student_id  Age  Gender      Grade Employed
7             8   21    Male  3rd Class      yes
54           55   20    Male  2nd Class       no
122         123   19  Female  3rd Class      yes
9            10   21    Male  1st Class       no

In [26]:
print(x.head(9))

   Student_id  Age  Gender      Grade Employed
0           1   19    Male  1st Class      yes
1           2   20  Female  2nd Class       no
2           3   18    Male  1st Class       no
3           4   21  Female  2nd Class       no
4           5   19    Male  1st Class       no
5           6   20    Male  2nd Class      yes
6           7   19  Female  3rd Class      yes
7           8   21    Male  3rd Class      yes
8           9   22  Female  3rd Class      yes

In [27]:
print(x.tail(6))

     Student_id  Age  Gender      Grade Employed
226         227   22    Male  3rd Class       no
227         228   21  Female  1st Class       no
228         229   20    Male  2nd Class       no
229         230   20    Male  3rd Class      yes
230         231   19  Female  1st Class      yes
231         232   20    Male  3rd Class      yes

In [28]:
print(x.info)

<bound method DataFrame.info of      Student_id  Age  Gender      Grade Employed
0             1   19    Male  1st Class      yes
1             2   20  Female  2nd Class       no
2             3   18    Male  1st Class       no
3             4   21  Female  2nd Class       no
4             5   19    Male  1st Class       no
..          ...  ...     ...        ...      ...
227         228   21  Female  1st Class       no
228         229   20    Male  2nd Class       no
229         230   20    Male  3rd Class      yes
230         231   19  Female  1st Class      yes
231         232   20    Male  3rd Class      yes

[232 rows x 5 columns]>

# cleaning empty data

In [3]:
import pandas as pd 
df=pd.read_csv('Wholesale customers data.csv')
print(df.to_string())

     Channel  Region   Fresh   Milk  Grocery  Frozen  Detergents_Paper  Delicassen
0          2       3   12669   9656     7561     214              2674        1338
1          2       3    7057   9810     9568    1762              3293        1776
2          2       3    6353   8808     7684    2405              3516        7844
3          1       3   13265   1196     4221    6404               507        1788
4          2       3   22615   5410     7198    3915              1777        5185
5          2       3    9413   8259     5126     666              1795        1451
6          2       3   12126   3199     6975     480              3140         545
7          2       3    7579   4956     9426    1669              3321        2566
8          1       3    5963   3648     6192     425              1716         750
9          2       3    6006  11093    18881    1159              7425        2098
10         2       3    3366   5403    12974    4400              5977        1744
11         2       3   13146   1124     4523    1420               549         497
12         2       3   31714  12319    11757     287              3881        2931
13         2       3   21217   6208    14982    3095              6707         602
14         2       3   24653   9465    12091     294              5058        2168
15         1       3   10253   1114     3821     397               964         412
16         2       3    1020   8816    12121     134              4508        1080
17         1       3    5876   6157     2933     839               370        4478
18         2       3   18601   6327    10099    2205              2767        3181
19         1       3    7780   2495     9464     669              2518         501
20         2       3   17546   4519     4602    1066              2259        2124
21         1       3    5567    871     2010    3383               375         569
22         1       3   31276   1917     4469    9408              2381        4334
23         2       3   26373  36423    22019    5154              4337       16523
24         2       3   22647   9776    13792    2915              4482        5778
25         2       3   16165   4230     7595     201              4003          57
26         1       3    9898    961     2861    3151               242         833
27         1       3   14276    803     3045     485               100         518
28         2       3    4113  20484    25957    1158              8604        5206
29         1       3   43088   2100     2609    1200              1107         823
30         1       3   18815   3610    11107    1148              2134        2963
31         1       3    2612   4339     3133    2088               820         985
32         1       3   21632   1318     2886     266               918         405
33         1       3   29729   4786     7326    6130               361        1083
34         1       3    1502   1979     2262     425               483         395
35         2       3     688   5491    11091     833              4239         436
36         1       3   29955   4362     5428    1729               862        4626
37         2       3   15168  10556    12477    1920              6506         714
38         2       3    4591  15729    16709      33              6956         433
39         1       3   56159    555      902   10002               212        2916
40         1       3   24025   4332     4757    9510              1145        5864
41         1       3   19176   3065     5956    2033              2575        2802
42         2       3   10850   7555    14961     188              6899          46
43         2       3     630  11095    23998     787              9529          72
44         2       3    9670   7027    10471     541              4618          65
45         2       3    5181  22044    21531    1740              7353        4985
46         2       3    3103  14069    21955    1668              6792        1452
47         2       3   44466  54259    55571    7782             24171        6465
48         2       3   11519   6152    10868     584              5121        1476
49         2       3    4967  21412    28921    1798             13583        1163
50         1       3    6269   1095     1980    3860               609        2162
51         1       3    3347   4051     6996     239              1538         301
52         2       3   40721   3916     5876     532              2587        1278
53         2       3     491  10473    11532     744              5611         224
54         1       3   27329   1449     1947    2436               204        1333
55         1       3    5264   3683     5005    1057              2024        1130
56         2       3    4098  29892    26866    2616             17740        1340
57         2       3    5417   9933    10487      38              7572        1282
58         1       3   13779   1970     1648     596               227         436
59         1       3    6137   5360     8040     129              3084        1603
60         2       3    8590   3045     7854      96              4095         225
61         2       3   35942  38369    59598    3254             26701        2017
62         2       3    7823   6245     6544    4154              4074         964
63         2       3    9396  11601    15775    2896              7677        1295
64         1       3    4760   1227     3250    3724              1247        1145
65         2       3      85  20959    45828      36             24231        1423
66         1       3       9   1534     7417     175              3468          27
67         2       3   19913   6759    13462    1256              5141         834
68         1       3    2446   7260     3993    5870               788        3095
69         1       3    8352   2820     1293     779               656         144
70         1       3   16705   2037     3202   10643               116        1365
71         1       3   18291   1266    21042    5373              4173       14472
72         1       3    4420   5139     2661    8872              1321         181
73         2       3   19899   5332     8713    8132               764         648
74         2       3    8190   6343     9794    1285              1901        1780
75         1       3   20398   1137        3    4407                 3         975
76         1       3     717   3587     6532    7530               529         894
77         2       3   12205  12697    28540     869             12034        1009
78         1       3   10766   1175     2067    2096               301         167
79         1       3    1640   3259     3655     868              1202        1653
80         1       3    7005    829     3009     430               610         529
81         2       3     219   9540    14403     283              7818         156
82         2       3   10362   9232    11009     737              3537        2342
83         1       3   20874   1563     1783    2320               550         772
84         2       3   11867   3327     4814    1178              3837         120
85         2       3   16117  46197    92780    1026             40827        2944
86         2       3   22925  73498    32114     987             20070         903
87         1       3   43265   5025     8117    6312              1579       14351
88         1       3    7864    542     4042    9735               165          46
89         1       3   24904   3836     5330    3443               454        3178
90         1       3   11405    596     1638    3347                69         360
91         1       3   12754   2762     2530    8693               627        1117
92         2       3    9198  27472    32034    3232             18906        5130
93         1       3   11314   3090     2062   35009                71        2698
94         2       3    5626  12220    11323     206              5038         244
95         1       3       3   2920     6252     440               223         709
96         2       3      23   2616     8118     145              3874         217
97         1       3     403    254      610     774                54          63
98         1       3     503    112      778     895                56         132
99         1       3    9658   2182     1909    5639               215         323
100        2       3   11594   7779    12144    3252              8035        3029
101        2       3    1420  10810    16267    1593              6766        1838
102        2       3    2932   6459     7677    2561              4573        1386
103        1       3   56082   3504     8906   18028              1480        2498
104        1       3   14100   2132     3445    1336              1491         548
105        1       3   15587   1014     3970     910               139        1378
106        2       3    1454   6337    10704     133              6830        1831
107        2       3    8797  10646    14886    2471              8969        1438
108        2       3    1531   8397     6981     247              2505        1236
109        2       3    1406  16729    28986     673               836           3
110        1       3   11818   1648     1694    2276               169        1647
111        2       3   12579  11114    17569     805              6457        1519
112        1       3   19046   2770     2469    8853               483        2708
113        1       3   14438   2295     1733    3220               585        1561
114        1       3   18044   1080     2000    2555               118        1266
115        1       3   11134    793     2988    2715               276         610
116        1       3   11173   2521     3355    1517               310         222
117        1       3    6990   3880     5380    1647               319        1160
118        1       3   20049   1891     2362    5343               411         933
119        1       3    8258   2344     2147    3896               266         635
120        1       3   17160   1200     3412    2417               174        1136
121        1       3    4020   3234     1498    2395               264         255
122        1       3   12212    201      245    1991                25         860
123        2       3   11170  10769     8814    2194              1976         143
124        1       3   36050   1642     2961    4787               500        1621
125        1       3   76237   3473     7102   16538               778         918
126        1       3   19219   1840     1658    8195               349         483
127        2       3   21465   7243    10685     880              2386        2749
128        1       3     140   8847     3823     142              1062           3
129        1       3   42312    926     1510    1718               410        1819
130        1       3    7149   2428      699    6316               395         911
131        1       3    2101    589      314     346                70         310
132        1       3   14903   2032     2479     576               955         328
133        1       3    9434   1042     1235     436               256         396
134        1       3    7388   1882     2174     720                47         537
135        1       3    6300   1289     2591    1170               199         326
136        1       3    4625   8579     7030    4575              2447        1542
137        1       3    3087   8080     8282     661               721          36
138        1       3   13537   4257     5034     155               249        3271
139        1       3    5387   4979     3343     825               637         929
140        1       3   17623   4280     7305    2279               960        2616
141        1       3   30379  13252     5189     321                51        1450
142        1       3   37036   7152     8253    2995                20           3
143        1       3   10405   1596     1096    8425               399         318
144        1       3   18827   3677     1988     118               516         201
145        2       3   22039   8384    34792      42             12591        4430
146        1       3    7769   1936     2177     926                73         520
147        1       3    9203   3373     2707    1286              1082         526
148        1       3    5924    584      542    4052               283         434
149        1       3   31812   1433     1651     800               113        1440
150        1       3   16225   1825     1765     853               170        1067
151        1       3    1289   3328     2022     531               255        1774
152        1       3   18840   1371     3135    3001               352         184
153        1       3    3463   9250     2368     779               302        1627
154        1       3     622     55      137      75                 7           8
155        2       3    1989  10690    19460     233             11577        2153
156        2       3    3830   5291    14855     317              6694        3182
157        1       3   17773   1366     2474    3378               811         418
158        2       3    2861   6570     9618     930              4004        1682
159        2       3     355   7704    14682     398              8077         303
160        2       3    1725   3651    12822     824              4424        2157
161        1       3   12434    540      283    1092                 3        2233
162        1       3   15177   2024     3810    2665               232         610
163        2       3    5531  15726    26870    2367             13726         446
164        2       3    5224   7603     8584    2540              3674         238
165        2       3   15615  12653    19858    4425              7108        2379
166        2       3    4822   6721     9170     993              4973        3637
167        1       3    2926   3195     3268     405              1680         693
168        1       3    5809    735      803    1393                79         429
169        1       3    5414    717     2155    2399                69         750
170        2       3     260   8675    13430    1116              7015         323
171        2       3     200  25862    19816     651              8773        6250
172        1       3     955   5479     6536     333              2840         707
173        2       3     514   7677    19805     937              9836         716
174        1       3     286   1208     5241    2515               153        1442
175        2       3    2343   7845    11874      52              4196        1697
176        1       3   45640   6958     6536    7368              1532         230
177        1       3   12759   7330     4533    1752                20        2631
178        1       3   11002   7075     4945    1152               120         395
179        1       3    3157   4888     2500    4477               273        2165
180        1       3   12356   6036     8887     402              1382        2794
181        1       3  112151  29627    18148   16745              4948        8550
182        1       3     694   8533    10518     443              6907         156
183        1       3   36847  43950    20170   36534               239       47943
184        1       3     327    918     4710      74               334          11
185        1       3    8170   6448     1139    2181                58         247
186        1       3    3009    521      854    3470               949         727
187        1       3    2438   8002     9819    6269              3459           3
188        2       3    8040   7639    11687    2758              6839         404
189        2       3     834  11577    11522     275              4027        1856
190        1       3   16936   6250     1981    7332               118          64
191        1       3   13624    295     1381     890                43          84
192        1       3    5509   1461     2251     547               187         409
193        2       3     180   3485    20292     959              5618         666
194        1       3    7107   1012     2974     806               355        1142
195        1       3   17023   5139     5230    7888               330        1755
196        1       1   30624   7209     4897   18711               763        2876
197        2       1    2427   7097    10391    1127              4314        1468
198        1       1   11686   2154     6824    3527               592         697
199        1       1    9670   2280     2112     520               402         347
200        2       1    3067  13240    23127    3941              9959         731
201        2       1    4484  14399    24708    3549             14235        1681
202        1       1   25203  11487     9490    5065               284        6854
203        1       1     583    685     2216     469               954          18
204        1       1    1956    891     5226    1383                 5        1328
205        2       1    1107  11711    23596     955              9265         710
206        1       1    6373    780      950     878               288         285
207        2       1    2541   4737     6089    2946              5316         120
208        1       1    1537   3748     5838    1859              3381         806
209        2       1    5550  12729    16767     864             12420         797
210        1       1   18567   1895     1393    1801               244        2100
211        2       1   12119  28326    39694    4736             19410        2870
212        1       1    7291   1012     2062    1291               240        1775
213        1       1    3317   6602     6861    1329              3961        1215
214        2       1    2362   6551    11364     913              5957         791
215        1       1    2806  10765    15538    1374              5828        2388
216        2       1    2532  16599    36486     179             13308         674
217        1       1   18044   1475     2046    2532               130        1158
218        2       1      18   7504    15205    1285              4797        6372
219        1       1    4155    367     1390    2306                86         130
220        1       1   14755    899     1382    1765                56         749
221        1       1    5396   7503    10646      91              4167         239
222        1       1    5041   1115     2856    7496               256         375
223        2       1    2790   2527     5265    5612               788        1360
224        1       1    7274    659     1499     784                70         659
225        1       1   12680   3243     4157     660               761         786
226        2       1   20782   5921     9212    1759              2568        1553
227        1       1    4042   2204     1563    2286               263         689
228        1       1    1869    577      572     950              4762         203
229        1       1    8656   2746     2501    6845               694         980
230        2       1   11072   5989     5615    8321               955        2137
231        1       1    2344  10678     3828    1439              1566         490
232        1       1   25962   1780     3838     638               284         834
233        1       1     964   4984     3316     937               409           7
234        1       1   15603   2703     3833    4260               325        2563
235        1       1    1838   6380     2824    1218              1216         295
236        1       1    8635    820     3047    2312               415         225
237        1       1   18692   3838      593    4634                28        1215
238        1       1    7363    475      585    1112                72         216

In [5]:
import pandas as pd
df=pd.read_csv('Wholesale customers data.csv')
x=df.dropna()
print(x.to_string())

     Channel  Region   Fresh   Milk  Grocery  Frozen  Detergents_Paper  Delicassen
0          2       3   12669   9656     7561     214              2674        1338
1          2       3    7057   9810     9568    1762              3293        1776
2          2       3    6353   8808     7684    2405              3516        7844
3          1       3   13265   1196     4221    6404               507        1788
4          2       3   22615   5410     7198    3915              1777        5185
5          2       3    9413   8259     5126     666              1795        1451
6          2       3   12126   3199     6975     480              3140         545
7          2       3    7579   4956     9426    1669              3321        2566
8          1       3    5963   3648     6192     425              1716         750
9          2       3    6006  11093    18881    1159              7425        2098
10         2       3    3366   5403    12974    4400              5977        1744
11         2       3   13146   1124     4523    1420               549         497
12         2       3   31714  12319    11757     287              3881        2931
13         2       3   21217   6208    14982    3095              6707         602
14         2       3   24653   9465    12091     294              5058        2168
15         1       3   10253   1114     3821     397               964         412
16         2       3    1020   8816    12121     134              4508        1080
17         1       3    5876   6157     2933     839               370        4478
18         2       3   18601   6327    10099    2205              2767        3181
19         1       3    7780   2495     9464     669              2518         501
20         2       3   17546   4519     4602    1066              2259        2124
21         1       3    5567    871     2010    3383               375         569
22         1       3   31276   1917     4469    9408              2381        4334
23         2       3   26373  36423    22019    5154              4337       16523
24         2       3   22647   9776    13792    2915              4482        5778
25         2       3   16165   4230     7595     201              4003          57
26         1       3    9898    961     2861    3151               242         833
27         1       3   14276    803     3045     485               100         518
28         2       3    4113  20484    25957    1158              8604        5206
29         1       3   43088   2100     2609    1200              1107         823
30         1       3   18815   3610    11107    1148              2134        2963
31         1       3    2612   4339     3133    2088               820         985
32         1       3   21632   1318     2886     266               918         405
33         1       3   29729   4786     7326    6130               361        1083
34         1       3    1502   1979     2262     425               483         395
35         2       3     688   5491    11091     833              4239         436
36         1       3   29955   4362     5428    1729               862        4626
37         2       3   15168  10556    12477    1920              6506         714
38         2       3    4591  15729    16709      33              6956         433
39         1       3   56159    555      902   10002               212        2916
40         1       3   24025   4332     4757    9510              1145        5864
41         1       3   19176   3065     5956    2033              2575        2802
42         2       3   10850   7555    14961     188              6899          46
43         2       3     630  11095    23998     787              9529          72
44         2       3    9670   7027    10471     541              4618          65
45         2       3    5181  22044    21531    1740              7353        4985
46         2       3    3103  14069    21955    1668              6792        1452
47         2       3   44466  54259    55571    7782             24171        6465
48         2       3   11519   6152    10868     584              5121        1476
49         2       3    4967  21412    28921    1798             13583        1163
50         1       3    6269   1095     1980    3860               609        2162
51         1       3    3347   4051     6996     239              1538         301
52         2       3   40721   3916     5876     532              2587        1278
53         2       3     491  10473    11532     744              5611         224
54         1       3   27329   1449     1947    2436               204        1333
55         1       3    5264   3683     5005    1057              2024        1130
56         2       3    4098  29892    26866    2616             17740        1340
57         2       3    5417   9933    10487      38              7572        1282
58         1       3   13779   1970     1648     596               227         436
59         1       3    6137   5360     8040     129              3084        1603
60         2       3    8590   3045     7854      96              4095         225
61         2       3   35942  38369    59598    3254             26701        2017
62         2       3    7823   6245     6544    4154              4074         964
63         2       3    9396  11601    15775    2896              7677        1295
64         1       3    4760   1227     3250    3724              1247        1145
65         2       3      85  20959    45828      36             24231        1423
66         1       3       9   1534     7417     175              3468          27
67         2       3   19913   6759    13462    1256              5141         834
68         1       3    2446   7260     3993    5870               788        3095
69         1       3    8352   2820     1293     779               656         144
70         1       3   16705   2037     3202   10643               116        1365
71         1       3   18291   1266    21042    5373              4173       14472
72         1       3    4420   5139     2661    8872              1321         181
73         2       3   19899   5332     8713    8132               764         648
74         2       3    8190   6343     9794    1285              1901        1780
75         1       3   20398   1137        3    4407                 3         975
76         1       3     717   3587     6532    7530               529         894
77         2       3   12205  12697    28540     869             12034        1009
78         1       3   10766   1175     2067    2096               301         167
79         1       3    1640   3259     3655     868              1202        1653
80         1       3    7005    829     3009     430               610         529
81         2       3     219   9540    14403     283              7818         156
82         2       3   10362   9232    11009     737              3537        2342
83         1       3   20874   1563     1783    2320               550         772
84         2       3   11867   3327     4814    1178              3837         120
85         2       3   16117  46197    92780    1026             40827        2944
86         2       3   22925  73498    32114     987             20070         903
87         1       3   43265   5025     8117    6312              1579       14351
88         1       3    7864    542     4042    9735               165          46
89         1       3   24904   3836     5330    3443               454        3178
90         1       3   11405    596     1638    3347                69         360
91         1       3   12754   2762     2530    8693               627        1117
92         2       3    9198  27472    32034    3232             18906        5130
93         1       3   11314   3090     2062   35009                71        2698
94         2       3    5626  12220    11323     206              5038         244
95         1       3       3   2920     6252     440               223         709
96         2       3      23   2616     8118     145              3874         217
97         1       3     403    254      610     774                54          63
98         1       3     503    112      778     895                56         132
99         1       3    9658   2182     1909    5639               215         323
100        2       3   11594   7779    12144    3252              8035        3029
101        2       3    1420  10810    16267    1593              6766        1838
102        2       3    2932   6459     7677    2561              4573        1386
103        1       3   56082   3504     8906   18028              1480        2498
104        1       3   14100   2132     3445    1336              1491         548
105        1       3   15587   1014     3970     910               139        1378
106        2       3    1454   6337    10704     133              6830        1831
107        2       3    8797  10646    14886    2471              8969        1438
108        2       3    1531   8397     6981     247              2505        1236
109        2       3    1406  16729    28986     673               836           3
110        1       3   11818   1648     1694    2276               169        1647
111        2       3   12579  11114    17569     805              6457        1519
112        1       3   19046   2770     2469    8853               483        2708
113        1       3   14438   2295     1733    3220               585        1561
114        1       3   18044   1080     2000    2555               118        1266
115        1       3   11134    793     2988    2715               276         610
116        1       3   11173   2521     3355    1517               310         222
117        1       3    6990   3880     5380    1647               319        1160
118        1       3   20049   1891     2362    5343               411         933
119        1       3    8258   2344     2147    3896               266         635
120        1       3   17160   1200     3412    2417               174        1136
121        1       3    4020   3234     1498    2395               264         255
122        1       3   12212    201      245    1991                25         860
123        2       3   11170  10769     8814    2194              1976         143
124        1       3   36050   1642     2961    4787               500        1621
125        1       3   76237   3473     7102   16538               778         918
126        1       3   19219   1840     1658    8195               349         483
127        2       3   21465   7243    10685     880              2386        2749
128        1       3     140   8847     3823     142              1062           3
129        1       3   42312    926     1510    1718               410        1819
130        1       3    7149   2428      699    6316               395         911
131        1       3    2101    589      314     346                70         310
132        1       3   14903   2032     2479     576               955         328
133        1       3    9434   1042     1235     436               256         396
134        1       3    7388   1882     2174     720                47         537
135        1       3    6300   1289     2591    1170               199         326
136        1       3    4625   8579     7030    4575              2447        1542
137        1       3    3087   8080     8282     661               721          36
138        1       3   13537   4257     5034     155               249        3271
139        1       3    5387   4979     3343     825               637         929
140        1       3   17623   4280     7305    2279               960        2616
141        1       3   30379  13252     5189     321                51        1450
142        1       3   37036   7152     8253    2995                20           3
143        1       3   10405   1596     1096    8425               399         318
144        1       3   18827   3677     1988     118               516         201
145        2       3   22039   8384    34792      42             12591        4430
146        1       3    7769   1936     2177     926                73         520
147        1       3    9203   3373     2707    1286              1082         526
148        1       3    5924    584      542    4052               283         434
149        1       3   31812   1433     1651     800               113        1440
150        1       3   16225   1825     1765     853               170        1067
151        1       3    1289   3328     2022     531               255        1774
152        1       3   18840   1371     3135    3001               352         184
153        1       3    3463   9250     2368     779               302        1627
154        1       3     622     55      137      75                 7           8
155        2       3    1989  10690    19460     233             11577        2153
156        2       3    3830   5291    14855     317              6694        3182
157        1       3   17773   1366     2474    3378               811         418
158        2       3    2861   6570     9618     930              4004        1682
159        2       3     355   7704    14682     398              8077         303
160        2       3    1725   3651    12822     824              4424        2157
161        1       3   12434    540      283    1092                 3        2233
162        1       3   15177   2024     3810    2665               232         610
163        2       3    5531  15726    26870    2367             13726         446
164        2       3    5224   7603     8584    2540              3674         238
165        2       3   15615  12653    19858    4425              7108        2379
166        2       3    4822   6721     9170     993              4973        3637
167        1       3    2926   3195     3268     405              1680         693
168        1       3    5809    735      803    1393                79         429
169        1       3    5414    717     2155    2399                69         750
170        2       3     260   8675    13430    1116              7015         323
171        2       3     200  25862    19816     651              8773        6250
172        1       3     955   5479     6536     333              2840         707
173        2       3     514   7677    19805     937              9836         716
174        1       3     286   1208     5241    2515               153        1442
175        2       3    2343   7845    11874      52              4196        1697
176        1       3   45640   6958     6536    7368              1532         230
177        1       3   12759   7330     4533    1752                20        2631
178        1       3   11002   7075     4945    1152               120         395
179        1       3    3157   4888     2500    4477               273        2165
180        1       3   12356   6036     8887     402              1382        2794
181        1       3  112151  29627    18148   16745              4948        8550
182        1       3     694   8533    10518     443              6907         156
183        1       3   36847  43950    20170   36534               239       47943
184        1       3     327    918     4710      74               334          11
185        1       3    8170   6448     1139    2181                58         247
186        1       3    3009    521      854    3470               949         727
187        1       3    2438   8002     9819    6269              3459           3
188        2       3    8040   7639    11687    2758              6839         404
189        2       3     834  11577    11522     275              4027        1856
190        1       3   16936   6250     1981    7332               118          64
191        1       3   13624    295     1381     890                43          84
192        1       3    5509   1461     2251     547               187         409
193        2       3     180   3485    20292     959              5618         666
194        1       3    7107   1012     2974     806               355        1142
195        1       3   17023   5139     5230    7888               330        1755
196        1       1   30624   7209     4897   18711               763        2876
197        2       1    2427   7097    10391    1127              4314        1468
198        1       1   11686   2154     6824    3527               592         697
199        1       1    9670   2280     2112     520               402         347
200        2       1    3067  13240    23127    3941              9959         731
201        2       1    4484  14399    24708    3549             14235        1681
202        1       1   25203  11487     9490    5065               284        6854
203        1       1     583    685     2216     469               954          18
204        1       1    1956    891     5226    1383                 5        1328
205        2       1    1107  11711    23596     955              9265         710
206        1       1    6373    780      950     878               288         285
207        2       1    2541   4737     6089    2946              5316         120
208        1       1    1537   3748     5838    1859              3381         806
209        2       1    5550  12729    16767     864             12420         797
210        1       1   18567   1895     1393    1801               244        2100
211        2       1   12119  28326    39694    4736             19410        2870
212        1       1    7291   1012     2062    1291               240        1775
213        1       1    3317   6602     6861    1329              3961        1215
214        2       1    2362   6551    11364     913              5957         791
215        1       1    2806  10765    15538    1374              5828        2388
216        2       1    2532  16599    36486     179             13308         674
217        1       1   18044   1475     2046    2532               130        1158
218        2       1      18   7504    15205    1285              4797        6372
219        1       1    4155    367     1390    2306                86         130
220        1       1   14755    899     1382    1765                56         749
221        1       1    5396   7503    10646      91              4167         239
222        1       1    5041   1115     2856    7496               256         375
223        2       1    2790   2527     5265    5612               788        1360
224        1       1    7274    659     1499     784                70         659
225        1       1   12680   3243     4157     660               761         786
226        2       1   20782   5921     9212    1759              2568        1553
227        1       1    4042   2204     1563    2286               263         689
228        1       1    1869    577      572     950              4762         203
229        1       1    8656   2746     2501    6845               694         980
230        2       1   11072   5989     5615    8321               955        2137
231        1       1    2344  10678     3828    1439              1566         490
232        1       1   25962   1780     3838     638               284         834
233        1       1     964   4984     3316     937               409           7
234        1       1   15603   2703     3833    4260               325        2563
235        1       1    1838   6380     2824    1218              1216         295
236        1       1    8635    820     3047    2312               415         225
237        1       1   18692   3838      593    4634                28        1215
238        1       1    7363    475      585    1112                72         216

In [7]:
import pandas as pd 
df=pd.read_csv('Wholesale customers data.csv')
x=df.dropna(inplace=True)
print(x)

None

# Replacing

In [10]:
import pandas as pd 
df=pd.read_csv('titanic.csv')
df.fillna(2222,inplace=True)
print(df.to_string())

     survived  pclass     sex      age  sibsp  parch      fare embarked   class    who  adult_male  deck  embark_town alive  alone
0           0       3    male    22.00      1      0    7.2500        S   Third    man        True  2222  Southampton    no  False
1           1       1  female    38.00      1      0   71.2833        C   First  woman       False     C    Cherbourg   yes  False
2           1       3  female    26.00      0      0    7.9250        S   Third  woman       False  2222  Southampton   yes   True
3           1       1  female    35.00      1      0   53.1000        S   First  woman       False     C  Southampton   yes  False
4           0       3    male    35.00      0      0    8.0500        S   Third    man        True  2222  Southampton    no   True
5           0       3    male  2222.00      0      0    8.4583        Q   Third    man        True  2222   Queenstown    no   True
6           0       1    male    54.00      0      0   51.8625        S   First    man        True     E  Southampton    no   True
7           0       3    male     2.00      3      1   21.0750        S   Third  child       False  2222  Southampton    no  False
8           1       3  female    27.00      0      2   11.1333        S   Third  woman       False  2222  Southampton   yes  False
9           1       2  female    14.00      1      0   30.0708        C  Second  child       False  2222    Cherbourg   yes  False
10          1       3  female     4.00      1      1   16.7000        S   Third  child       False     G  Southampton   yes  False
11          1       1  female    58.00      0      0   26.5500        S   First  woman       False     C  Southampton   yes   True
12          0       3    male    20.00      0      0    8.0500        S   Third    man        True  2222  Southampton    no   True
13          0       3    male    39.00      1      5   31.2750        S   Third    man        True  2222  Southampton    no  False
14          0       3  female    14.00      0      0    7.8542        S   Third  child       False  2222  Southampton    no   True
15          1       2  female    55.00      0      0   16.0000        S  Second  woman       False  2222  Southampton   yes   True
16          0       3    male     2.00      4      1   29.1250        Q   Third  child       False  2222   Queenstown    no  False
17          1       2    male  2222.00      0      0   13.0000        S  Second    man        True  2222  Southampton   yes   True
18          0       3  female    31.00      1      0   18.0000        S   Third  woman       False  2222  Southampton    no  False
19          1       3  female  2222.00      0      0    7.2250        C   Third  woman       False  2222    Cherbourg   yes   True
20          0       2    male    35.00      0      0   26.0000        S  Second    man        True  2222  Southampton    no   True
21          1       2    male    34.00      0      0   13.0000        S  Second    man        True     D  Southampton   yes   True
22          1       3  female    15.00      0      0    8.0292        Q   Third  child       False  2222   Queenstown   yes   True
23          1       1    male    28.00      0      0   35.5000        S   First    man        True     A  Southampton   yes   True
24          0       3  female     8.00      3      1   21.0750        S   Third  child       False  2222  Southampton    no  False
25          1       3  female    38.00      1      5   31.3875        S   Third  woman       False  2222  Southampton   yes  False
26          0       3    male  2222.00      0      0    7.2250        C   Third    man        True  2222    Cherbourg    no   True
27          0       1    male    19.00      3      2  263.0000        S   First    man        True     C  Southampton    no  False
28          1       3  female  2222.00      0      0    7.8792        Q   Third  woman       False  2222   Queenstown   yes   True
29          0       3    male  2222.00      0      0    7.8958        S   Third    man        True  2222  Southampton    no   True
30          0       1    male    40.00      0      0   27.7208        C   First    man        True  2222    Cherbourg    no   True
31          1       1  female  2222.00      1      0  146.5208        C   First  woman       False     B    Cherbourg   yes  False
32          1       3  female  2222.00      0      0    7.7500        Q   Third  woman       False  2222   Queenstown   yes   True
33          0       2    male    66.00      0      0   10.5000        S  Second    man        True  2222  Southampton    no   True
34          0       1    male    28.00      1      0   82.1708        C   First    man        True  2222    Cherbourg    no  False
35          0       1    male    42.00      1      0   52.0000        S   First    man        True  2222  Southampton    no  False
36          1       3    male  2222.00      0      0    7.2292        C   Third    man        True  2222    Cherbourg   yes   True
37          0       3    male    21.00      0      0    8.0500        S   Third    man        True  2222  Southampton    no   True
38          0       3  female    18.00      2      0   18.0000        S   Third  woman       False  2222  Southampton    no  False
39          1       3  female    14.00      1      0   11.2417        C   Third  child       False  2222    Cherbourg   yes  False
40          0       3  female    40.00      1      0    9.4750        S   Third  woman       False  2222  Southampton    no  False
41          0       2  female    27.00      1      0   21.0000        S  Second  woman       False  2222  Southampton    no  False
42          0       3    male  2222.00      0      0    7.8958        C   Third    man        True  2222    Cherbourg    no   True
43          1       2  female     3.00      1      2   41.5792        C  Second  child       False  2222    Cherbourg   yes  False
44          1       3  female    19.00      0      0    7.8792        Q   Third  woman       False  2222   Queenstown   yes   True
45          0       3    male  2222.00      0      0    8.0500        S   Third    man        True  2222  Southampton    no   True
46          0       3    male  2222.00      1      0   15.5000        Q   Third    man        True  2222   Queenstown    no  False
47          1       3  female  2222.00      0      0    7.7500        Q   Third  woman       False  2222   Queenstown   yes   True
48          0       3    male  2222.00      2      0   21.6792        C   Third    man        True  2222    Cherbourg    no  False
49          0       3  female    18.00      1      0   17.8000        S   Third  woman       False  2222  Southampton    no  False
50          0       3    male     7.00      4      1   39.6875        S   Third  child       False  2222  Southampton    no  False
51          0       3    male    21.00      0      0    7.8000        S   Third    man        True  2222  Southampton    no   True
52          1       1  female    49.00      1      0   76.7292        C   First  woman       False     D    Cherbourg   yes  False
53          1       2  female    29.00      1      0   26.0000        S  Second  woman       False  2222  Southampton   yes  False
54          0       1    male    65.00      0      1   61.9792        C   First    man        True     B    Cherbourg    no  False
55          1       1    male  2222.00      0      0   35.5000        S   First    man        True     C  Southampton   yes   True
56          1       2  female    21.00      0      0   10.5000        S  Second  woman       False  2222  Southampton   yes   True
57          0       3    male    28.50      0      0    7.2292        C   Third    man        True  2222    Cherbourg    no   True
58          1       2  female     5.00      1      2   27.7500        S  Second  child       False  2222  Southampton   yes  False
59          0       3    male    11.00      5      2   46.9000        S   Third  child       False  2222  Southampton    no  False
60          0       3    male    22.00      0      0    7.2292        C   Third    man        True  2222    Cherbourg    no   True
61          1       1  female    38.00      0      0   80.0000     2222   First  woman       False     B         2222   yes   True
62          0       1    male    45.00      1      0   83.4750        S   First    man        True     C  Southampton    no  False
63          0       3    male     4.00      3      2   27.9000        S   Third  child       False  2222  Southampton    no  False
64          0       1    male  2222.00      0      0   27.7208        C   First    man        True  2222    Cherbourg    no   True
65          1       3    male  2222.00      1      1   15.2458        C   Third    man        True  2222    Cherbourg   yes  False
66          1       2  female    29.00      0      0   10.5000        S  Second  woman       False     F  Southampton   yes   True
67          0       3    male    19.00      0      0    8.1583        S   Third    man        True  2222  Southampton    no   True
68          1       3  female    17.00      4      2    7.9250        S   Third  woman       False  2222  Southampton   yes  False
69          0       3    male    26.00      2      0    8.6625        S   Third    man        True  2222  Southampton    no  False
70          0       2    male    32.00      0      0   10.5000        S  Second    man        True  2222  Southampton    no   True
71          0       3  female    16.00      5      2   46.9000        S   Third  woman       False  2222  Southampton    no  False
72          0       2    male    21.00      0      0   73.5000        S  Second    man        True  2222  Southampton    no   True
73          0       3    male    26.00      1      0   14.4542        C   Third    man        True  2222    Cherbourg    no  False
74          1       3    male    32.00      0      0   56.4958        S   Third    man        True  2222  Southampton   yes   True
75          0       3    male    25.00      0      0    7.6500        S   Third    man        True     F  Southampton    no   True
76          0       3    male  2222.00      0      0    7.8958        S   Third    man        True  2222  Southampton    no   True
77          0       3    male  2222.00      0      0    8.0500        S   Third    man        True  2222  Southampton    no   True
78          1       2    male     0.83      0      2   29.0000        S  Second  child       False  2222  Southampton   yes  False
79          1       3  female    30.00      0      0   12.4750        S   Third  woman       False  2222  Southampton   yes   True
80          0       3    male    22.00      0      0    9.0000        S   Third    man        True  2222  Southampton    no   True
81          1       3    male    29.00      0      0    9.5000        S   Third    man        True  2222  Southampton   yes   True
82          1       3  female  2222.00      0      0    7.7875        Q   Third  woman       False  2222   Queenstown   yes   True
83          0       1    male    28.00      0      0   47.1000        S   First    man        True  2222  Southampton    no   True
84          1       2  female    17.00      0      0   10.5000        S  Second  woman       False  2222  Southampton   yes   True
85          1       3  female    33.00      3      0   15.8500        S   Third  woman       False  2222  Southampton   yes  False
86          0       3    male    16.00      1      3   34.3750        S   Third    man        True  2222  Southampton    no  False
87          0       3    male  2222.00      0      0    8.0500        S   Third    man        True  2222  Southampton    no   True
88          1       1  female    23.00      3      2  263.0000        S   First  woman       False     C  Southampton   yes  False
89          0       3    male    24.00      0      0    8.0500        S   Third    man        True  2222  Southampton    no   True
90          0       3    male    29.00      0      0    8.0500        S   Third    man        True  2222  Southampton    no   True
91          0       3    male    20.00      0      0    7.8542        S   Third    man        True  2222  Southampton    no   True
92          0       1    male    46.00      1      0   61.1750        S   First    man        True     E  Southampton    no  False
93          0       3    male    26.00      1      2   20.5750        S   Third    man        True  2222  Southampton    no  False
94          0       3    male    59.00      0      0    7.2500        S   Third    man        True  2222  Southampton    no   True
95          0       3    male  2222.00      0      0    8.0500        S   Third    man        True  2222  Southampton    no   True
96          0       1    male    71.00      0      0   34.6542        C   First    man        True     A    Cherbourg    no   True
97          1       1    male    23.00      0      1   63.3583        C   First    man        True     D    Cherbourg   yes  False
98          1       2  female    34.00      0      1   23.0000        S  Second  woman       False  2222  Southampton   yes  False
99          0       2    male    34.00      1      0   26.0000        S  Second    man        True  2222  Southampton    no  False
100         0       3  female    28.00      0      0    7.8958        S   Third  woman       False  2222  Southampton    no   True
101         0       3    male  2222.00      0      0    7.8958        S   Third    man        True  2222  Southampton    no   True
102         0       1    male    21.00      0      1   77.2875        S   First    man        True     D  Southampton    no  False
103         0       3    male    33.00      0      0    8.6542        S   Third    man        True  2222  Southampton    no   True
104         0       3    male    37.00      2      0    7.9250        S   Third    man        True  2222  Southampton    no  False
105         0       3    male    28.00      0      0    7.8958        S   Third    man        True  2222  Southampton    no   True
106         1       3  female    21.00      0      0    7.6500        S   Third  woman       False  2222  Southampton   yes   True
107         1       3    male  2222.00      0      0    7.7750        S   Third    man        True  2222  Southampton   yes   True
108         0       3    male    38.00      0      0    7.8958        S   Third    man        True  2222  Southampton    no   True
109         1       3  female  2222.00      1      0   24.1500        Q   Third  woman       False  2222   Queenstown   yes  False
110         0       1    male    47.00      0      0   52.0000        S   First    man        True     C  Southampton    no   True
111         0       3  female    14.50      1      0   14.4542        C   Third  child       False  2222    Cherbourg    no  False
112         0       3    male    22.00      0      0    8.0500        S   Third    man        True  2222  Southampton    no   True
113         0       3  female    20.00      1      0    9.8250        S   Third  woman       False  2222  Southampton    no  False
114         0       3  female    17.00      0      0   14.4583        C   Third  woman       False  2222    Cherbourg    no   True
115         0       3    male    21.00      0      0    7.9250        S   Third    man        True  2222  Southampton    no   True
116         0       3    male    70.50      0      0    7.7500        Q   Third    man        True  2222   Queenstown    no   True
117         0       2    male    29.00      1      0   21.0000        S  Second    man        True  2222  Southampton    no  False
118         0       1    male    24.00      0      1  247.5208        C   First    man        True     B    Cherbourg    no  False
119         0       3  female     2.00      4      2   31.2750        S   Third  child       False  2222  Southampton    no  False
120         0       2    male    21.00      2      0   73.5000        S  Second    man        True  2222  Southampton    no  False
121         0       3    male  2222.00      0      0    8.0500        S   Third    man        True  2222  Southampton    no   True
122         0       2    male    32.50      1      0   30.0708        C  Second    man        True  2222    Cherbourg    no  False
123         1       2  female    32.50      0      0   13.0000        S  Second  woman       False     E  Southampton   yes   True
124         0       1    male    54.00      0      1   77.2875        S   First    man        True     D  Southampton    no  False
125         1       3    male    12.00      1      0   11.2417        C   Third  child       False  2222    Cherbourg   yes  False
126         0       3    male  2222.00      0      0    7.7500        Q   Third    man        True  2222   Queenstown    no   True
127         1       3    male    24.00      0      0    7.1417        S   Third    man        True  2222  Southampton   yes   True
128         1       3  female  2222.00      1      1   22.3583        C   Third  woman       False     F    Cherbourg   yes  False
129         0       3    male    45.00      0      0    6.9750        S   Third    man        True  2222  Southampton    no   True
130         0       3    male    33.00      0      0    7.8958        C   Third    man        True  2222    Cherbourg    no   True
131         0       3    male    20.00      0      0    7.0500        S   Third    man        True  2222  Southampton    no   True
132         0       3  female    47.00      1      0   14.5000        S   Third  woman       False  2222  Southampton    no  False
133         1       2  female    29.00      1      0   26.0000        S  Second  woman       False  2222  Southampton   yes  False
134         0       2    male    25.00      0      0   13.0000        S  Second    man        True  2222  Southampton    no   True
135         0       2    male    23.00      0      0   15.0458        C  Second    man        True  2222    Cherbourg    no   True
136         1       1  female    19.00      0      2   26.2833        S   First  woman       False     D  Southampton   yes  False
137         0       1    male    37.00      1      0   53.1000        S   First    man        True     C  Southampton    no  False
138         0       3    male    16.00      0      0    9.2167        S   Third    man        True  2222  Southampton    no   True
139         0       1    male    24.00      0      0   79.2000        C   First    man        True     B    Cherbourg    no   True
140         0       3  female  2222.00      0      2   15.2458        C   Third  woman       False  2222    Cherbourg    no  False
141         1       3  female    22.00      0      0    7.7500        S   Third  woman       False  2222  Southampton   yes   True
142         1       3  female    24.00      1      0   15.8500        S   Third  woman       False  2222  Southampton   yes  False
143         0       3    male    19.00      0      0    6.7500        Q   Third    man        True  2222   Queenstown    no   True
144         0       2    male    18.00      0      0   11.5000        S  Second    man        True  2222  Southampton    no   True
145         0       2    male    19.00      1      1   36.7500        S  Second    man        True  2222  Southampton    no  False
146         1       3    male    27.00      0      0    7.7958        S   Third    man        True  2222  Southampton   yes   True
147         0       3  female     9.00      2      2   34.3750        S   Third  child       False  2222  Southampton    no  False
148         0       2    male    36.50      0      2   26.0000        S  Second    man        True     F  Southampton    no  False
149         0       2    male    42.00      0      0   13.0000        S  Second    man        True  2222  Southampton    no   True
150         0       2    male    51.00      0      0   12.5250        S  Second    man        True  2222  Southampton    no   True

In [11]:
import pandas as pd
df=pd.read_csv('titanic.csv')
df["age"].fillna(7777,inplace=True)
print(df.to_string())

     survived  pclass     sex      age  sibsp  parch      fare embarked   class    who  adult_male deck  embark_town alive  alone
0           0       3    male    22.00      1      0    7.2500        S   Third    man        True  NaN  Southampton    no  False
1           1       1  female    38.00      1      0   71.2833        C   First  woman       False    C    Cherbourg   yes  False
2           1       3  female    26.00      0      0    7.9250        S   Third  woman       False  NaN  Southampton   yes   True
3           1       1  female    35.00      1      0   53.1000        S   First  woman       False    C  Southampton   yes  False
4           0       3    male    35.00      0      0    8.0500        S   Third    man        True  NaN  Southampton    no   True
5           0       3    male  7777.00      0      0    8.4583        Q   Third    man        True  NaN   Queenstown    no   True
6           0       1    male    54.00      0      0   51.8625        S   First    man        True    E  Southampton    no   True
7           0       3    male     2.00      3      1   21.0750        S   Third  child       False  NaN  Southampton    no  False
8           1       3  female    27.00      0      2   11.1333        S   Third  woman       False  NaN  Southampton   yes  False
9           1       2  female    14.00      1      0   30.0708        C  Second  child       False  NaN    Cherbourg   yes  False
10          1       3  female     4.00      1      1   16.7000        S   Third  child       False    G  Southampton   yes  False
11          1       1  female    58.00      0      0   26.5500        S   First  woman       False    C  Southampton   yes   True
12          0       3    male    20.00      0      0    8.0500        S   Third    man        True  NaN  Southampton    no   True
13          0       3    male    39.00      1      5   31.2750        S   Third    man        True  NaN  Southampton    no  False
14          0       3  female    14.00      0      0    7.8542        S   Third  child       False  NaN  Southampton    no   True
15          1       2  female    55.00      0      0   16.0000        S  Second  woman       False  NaN  Southampton   yes   True
16          0       3    male     2.00      4      1   29.1250        Q   Third  child       False  NaN   Queenstown    no  False
17          1       2    male  7777.00      0      0   13.0000        S  Second    man        True  NaN  Southampton   yes   True
18          0       3  female    31.00      1      0   18.0000        S   Third  woman       False  NaN  Southampton    no  False
19          1       3  female  7777.00      0      0    7.2250        C   Third  woman       False  NaN    Cherbourg   yes   True
20          0       2    male    35.00      0      0   26.0000        S  Second    man        True  NaN  Southampton    no   True
21          1       2    male    34.00      0      0   13.0000        S  Second    man        True    D  Southampton   yes   True
22          1       3  female    15.00      0      0    8.0292        Q   Third  child       False  NaN   Queenstown   yes   True
23          1       1    male    28.00      0      0   35.5000        S   First    man        True    A  Southampton   yes   True
24          0       3  female     8.00      3      1   21.0750        S   Third  child       False  NaN  Southampton    no  False
25          1       3  female    38.00      1      5   31.3875        S   Third  woman       False  NaN  Southampton   yes  False
26          0       3    male  7777.00      0      0    7.2250        C   Third    man        True  NaN    Cherbourg    no   True
27          0       1    male    19.00      3      2  263.0000        S   First    man        True    C  Southampton    no  False
28          1       3  female  7777.00      0      0    7.8792        Q   Third  woman       False  NaN   Queenstown   yes   True
29          0       3    male  7777.00      0      0    7.8958        S   Third    man        True  NaN  Southampton    no   True
30          0       1    male    40.00      0      0   27.7208        C   First    man        True  NaN    Cherbourg    no   True
31          1       1  female  7777.00      1      0  146.5208        C   First  woman       False    B    Cherbourg   yes  False
32          1       3  female  7777.00      0      0    7.7500        Q   Third  woman       False  NaN   Queenstown   yes   True
33          0       2    male    66.00      0      0   10.5000        S  Second    man        True  NaN  Southampton    no   True
34          0       1    male    28.00      1      0   82.1708        C   First    man        True  NaN    Cherbourg    no  False
35          0       1    male    42.00      1      0   52.0000        S   First    man        True  NaN  Southampton    no  False
36          1       3    male  7777.00      0      0    7.2292        C   Third    man        True  NaN    Cherbourg   yes   True
37          0       3    male    21.00      0      0    8.0500        S   Third    man        True  NaN  Southampton    no   True
38          0       3  female    18.00      2      0   18.0000        S   Third  woman       False  NaN  Southampton    no  False
39          1       3  female    14.00      1      0   11.2417        C   Third  child       False  NaN    Cherbourg   yes  False
40          0       3  female    40.00      1      0    9.4750        S   Third  woman       False  NaN  Southampton    no  False
41          0       2  female    27.00      1      0   21.0000        S  Second  woman       False  NaN  Southampton    no  False
42          0       3    male  7777.00      0      0    7.8958        C   Third    man        True  NaN    Cherbourg    no   True
43          1       2  female     3.00      1      2   41.5792        C  Second  child       False  NaN    Cherbourg   yes  False
44          1       3  female    19.00      0      0    7.8792        Q   Third  woman       False  NaN   Queenstown   yes   True
45          0       3    male  7777.00      0      0    8.0500        S   Third    man        True  NaN  Southampton    no   True
46          0       3    male  7777.00      1      0   15.5000        Q   Third    man        True  NaN   Queenstown    no  False
47          1       3  female  7777.00      0      0    7.7500        Q   Third  woman       False  NaN   Queenstown   yes   True
48          0       3    male  7777.00      2      0   21.6792        C   Third    man        True  NaN    Cherbourg    no  False
49          0       3  female    18.00      1      0   17.8000        S   Third  woman       False  NaN  Southampton    no  False
50          0       3    male     7.00      4      1   39.6875        S   Third  child       False  NaN  Southampton    no  False
51          0       3    male    21.00      0      0    7.8000        S   Third    man        True  NaN  Southampton    no   True
52          1       1  female    49.00      1      0   76.7292        C   First  woman       False    D    Cherbourg   yes  False
53          1       2  female    29.00      1      0   26.0000        S  Second  woman       False  NaN  Southampton   yes  False
54          0       1    male    65.00      0      1   61.9792        C   First    man        True    B    Cherbourg    no  False
55          1       1    male  7777.00      0      0   35.5000        S   First    man        True    C  Southampton   yes   True
56          1       2  female    21.00      0      0   10.5000        S  Second  woman       False  NaN  Southampton   yes   True
57          0       3    male    28.50      0      0    7.2292        C   Third    man        True  NaN    Cherbourg    no   True
58          1       2  female     5.00      1      2   27.7500        S  Second  child       False  NaN  Southampton   yes  False
59          0       3    male    11.00      5      2   46.9000        S   Third  child       False  NaN  Southampton    no  False
60          0       3    male    22.00      0      0    7.2292        C   Third    man        True  NaN    Cherbourg    no   True
61          1       1  female    38.00      0      0   80.0000      NaN   First  woman       False    B          NaN   yes   True
62          0       1    male    45.00      1      0   83.4750        S   First    man        True    C  Southampton    no  False
63          0       3    male     4.00      3      2   27.9000        S   Third  child       False  NaN  Southampton    no  False
64          0       1    male  7777.00      0      0   27.7208        C   First    man        True  NaN    Cherbourg    no   True
65          1       3    male  7777.00      1      1   15.2458        C   Third    man        True  NaN    Cherbourg   yes  False
66          1       2  female    29.00      0      0   10.5000        S  Second  woman       False    F  Southampton   yes   True
67          0       3    male    19.00      0      0    8.1583        S   Third    man        True  NaN  Southampton    no   True
68          1       3  female    17.00      4      2    7.9250        S   Third  woman       False  NaN  Southampton   yes  False
69          0       3    male    26.00      2      0    8.6625        S   Third    man        True  NaN  Southampton    no  False
70          0       2    male    32.00      0      0   10.5000        S  Second    man        True  NaN  Southampton    no   True
71          0       3  female    16.00      5      2   46.9000        S   Third  woman       False  NaN  Southampton    no  False
72          0       2    male    21.00      0      0   73.5000        S  Second    man        True  NaN  Southampton    no   True
73          0       3    male    26.00      1      0   14.4542        C   Third    man        True  NaN    Cherbourg    no  False
74          1       3    male    32.00      0      0   56.4958        S   Third    man        True  NaN  Southampton   yes   True
75          0       3    male    25.00      0      0    7.6500        S   Third    man        True    F  Southampton    no   True
76          0       3    male  7777.00      0      0    7.8958        S   Third    man        True  NaN  Southampton    no   True
77          0       3    male  7777.00      0      0    8.0500        S   Third    man        True  NaN  Southampton    no   True
78          1       2    male     0.83      0      2   29.0000        S  Second  child       False  NaN  Southampton   yes  False
79          1       3  female    30.00      0      0   12.4750        S   Third  woman       False  NaN  Southampton   yes   True
80          0       3    male    22.00      0      0    9.0000        S   Third    man        True  NaN  Southampton    no   True
81          1       3    male    29.00      0      0    9.5000        S   Third    man        True  NaN  Southampton   yes   True
82          1       3  female  7777.00      0      0    7.7875        Q   Third  woman       False  NaN   Queenstown   yes   True
83          0       1    male    28.00      0      0   47.1000        S   First    man        True  NaN  Southampton    no   True
84          1       2  female    17.00      0      0   10.5000        S  Second  woman       False  NaN  Southampton   yes   True
85          1       3  female    33.00      3      0   15.8500        S   Third  woman       False  NaN  Southampton   yes  False
86          0       3    male    16.00      1      3   34.3750        S   Third    man        True  NaN  Southampton    no  False
87          0       3    male  7777.00      0      0    8.0500        S   Third    man        True  NaN  Southampton    no   True
88          1       1  female    23.00      3      2  263.0000        S   First  woman       False    C  Southampton   yes  False
89          0       3    male    24.00      0      0    8.0500        S   Third    man        True  NaN  Southampton    no   True
90          0       3    male    29.00      0      0    8.0500        S   Third    man        True  NaN  Southampton    no   True
91          0       3    male    20.00      0      0    7.8542        S   Third    man        True  NaN  Southampton    no   True
92          0       1    male    46.00      1      0   61.1750        S   First    man        True    E  Southampton    no  False
93          0       3    male    26.00      1      2   20.5750        S   Third    man        True  NaN  Southampton    no  False
94          0       3    male    59.00      0      0    7.2500        S   Third    man        True  NaN  Southampton    no   True
95          0       3    male  7777.00      0      0    8.0500        S   Third    man        True  NaN  Southampton    no   True
96          0       1    male    71.00      0      0   34.6542        C   First    man        True    A    Cherbourg    no   True
97          1       1    male    23.00      0      1   63.3583        C   First    man        True    D    Cherbourg   yes  False
98          1       2  female    34.00      0      1   23.0000        S  Second  woman       False  NaN  Southampton   yes  False
99          0       2    male    34.00      1      0   26.0000        S  Second    man        True  NaN  Southampton    no  False
100         0       3  female    28.00      0      0    7.8958        S   Third  woman       False  NaN  Southampton    no   True
101         0       3    male  7777.00      0      0    7.8958        S   Third    man        True  NaN  Southampton    no   True
102         0       1    male    21.00      0      1   77.2875        S   First    man        True    D  Southampton    no  False
103         0       3    male    33.00      0      0    8.6542        S   Third    man        True  NaN  Southampton    no   True
104         0       3    male    37.00      2      0    7.9250        S   Third    man        True  NaN  Southampton    no  False
105         0       3    male    28.00      0      0    7.8958        S   Third    man        True  NaN  Southampton    no   True
106         1       3  female    21.00      0      0    7.6500        S   Third  woman       False  NaN  Southampton   yes   True
107         1       3    male  7777.00      0      0    7.7750        S   Third    man        True  NaN  Southampton   yes   True
108         0       3    male    38.00      0      0    7.8958        S   Third    man        True  NaN  Southampton    no   True
109         1       3  female  7777.00      1      0   24.1500        Q   Third  woman       False  NaN   Queenstown   yes  False
110         0       1    male    47.00      0      0   52.0000        S   First    man        True    C  Southampton    no   True
111         0       3  female    14.50      1      0   14.4542        C   Third  child       False  NaN    Cherbourg    no  False
112         0       3    male    22.00      0      0    8.0500        S   Third    man        True  NaN  Southampton    no   True
113         0       3  female    20.00      1      0    9.8250        S   Third  woman       False  NaN  Southampton    no  False
114         0       3  female    17.00      0      0   14.4583        C   Third  woman       False  NaN    Cherbourg    no   True
115         0       3    male    21.00      0      0    7.9250        S   Third    man        True  NaN  Southampton    no   True
116         0       3    male    70.50      0      0    7.7500        Q   Third    man        True  NaN   Queenstown    no   True
117         0       2    male    29.00      1      0   21.0000        S  Second    man        True  NaN  Southampton    no  False
118         0       1    male    24.00      0      1  247.5208        C   First    man        True    B    Cherbourg    no  False
119         0       3  female     2.00      4      2   31.2750        S   Third  child       False  NaN  Southampton    no  False
120         0       2    male    21.00      2      0   73.5000        S  Second    man        True  NaN  Southampton    no  False
121         0       3    male  7777.00      0      0    8.0500        S   Third    man        True  NaN  Southampton    no   True
122         0       2    male    32.50      1      0   30.0708        C  Second    man        True  NaN    Cherbourg    no  False
123         1       2  female    32.50      0      0   13.0000        S  Second  woman       False    E  Southampton   yes   True
124         0       1    male    54.00      0      1   77.2875        S   First    man        True    D  Southampton    no  False
125         1       3    male    12.00      1      0   11.2417        C   Third  child       False  NaN    Cherbourg   yes  False
126         0       3    male  7777.00      0      0    7.7500        Q   Third    man        True  NaN   Queenstown    no   True
127         1       3    male    24.00      0      0    7.1417        S   Third    man        True  NaN  Southampton   yes   True
128         1       3  female  7777.00      1      1   22.3583        C   Third  woman       False    F    Cherbourg   yes  False
129         0       3    male    45.00      0      0    6.9750        S   Third    man        True  NaN  Southampton    no   True
130         0       3    male    33.00      0      0    7.8958        C   Third    man        True  NaN    Cherbourg    no   True
131         0       3    male    20.00      0      0    7.0500        S   Third    man        True  NaN  Southampton    no   True
132         0       3  female    47.00      1      0   14.5000        S   Third  woman       False  NaN  Southampton    no  False
133         1       2  female    29.00      1      0   26.0000        S  Second  woman       False  NaN  Southampton   yes  False
134         0       2    male    25.00      0      0   13.0000        S  Second    man        True  NaN  Southampton    no   True
135         0       2    male    23.00      0      0   15.0458        C  Second    man        True  NaN    Cherbourg    no   True
136         1       1  female    19.00      0      2   26.2833        S   First  woman       False    D  Southampton   yes  False
137         0       1    male    37.00      1      0   53.1000        S   First    man        True    C  Southampton    no  False
138         0       3    male    16.00      0      0    9.2167        S   Third    man        True  NaN  Southampton    no   True
139         0       1    male    24.00      0      0   79.2000        C   First    man        True    B    Cherbourg    no   True
140         0       3  female  7777.00      0      2   15.2458        C   Third  woman       False  NaN    Cherbourg    no  False
141         1       3  female    22.00      0      0    7.7500        S   Third  woman       False  NaN  Southampton   yes   True
142         1       3  female    24.00      1      0   15.8500        S   Third  woman       False  NaN  Southampton   yes  False
143         0       3    male    19.00      0      0    6.7500        Q   Third    man        True  NaN   Queenstown    no   True
144         0       2    male    18.00      0      0   11.5000        S  Second    man        True  NaN  Southampton    no   True
145         0       2    male    19.00      1      1   36.7500        S  Second    man        True  NaN  Southampton    no  False
146         1       3    male    27.00      0      0    7.7958        S   Third    man        True  NaN  Southampton   yes   True
147         0       3  female     9.00      2      2   34.3750        S   Third  child       False  NaN  Southampton    no  False
148         0       2    male    36.50      0      2   26.0000        S  Second    man        True    F  Southampton    no  False
149         0       2    male    42.00      0      0   13.0000        S  Second    man        True  NaN  Southampton    no   True
150         0       2    male    51.00      0      0   12.5250        S  Second    man        True  NaN  Southampton    no   True
151         1       1  female    22.00      1      0   66.6000        S   First  woman       False    C  Southampton   yes  False

In [14]:
import pandas as pd 
df=pd.read_csv('titanic.csv')
x=df["age"].mode()[0]
df["age"].fillna(x,inplace=True)
print(x)
print(df.to_string())

24.0
     survived  pclass     sex    age  sibsp  parch      fare embarked   class    who  adult_male deck  embark_town alive  alone
0           0       3    male  22.00      1      0    7.2500        S   Third    man        True  NaN  Southampton    no  False
1           1       1  female  38.00      1      0   71.2833        C   First  woman       False    C    Cherbourg   yes  False
2           1       3  female  26.00      0      0    7.9250        S   Third  woman       False  NaN  Southampton   yes   True
3           1       1  female  35.00      1      0   53.1000        S   First  woman       False    C  Southampton   yes  False
4           0       3    male  35.00      0      0    8.0500        S   Third    man        True  NaN  Southampton    no   True
5           0       3    male  24.00      0      0    8.4583        Q   Third    man        True  NaN   Queenstown    no   True
6           0       1    male  54.00      0      0   51.8625        S   First    man        True    E  Southampton    no   True
7           0       3    male   2.00      3      1   21.0750        S   Third  child       False  NaN  Southampton    no  False
8           1       3  female  27.00      0      2   11.1333        S   Third  woman       False  NaN  Southampton   yes  False
9           1       2  female  14.00      1      0   30.0708        C  Second  child       False  NaN    Cherbourg   yes  False
10          1       3  female   4.00      1      1   16.7000        S   Third  child       False    G  Southampton   yes  False
11          1       1  female  58.00      0      0   26.5500        S   First  woman       False    C  Southampton   yes   True
12          0       3    male  20.00      0      0    8.0500        S   Third    man        True  NaN  Southampton    no   True
13          0       3    male  39.00      1      5   31.2750        S   Third    man        True  NaN  Southampton    no  False
14          0       3  female  14.00      0      0    7.8542        S   Third  child       False  NaN  Southampton    no   True
15          1       2  female  55.00      0      0   16.0000        S  Second  woman       False  NaN  Southampton   yes   True
16          0       3    male   2.00      4      1   29.1250        Q   Third  child       False  NaN   Queenstown    no  False
17          1       2    male  24.00      0      0   13.0000        S  Second    man        True  NaN  Southampton   yes   True
18          0       3  female  31.00      1      0   18.0000        S   Third  woman       False  NaN  Southampton    no  False
19          1       3  female  24.00      0      0    7.2250        C   Third  woman       False  NaN    Cherbourg   yes   True
20          0       2    male  35.00      0      0   26.0000        S  Second    man        True  NaN  Southampton    no   True
21          1       2    male  34.00      0      0   13.0000        S  Second    man        True    D  Southampton   yes   True
22          1       3  female  15.00      0      0    8.0292        Q   Third  child       False  NaN   Queenstown   yes   True
23          1       1    male  28.00      0      0   35.5000        S   First    man        True    A  Southampton   yes   True
24          0       3  female   8.00      3      1   21.0750        S   Third  child       False  NaN  Southampton    no  False
25          1       3  female  38.00      1      5   31.3875        S   Third  woman       False  NaN  Southampton   yes  False
26          0       3    male  24.00      0      0    7.2250        C   Third    man        True  NaN    Cherbourg    no   True
27          0       1    male  19.00      3      2  263.0000        S   First    man        True    C  Southampton    no  False
28          1       3  female  24.00      0      0    7.8792        Q   Third  woman       False  NaN   Queenstown   yes   True
29          0       3    male  24.00      0      0    7.8958        S   Third    man        True  NaN  Southampton    no   True
30          0       1    male  40.00      0      0   27.7208        C   First    man        True  NaN    Cherbourg    no   True
31          1       1  female  24.00      1      0  146.5208        C   First  woman       False    B    Cherbourg   yes  False
32          1       3  female  24.00      0      0    7.7500        Q   Third  woman       False  NaN   Queenstown   yes   True
33          0       2    male  66.00      0      0   10.5000        S  Second    man        True  NaN  Southampton    no   True
34          0       1    male  28.00      1      0   82.1708        C   First    man        True  NaN    Cherbourg    no  False
35          0       1    male  42.00      1      0   52.0000        S   First    man        True  NaN  Southampton    no  False
36          1       3    male  24.00      0      0    7.2292        C   Third    man        True  NaN    Cherbourg   yes   True
37          0       3    male  21.00      0      0    8.0500        S   Third    man        True  NaN  Southampton    no   True
38          0       3  female  18.00      2      0   18.0000        S   Third  woman       False  NaN  Southampton    no  False
39          1       3  female  14.00      1      0   11.2417        C   Third  child       False  NaN    Cherbourg   yes  False
40          0       3  female  40.00      1      0    9.4750        S   Third  woman       False  NaN  Southampton    no  False
41          0       2  female  27.00      1      0   21.0000        S  Second  woman       False  NaN  Southampton    no  False
42          0       3    male  24.00      0      0    7.8958        C   Third    man        True  NaN    Cherbourg    no   True
43          1       2  female   3.00      1      2   41.5792        C  Second  child       False  NaN    Cherbourg   yes  False
44          1       3  female  19.00      0      0    7.8792        Q   Third  woman       False  NaN   Queenstown   yes   True
45          0       3    male  24.00      0      0    8.0500        S   Third    man        True  NaN  Southampton    no   True
46          0       3    male  24.00      1      0   15.5000        Q   Third    man        True  NaN   Queenstown    no  False
47          1       3  female  24.00      0      0    7.7500        Q   Third  woman       False  NaN   Queenstown   yes   True
48          0       3    male  24.00      2      0   21.6792        C   Third    man        True  NaN    Cherbourg    no  False
49          0       3  female  18.00      1      0   17.8000        S   Third  woman       False  NaN  Southampton    no  False
50          0       3    male   7.00      4      1   39.6875        S   Third  child       False  NaN  Southampton    no  False
51          0       3    male  21.00      0      0    7.8000        S   Third    man        True  NaN  Southampton    no   True
52          1       1  female  49.00      1      0   76.7292        C   First  woman       False    D    Cherbourg   yes  False
53          1       2  female  29.00      1      0   26.0000        S  Second  woman       False  NaN  Southampton   yes  False
54          0       1    male  65.00      0      1   61.9792        C   First    man        True    B    Cherbourg    no  False
55          1       1    male  24.00      0      0   35.5000        S   First    man        True    C  Southampton   yes   True
56          1       2  female  21.00      0      0   10.5000        S  Second  woman       False  NaN  Southampton   yes   True
57          0       3    male  28.50      0      0    7.2292        C   Third    man        True  NaN    Cherbourg    no   True
58          1       2  female   5.00      1      2   27.7500        S  Second  child       False  NaN  Southampton   yes  False
59          0       3    male  11.00      5      2   46.9000        S   Third  child       False  NaN  Southampton    no  False
60          0       3    male  22.00      0      0    7.2292        C   Third    man        True  NaN    Cherbourg    no   True
61          1       1  female  38.00      0      0   80.0000      NaN   First  woman       False    B          NaN   yes   True
62          0       1    male  45.00      1      0   83.4750        S   First    man        True    C  Southampton    no  False
63          0       3    male   4.00      3      2   27.9000        S   Third  child       False  NaN  Southampton    no  False
64          0       1    male  24.00      0      0   27.7208        C   First    man        True  NaN    Cherbourg    no   True
65          1       3    male  24.00      1      1   15.2458        C   Third    man        True  NaN    Cherbourg   yes  False
66          1       2  female  29.00      0      0   10.5000        S  Second  woman       False    F  Southampton   yes   True
67          0       3    male  19.00      0      0    8.1583        S   Third    man        True  NaN  Southampton    no   True
68          1       3  female  17.00      4      2    7.9250        S   Third  woman       False  NaN  Southampton   yes  False
69          0       3    male  26.00      2      0    8.6625        S   Third    man        True  NaN  Southampton    no  False
70          0       2    male  32.00      0      0   10.5000        S  Second    man        True  NaN  Southampton    no   True
71          0       3  female  16.00      5      2   46.9000        S   Third  woman       False  NaN  Southampton    no  False
72          0       2    male  21.00      0      0   73.5000        S  Second    man        True  NaN  Southampton    no   True
73          0       3    male  26.00      1      0   14.4542        C   Third    man        True  NaN    Cherbourg    no  False
74          1       3    male  32.00      0      0   56.4958        S   Third    man        True  NaN  Southampton   yes   True
75          0       3    male  25.00      0      0    7.6500        S   Third    man        True    F  Southampton    no   True
76          0       3    male  24.00      0      0    7.8958        S   Third    man        True  NaN  Southampton    no   True
77          0       3    male  24.00      0      0    8.0500        S   Third    man        True  NaN  Southampton    no   True
78          1       2    male   0.83      0      2   29.0000        S  Second  child       False  NaN  Southampton   yes  False
79          1       3  female  30.00      0      0   12.4750        S   Third  woman       False  NaN  Southampton   yes   True
80          0       3    male  22.00      0      0    9.0000        S   Third    man        True  NaN  Southampton    no   True
81          1       3    male  29.00      0      0    9.5000        S   Third    man        True  NaN  Southampton   yes   True
82          1       3  female  24.00      0      0    7.7875        Q   Third  woman       False  NaN   Queenstown   yes   True
83          0       1    male  28.00      0      0   47.1000        S   First    man        True  NaN  Southampton    no   True
84          1       2  female  17.00      0      0   10.5000        S  Second  woman       False  NaN  Southampton   yes   True
85          1       3  female  33.00      3      0   15.8500        S   Third  woman       False  NaN  Southampton   yes  False
86          0       3    male  16.00      1      3   34.3750        S   Third    man        True  NaN  Southampton    no  False
87          0       3    male  24.00      0      0    8.0500        S   Third    man        True  NaN  Southampton    no   True
88          1       1  female  23.00      3      2  263.0000        S   First  woman       False    C  Southampton   yes  False
89          0       3    male  24.00      0      0    8.0500        S   Third    man        True  NaN  Southampton    no   True
90          0       3    male  29.00      0      0    8.0500        S   Third    man        True  NaN  Southampton    no   True
91          0       3    male  20.00      0      0    7.8542        S   Third    man        True  NaN  Southampton    no   True
92          0       1    male  46.00      1      0   61.1750        S   First    man        True    E  Southampton    no  False
93          0       3    male  26.00      1      2   20.5750        S   Third    man        True  NaN  Southampton    no  False
94          0       3    male  59.00      0      0    7.2500        S   Third    man        True  NaN  Southampton    no   True
95          0       3    male  24.00      0      0    8.0500        S   Third    man        True  NaN  Southampton    no   True
96          0       1    male  71.00      0      0   34.6542        C   First    man        True    A    Cherbourg    no   True
97          1       1    male  23.00      0      1   63.3583        C   First    man        True    D    Cherbourg   yes  False
98          1       2  female  34.00      0      1   23.0000        S  Second  woman       False  NaN  Southampton   yes  False
99          0       2    male  34.00      1      0   26.0000        S  Second    man        True  NaN  Southampton    no  False
100         0       3  female  28.00      0      0    7.8958        S   Third  woman       False  NaN  Southampton    no   True
101         0       3    male  24.00      0      0    7.8958        S   Third    man        True  NaN  Southampton    no   True
102         0       1    male  21.00      0      1   77.2875        S   First    man        True    D  Southampton    no  False
103         0       3    male  33.00      0      0    8.6542        S   Third    man        True  NaN  Southampton    no   True
104         0       3    male  37.00      2      0    7.9250        S   Third    man        True  NaN  Southampton    no  False
105         0       3    male  28.00      0      0    7.8958        S   Third    man        True  NaN  Southampton    no   True
106         1       3  female  21.00      0      0    7.6500        S   Third  woman       False  NaN  Southampton   yes   True
107         1       3    male  24.00      0      0    7.7750        S   Third    man        True  NaN  Southampton   yes   True
108         0       3    male  38.00      0      0    7.8958        S   Third    man        True  NaN  Southampton    no   True
109         1       3  female  24.00      1      0   24.1500        Q   Third  woman       False  NaN   Queenstown   yes  False
110         0       1    male  47.00      0      0   52.0000        S   First    man        True    C  Southampton    no   True
111         0       3  female  14.50      1      0   14.4542        C   Third  child       False  NaN    Cherbourg    no  False
112         0       3    male  22.00      0      0    8.0500        S   Third    man        True  NaN  Southampton    no   True
113         0       3  female  20.00      1      0    9.8250        S   Third  woman       False  NaN  Southampton    no  False
114         0       3  female  17.00      0      0   14.4583        C   Third  woman       False  NaN    Cherbourg    no   True
115         0       3    male  21.00      0      0    7.9250        S   Third    man        True  NaN  Southampton    no   True
116         0       3    male  70.50      0      0    7.7500        Q   Third    man        True  NaN   Queenstown    no   True
117         0       2    male  29.00      1      0   21.0000        S  Second    man        True  NaN  Southampton    no  False
118         0       1    male  24.00      0      1  247.5208        C   First    man        True    B    Cherbourg    no  False
119         0       3  female   2.00      4      2   31.2750        S   Third  child       False  NaN  Southampton    no  False
120         0       2    male  21.00      2      0   73.5000        S  Second    man        True  NaN  Southampton    no  False
121         0       3    male  24.00      0      0    8.0500        S   Third    man        True  NaN  Southampton    no   True
122         0       2    male  32.50      1      0   30.0708        C  Second    man        True  NaN    Cherbourg    no  False
123         1       2  female  32.50      0      0   13.0000        S  Second  woman       False    E  Southampton   yes   True
124         0       1    male  54.00      0      1   77.2875        S   First    man        True    D  Southampton    no  False
125         1       3    male  12.00      1      0   11.2417        C   Third  child       False  NaN    Cherbourg   yes  False
126         0       3    male  24.00      0      0    7.7500        Q   Third    man        True  NaN   Queenstown    no   True
127         1       3    male  24.00      0      0    7.1417        S   Third    man        True  NaN  Southampton   yes   True
128         1       3  female  24.00      1      1   22.3583        C   Third  woman       False    F    Cherbourg   yes  False
129         0       3    male  45.00      0      0    6.9750        S   Third    man        True  NaN  Southampton    no   True
130         0       3    male  33.00      0      0    7.8958        C   Third    man        True  NaN    Cherbourg    no   True
131         0       3    male  20.00      0      0    7.0500        S   Third    man        True  NaN  Southampton    no   True
132         0       3  female  47.00      1      0   14.5000        S   Third  woman       False  NaN  Southampton    no  False
133         1       2  female  29.00      1      0   26.0000        S  Second  woman       False  NaN  Southampton   yes  False
134         0       2    male  25.00      0      0   13.0000        S  Second    man        True  NaN  Southampton    no   True
135         0       2    male  23.00      0      0   15.0458        C  Second    man        True  NaN    Cherbourg    no   True
136         1       1  female  19.00      0      2   26.2833        S   First  woman       False    D  Southampton   yes  False
137         0       1    male  37.00      1      0   53.1000        S   First    man        True    C  Southampton    no  False
138         0       3    male  16.00      0      0    9.2167        S   Third    man        True  NaN  Southampton    no   True
139         0       1    male  24.00      0      0   79.2000        C   First    man        True    B    Cherbourg    no   True
140         0       3  female  24.00      0      2   15.2458        C   Third  woman       False  NaN    Cherbourg    no  False
141         1       3  female  22.00      0      0    7.7500        S   Third  woman       False  NaN  Southampton   yes   True
142         1       3  female  24.00      1      0   15.8500        S   Third  woman       False  NaN  Southampton   yes  False
143         0       3    male  19.00      0      0    6.7500        Q   Third    man        True  NaN   Queenstown    no   True
144         0       2    male  18.00      0      0   11.5000        S  Second    man        True  NaN  Southampton    no   True
145         0       2    male  19.00      1      1   36.7500        S  Second    man        True  NaN  Southampton    no  False
146         1       3    male  27.00      0      0    7.7958        S   Third    man        True  NaN  Southampton   yes   True
147         0       3  female   9.00      2      2   34.3750        S   Third  child       False  NaN  Southampton    no  False
148         0       2    male  36.50      0      2   26.0000        S  Second    man        True    F  Southampton    no  False
149         0       2    male  42.00      0      0   13.0000        S  Second    man        True  NaN  Southampton    no   True
150         0       2    male  51.00      0      0   12.5250        S  Second    man        True  NaN  Southampton    no   True
151         1       1  female  22.00      1      0   66.6000        S   First  woman       False    C  Southampton   yes  False
152         0       3    male  55.50      0      0    8.0500        S   Third    man        True  NaN  Southampton    no   True
153         0       3    male  40.50      0      2   14.5000        S   Third    man        True  NaN  Southampton    no  False
154         0       3    male  24.00      0      0    7.3125        S   Third    man        True  NaN  Southampton    no   True

In [15]:
import pandas as pd 

df=pd.read_csv('mark.csv')
print(df.to_string())

     Student_id  Mark     City
0             1    95  Chennai
1             2    70    Delhi
2             3    98   Mumbai
3             4    75     Pune
4             5    89    Kochi
5             6    69  Gwalior
6             7    52   Bhopal
7             8    54  Chennai
8             9    55    Delhi
9            10    94   Mumbai
10           11    52     Pune
11           12    90    Kochi
12           13    92  Gwalior
13           14    55   Bhopal
14           15    97     Pune
15           16    77    Kochi
16           17    68  Gwalior
17           18    51   Bhopal
18           19    72  Chennai
19           20    79    Delhi
20           21    49   Mumbai
21           22    78     Pune
22           23    76  Chennai
23           24    43    Delhi
24           25    89   Mumbai
25           26    75     Pune
26           27    45    Kochi
27           28    98  Gwalior
28           29    54   Bhopal
29           30    81  Chennai
30           31    74    Delhi
31           32    82   Mumbai
32           33    78     Pune
33           34    83    Kochi
34           35    79  Gwalior
35           36    55   Bhopal
36           37    53     Pune
37           38    55    Kochi
38           39    84  Gwalior
39           40    44   Bhopal
40           41    85  Chennai
41           42    86    Delhi
42           43    45   Mumbai
43           44    95     Pune
44           45    73  Chennai
45           46    79    Delhi
46           47    46   Mumbai
47           48    67     Pune
48           49    68    Kochi
49           50    47  Gwalior
50           51    65   Bhopal
51           52    67  Chennai
52           53    49    Delhi
53           54    82   Mumbai
54           55    69     Pune
55           56    48    Kochi
56           57    85  Gwalior
57           58    42   Bhopal
58           59    89     Pune
59           60    66    Kochi
60           61    98  Gwalior
61           62    77   Bhopal
62           63    98  Chennai
63           64    78    Delhi
64           65    43   Mumbai
65           66    59     Pune
66           67    58  Chennai
67           68    87    Delhi
68           69    55   Mumbai
69           70    86     Pune
70           71    85    Kochi
71           72    54  Gwalior
72           73    89   Bhopal
73           74    77  Chennai
74           75    79    Delhi
75           76    53   Mumbai
76           77    77     Pune
77           78    76    Kochi
78           79    56  Gwalior
79           80    75   Bhopal
80           81    74     Pune
81           82    59    Kochi
82           83    98  Gwalior
83           84    73   Bhopal
84           85    58  Chennai
85           86    97    Delhi
86           87    57   Mumbai
87           88    96     Pune
88           89    75  Chennai
89           90    94    Delhi
90           91    74   Mumbai
91           92    93     Pune
92           93    74    Kochi
93           94    53  Gwalior
94           95    50   Bhopal
95           96    40  Chennai
96           97    87    Delhi
97           98    44   Mumbai
98           99    86     Pune
99          100    84    Kochi
100         101    43  Gwalior
101         102    98  Chennai
102         103    75    Delhi
103         104    78   Mumbai
104         105    42     Pune
105         106    77    Kochi
106         107    78  Gwalior
107         108    41   Bhopal
108         109    79  Chennai
109         110    76    Delhi
110         111    45   Mumbai
111         112    97     Pune
112         113    75    Kochi
113         114    46  Gwalior
114         115    96   Bhopal
115         116    47     Pune
116         117    90    Kochi
117         118    79  Gwalior
118         119    91   Bhopal
119         120    77  Chennai
120         121    87    Delhi
121         122    75   Mumbai
122         123    48     Pune
123         124    49  Chennai
124         125    55    Delhi
125         126    88   Mumbai
126         127    56     Pune
127         128    86    Kochi
128         129    89  Gwalior
129         130    57   Bhopal
130         131    90  Chennai
131         132    75    Delhi
132         133    75   Mumbai
133         134    58     Pune
134         135    75    Kochi
135         136    74  Gwalior
136         137    59  Chennai
137         138    73    Delhi
138         139    72   Mumbai
139         140    50     Pune
140         141    93    Kochi
141         142    71  Gwalior
142         143    40   Bhopal
143         144    97  Chennai
144         145    43    Delhi
145         146    98   Mumbai
146         147    70     Pune
147         148    99    Kochi
148         149    77  Gwalior
149         150   100   Bhopal
150         151    78     Pune
151         152    45    Kochi
152         153    46  Gwalior
153         154    47   Bhopal
154         155    89  Chennai
155         156    49    Delhi
156         157    86   Mumbai
157         158    92     Pune
158         159    50  Chennai
159         160    92    Delhi
160         161    79   Mumbai
161         162    79     Pune
162         163    59    Kochi
163         164    75  Gwalior
164         165    75   Bhopal
165         166    53  Chennai
166         167    74    Delhi
167         168    74   Mumbai
168         169    53     Pune
169         170    90    Kochi
170         171    73  Gwalior
171         172    52  Chennai
172         173    98    Delhi
173         174    56   Mumbai
174         175    84     Pune
175         176    77    Kochi
176         177    97  Gwalior
177         178    76   Bhopal
178         179    94  Chennai
179         180    76    Delhi
180         181    56   Mumbai
181         182    58     Pune
182         183    59    Kochi
183         184    87  Gwalior
184         185    50   Bhopal
185         186    85     Pune
186         187    83    Kochi
187         188    40  Gwalior
188         189    89   Bhopal
189         190    75  Chennai
190         191    77    Delhi
191         192    44   Mumbai
192         193    75     Pune
193         194    74  Chennai
194         195    43    Delhi
195         196    74   Mumbai
196         197    74     Pune
197         198    53    Kochi
198         199    87  Gwalior
199         200    75   Bhopal
200         201    42  Chennai
201         202    80    Delhi
202         203    46   Mumbai
203         204    91     Pune
204         205    78    Kochi
205         206    80  Gwalior
206         207    79  Chennai
207         208    91    Delhi
208         209    70   Mumbai
209         210    59     Pune
210         211    58    Kochi
211         212    56  Gwalior
212         213    92   Bhopal
213         214    54  Chennai
214         215    93    Delhi
215         216    95   Mumbai
216         217    53     Pune
217         218    96    Kochi
218         219    75  Gwalior
219         220    75   Bhopal
220         221    52     Pune
221         222    74    Kochi
222         223    79  Gwalior
223         224    50   Bhopal
224         225    72  Chennai
225         226    71    Delhi
226         227    51   Mumbai
227         228    99     Pune
228         229    70  Chennai
229         230    55    Delhi
230         231    97   Mumbai
231         232    59     Pune

In [17]:
print(df.loc[2])

Student_id         3
Mark              98
City          Mumbai
Name: 2, dtype: object

In [22]:
df.loc[2,'Mark']=52
print(df.loc[2])

Student_id         3
Mark              52
City          Mumbai
mark             5.0
Name: 2, dtype: object

In [24]:
for x in df.index:
    if df.loc[x,"Mark"]>70:
        df.loc[x,"Mark"]=0
print(df.to_string())

     Student_id  Mark     City  mark
0             1     0  Chennai   NaN
1             2    70    Delhi   NaN
2             3    52   Mumbai   5.0
3             4     0     Pune   NaN
4             5     0    Kochi   NaN
5             6    69  Gwalior   NaN
6             7    52   Bhopal   NaN
7             8    54  Chennai   NaN
8             9    55    Delhi   NaN
9            10     0   Mumbai   NaN
10           11    52     Pune   NaN
11           12     0    Kochi   NaN
12           13     0  Gwalior   NaN
13           14    55   Bhopal   NaN
14           15     0     Pune   NaN
15           16     0    Kochi   NaN
16           17    68  Gwalior   NaN
17           18    51   Bhopal   NaN
18           19     0  Chennai   NaN
19           20     0    Delhi   NaN
20           21    49   Mumbai   NaN
21           22     0     Pune   NaN
22           23     0  Chennai   NaN
23           24    43    Delhi   NaN
24           25     0   Mumbai   NaN
25           26     0     Pune   NaN
26           27    45    Kochi   NaN
27           28     0  Gwalior   NaN
28           29    54   Bhopal   NaN
29           30     0  Chennai   NaN
30           31     0    Delhi   NaN
31           32     0   Mumbai   NaN
32           33     0     Pune   NaN
33           34     0    Kochi   NaN
34           35     0  Gwalior   NaN
35           36    55   Bhopal   NaN
36           37    53     Pune   NaN
37           38    55    Kochi   NaN
38           39     0  Gwalior   NaN
39           40    44   Bhopal   NaN
40           41     0  Chennai   NaN
41           42     0    Delhi   NaN
42           43    45   Mumbai   NaN
43           44     0     Pune   NaN
44           45     0  Chennai   NaN
45           46     0    Delhi   NaN
46           47    46   Mumbai   NaN
47           48    67     Pune   NaN
48           49    68    Kochi   NaN
49           50    47  Gwalior   NaN
50           51    65   Bhopal   NaN
51           52    67  Chennai   NaN
52           53    49    Delhi   NaN
53           54     0   Mumbai   NaN
54           55    69     Pune   NaN
55           56    48    Kochi   NaN
56           57     0  Gwalior   NaN
57           58    42   Bhopal   NaN
58           59     0     Pune   NaN
59           60    66    Kochi   NaN
60           61     0  Gwalior   NaN
61           62     0   Bhopal   NaN
62           63     0  Chennai   NaN
63           64     0    Delhi   NaN
64           65    43   Mumbai   NaN
65           66    59     Pune   NaN
66           67    58  Chennai   NaN
67           68     0    Delhi   NaN
68           69    55   Mumbai   NaN
69           70     0     Pune   NaN
70           71     0    Kochi   NaN
71           72    54  Gwalior   NaN
72           73     0   Bhopal   NaN
73           74     0  Chennai   NaN
74           75     0    Delhi   NaN
75           76    53   Mumbai   NaN
76           77     0     Pune   NaN
77           78     0    Kochi   NaN
78           79    56  Gwalior   NaN
79           80     0   Bhopal   NaN
80           81     0     Pune   NaN
81           82    59    Kochi   NaN
82           83     0  Gwalior   NaN
83           84     0   Bhopal   NaN
84           85    58  Chennai   NaN
85           86     0    Delhi   NaN
86           87    57   Mumbai   NaN
87           88     0     Pune   NaN
88           89     0  Chennai   NaN
89           90     0    Delhi   NaN
90           91     0   Mumbai   NaN
91           92     0     Pune   NaN
92           93     0    Kochi   NaN
93           94    53  Gwalior   NaN
94           95    50   Bhopal   NaN
95           96    40  Chennai   NaN
96           97     0    Delhi   NaN
97           98    44   Mumbai   NaN
98           99     0     Pune   NaN
99          100     0    Kochi   NaN
100         101    43  Gwalior   NaN
101         102     0  Chennai   NaN
102         103     0    Delhi   NaN
103         104     0   Mumbai   NaN
104         105    42     Pune   NaN
105         106     0    Kochi   NaN
106         107     0  Gwalior   NaN
107         108    41   Bhopal   NaN
108         109     0  Chennai   NaN
109         110     0    Delhi   NaN
110         111    45   Mumbai   NaN
111         112     0     Pune   NaN
112         113     0    Kochi   NaN
113         114    46  Gwalior   NaN
114         115     0   Bhopal   NaN
115         116    47     Pune   NaN
116         117     0    Kochi   NaN
117         118     0  Gwalior   NaN
118         119     0   Bhopal   NaN
119         120     0  Chennai   NaN
120         121     0    Delhi   NaN
121         122     0   Mumbai   NaN
122         123    48     Pune   NaN
123         124    49  Chennai   NaN
124         125    55    Delhi   NaN
125         126     0   Mumbai   NaN
126         127    56     Pune   NaN
127         128     0    Kochi   NaN
128         129     0  Gwalior   NaN
129         130    57   Bhopal   NaN
130         131     0  Chennai   NaN
131         132     0    Delhi   NaN
132         133     0   Mumbai   NaN
133         134    58     Pune   NaN
134         135     0    Kochi   NaN
135         136     0  Gwalior   NaN
136         137    59  Chennai   NaN
137         138     0    Delhi   NaN
138         139     0   Mumbai   NaN
139         140    50     Pune   NaN
140         141     0    Kochi   NaN
141         142     0  Gwalior   NaN
142         143    40   Bhopal   NaN
143         144     0  Chennai   NaN
144         145    43    Delhi   NaN
145         146     0   Mumbai   NaN
146         147    70     Pune   NaN
147         148     0    Kochi   NaN
148         149     0  Gwalior   NaN
149         150     0   Bhopal   NaN
150         151     0     Pune   NaN
151         152    45    Kochi   NaN
152         153    46  Gwalior   NaN
153         154    47   Bhopal   NaN
154         155     0  Chennai   NaN
155         156    49    Delhi   NaN
156         157     0   Mumbai   NaN
157         158     0     Pune   NaN
158         159    50  Chennai   NaN
159         160     0    Delhi   NaN
160         161     0   Mumbai   NaN
161         162     0     Pune   NaN
162         163    59    Kochi   NaN
163         164     0  Gwalior   NaN
164         165     0   Bhopal   NaN
165         166    53  Chennai   NaN
166         167     0    Delhi   NaN
167         168     0   Mumbai   NaN
168         169    53     Pune   NaN
169         170     0    Kochi   NaN
170         171     0  Gwalior   NaN
171         172    52  Chennai   NaN
172         173     0    Delhi   NaN
173         174    56   Mumbai   NaN
174         175     0     Pune   NaN
175         176     0    Kochi   NaN
176         177     0  Gwalior   NaN
177         178     0   Bhopal   NaN
178         179     0  Chennai   NaN
179         180     0    Delhi   NaN
180         181    56   Mumbai   NaN
181         182    58     Pune   NaN
182         183    59    Kochi   NaN
183         184     0  Gwalior   NaN
184         185    50   Bhopal   NaN
185         186     0     Pune   NaN
186         187     0    Kochi   NaN
187         188    40  Gwalior   NaN
188         189     0   Bhopal   NaN
189         190     0  Chennai   NaN
190         191     0    Delhi   NaN
191         192    44   Mumbai   NaN
192         193     0     Pune   NaN
193         194     0  Chennai   NaN
194         195    43    Delhi   NaN
195         196     0   Mumbai   NaN
196         197     0     Pune   NaN
197         198    53    Kochi   NaN
198         199     0  Gwalior   NaN
199         200     0   Bhopal   NaN
200         201    42  Chennai   NaN
201         202     0    Delhi   NaN
202         203    46   Mumbai   NaN
203         204     0     Pune   NaN
204         205     0    Kochi   NaN
205         206     0  Gwalior   NaN
206         207     0  Chennai   NaN
207         208     0    Delhi   NaN
208         209    70   Mumbai   NaN
209         210    59     Pune   NaN
210         211    58    Kochi   NaN
211         212    56  Gwalior   NaN
212         213     0   Bhopal   NaN
213         214    54  Chennai   NaN
214         215     0    Delhi   NaN
215         216     0   Mumbai   NaN
216         217    53     Pune   NaN
217         218     0    Kochi   NaN
218         219     0  Gwalior   NaN
219         220     0   Bhopal   NaN
220         221    52     Pune   NaN
221         222     0    Kochi   NaN
222         223     0  Gwalior   NaN
223         224    50   Bhopal   NaN
224         225     0  Chennai   NaN
225         226     0    Delhi   NaN
226         227    51   Mumbai   NaN
227         228     0     Pune   NaN
228         229    70  Chennai   NaN
229         230    55    Delhi   NaN
230         231     0   Mumbai   NaN
231         232    59     Pune   NaN

In [29]:
print(df.duplicated())

0      False
1      False
2      False
3      False
4      False
       ...
227    False
228    False
229    False
230    False
231    False
Length: 232, dtype: bool

In [1]:
df.drop_dupilicated

NameError: name 'df' is not defined

In [3]:
import pandas as pd 
df=pd.read_csv('titanic.csv')
print(df.to_string())

     survived  pclass     sex    age  sibsp  parch      fare embarked   class    who  adult_male deck  embark_town alive  alone
0           0       3    male  22.00      1      0    7.2500        S   Third    man        True  NaN  Southampton    no  False
1           1       1  female  38.00      1      0   71.2833        C   First  woman       False    C    Cherbourg   yes  False
2           1       3  female  26.00      0      0    7.9250        S   Third  woman       False  NaN  Southampton   yes   True
3           1       1  female  35.00      1      0   53.1000        S   First  woman       False    C  Southampton   yes  False
4           0       3    male  35.00      0      0    8.0500        S   Third    man        True  NaN  Southampton    no   True
5           0       3    male    NaN      0      0    8.4583        Q   Third    man        True  NaN   Queenstown    no   True
6           0       1    male  54.00      0      0   51.8625        S   First    man        True    E  Southampton    no   True
7           0       3    male   2.00      3      1   21.0750        S   Third  child       False  NaN  Southampton    no  False
8           1       3  female  27.00      0      2   11.1333        S   Third  woman       False  NaN  Southampton   yes  False
9           1       2  female  14.00      1      0   30.0708        C  Second  child       False  NaN    Cherbourg   yes  False
10          1       3  female   4.00      1      1   16.7000        S   Third  child       False    G  Southampton   yes  False
11          1       1  female  58.00      0      0   26.5500        S   First  woman       False    C  Southampton   yes   True
12          0       3    male  20.00      0      0    8.0500        S   Third    man        True  NaN  Southampton    no   True
13          0       3    male  39.00      1      5   31.2750        S   Third    man        True  NaN  Southampton    no  False
14          0       3  female  14.00      0      0    7.8542        S   Third  child       False  NaN  Southampton    no   True
15          1       2  female  55.00      0      0   16.0000        S  Second  woman       False  NaN  Southampton   yes   True
16          0       3    male   2.00      4      1   29.1250        Q   Third  child       False  NaN   Queenstown    no  False
17          1       2    male    NaN      0      0   13.0000        S  Second    man        True  NaN  Southampton   yes   True
18          0       3  female  31.00      1      0   18.0000        S   Third  woman       False  NaN  Southampton    no  False
19          1       3  female    NaN      0      0    7.2250        C   Third  woman       False  NaN    Cherbourg   yes   True
20          0       2    male  35.00      0      0   26.0000        S  Second    man        True  NaN  Southampton    no   True
21          1       2    male  34.00      0      0   13.0000        S  Second    man        True    D  Southampton   yes   True
22          1       3  female  15.00      0      0    8.0292        Q   Third  child       False  NaN   Queenstown   yes   True
23          1       1    male  28.00      0      0   35.5000        S   First    man        True    A  Southampton   yes   True
24          0       3  female   8.00      3      1   21.0750        S   Third  child       False  NaN  Southampton    no  False
25          1       3  female  38.00      1      5   31.3875        S   Third  woman       False  NaN  Southampton   yes  False
26          0       3    male    NaN      0      0    7.2250        C   Third    man        True  NaN    Cherbourg    no   True
27          0       1    male  19.00      3      2  263.0000        S   First    man        True    C  Southampton    no  False
28          1       3  female    NaN      0      0    7.8792        Q   Third  woman       False  NaN   Queenstown   yes   True
29          0       3    male    NaN      0      0    7.8958        S   Third    man        True  NaN  Southampton    no   True
30          0       1    male  40.00      0      0   27.7208        C   First    man        True  NaN    Cherbourg    no   True
31          1       1  female    NaN      1      0  146.5208        C   First  woman       False    B    Cherbourg   yes  False
32          1       3  female    NaN      0      0    7.7500        Q   Third  woman       False  NaN   Queenstown   yes   True
33          0       2    male  66.00      0      0   10.5000        S  Second    man        True  NaN  Southampton    no   True
34          0       1    male  28.00      1      0   82.1708        C   First    man        True  NaN    Cherbourg    no  False
35          0       1    male  42.00      1      0   52.0000        S   First    man        True  NaN  Southampton    no  False
36          1       3    male    NaN      0      0    7.2292        C   Third    man        True  NaN    Cherbourg   yes   True
37          0       3    male  21.00      0      0    8.0500        S   Third    man        True  NaN  Southampton    no   True
38          0       3  female  18.00      2      0   18.0000        S   Third  woman       False  NaN  Southampton    no  False
39          1       3  female  14.00      1      0   11.2417        C   Third  child       False  NaN    Cherbourg   yes  False
40          0       3  female  40.00      1      0    9.4750        S   Third  woman       False  NaN  Southampton    no  False
41          0       2  female  27.00      1      0   21.0000        S  Second  woman       False  NaN  Southampton    no  False
42          0       3    male    NaN      0      0    7.8958        C   Third    man        True  NaN    Cherbourg    no   True
43          1       2  female   3.00      1      2   41.5792        C  Second  child       False  NaN    Cherbourg   yes  False
44          1       3  female  19.00      0      0    7.8792        Q   Third  woman       False  NaN   Queenstown   yes   True
45          0       3    male    NaN      0      0    8.0500        S   Third    man        True  NaN  Southampton    no   True
46          0       3    male    NaN      1      0   15.5000        Q   Third    man        True  NaN   Queenstown    no  False
47          1       3  female    NaN      0      0    7.7500        Q   Third  woman       False  NaN   Queenstown   yes   True
48          0       3    male    NaN      2      0   21.6792        C   Third    man        True  NaN    Cherbourg    no  False
49          0       3  female  18.00      1      0   17.8000        S   Third  woman       False  NaN  Southampton    no  False
50          0       3    male   7.00      4      1   39.6875        S   Third  child       False  NaN  Southampton    no  False
51          0       3    male  21.00      0      0    7.8000        S   Third    man        True  NaN  Southampton    no   True
52          1       1  female  49.00      1      0   76.7292        C   First  woman       False    D    Cherbourg   yes  False
53          1       2  female  29.00      1      0   26.0000        S  Second  woman       False  NaN  Southampton   yes  False
54          0       1    male  65.00      0      1   61.9792        C   First    man        True    B    Cherbourg    no  False
55          1       1    male    NaN      0      0   35.5000        S   First    man        True    C  Southampton   yes   True
56          1       2  female  21.00      0      0   10.5000        S  Second  woman       False  NaN  Southampton   yes   True
57          0       3    male  28.50      0      0    7.2292        C   Third    man        True  NaN    Cherbourg    no   True
58          1       2  female   5.00      1      2   27.7500        S  Second  child       False  NaN  Southampton   yes  False
59          0       3    male  11.00      5      2   46.9000        S   Third  child       False  NaN  Southampton    no  False
60          0       3    male  22.00      0      0    7.2292        C   Third    man        True  NaN    Cherbourg    no   True
61          1       1  female  38.00      0      0   80.0000      NaN   First  woman       False    B          NaN   yes   True
62          0       1    male  45.00      1      0   83.4750        S   First    man        True    C  Southampton    no  False
63          0       3    male   4.00      3      2   27.9000        S   Third  child       False  NaN  Southampton    no  False
64          0       1    male    NaN      0      0   27.7208        C   First    man        True  NaN    Cherbourg    no   True
65          1       3    male    NaN      1      1   15.2458        C   Third    man        True  NaN    Cherbourg   yes  False
66          1       2  female  29.00      0      0   10.5000        S  Second  woman       False    F  Southampton   yes   True
67          0       3    male  19.00      0      0    8.1583        S   Third    man        True  NaN  Southampton    no   True
68          1       3  female  17.00      4      2    7.9250        S   Third  woman       False  NaN  Southampton   yes  False
69          0       3    male  26.00      2      0    8.6625        S   Third    man        True  NaN  Southampton    no  False
70          0       2    male  32.00      0      0   10.5000        S  Second    man        True  NaN  Southampton    no   True
71          0       3  female  16.00      5      2   46.9000        S   Third  woman       False  NaN  Southampton    no  False
72          0       2    male  21.00      0      0   73.5000        S  Second    man        True  NaN  Southampton    no   True
73          0       3    male  26.00      1      0   14.4542        C   Third    man        True  NaN    Cherbourg    no  False
74          1       3    male  32.00      0      0   56.4958        S   Third    man        True  NaN  Southampton   yes   True
75          0       3    male  25.00      0      0    7.6500        S   Third    man        True    F  Southampton    no   True
76          0       3    male    NaN      0      0    7.8958        S   Third    man        True  NaN  Southampton    no   True
77          0       3    male    NaN      0      0    8.0500        S   Third    man        True  NaN  Southampton    no   True
78          1       2    male   0.83      0      2   29.0000        S  Second  child       False  NaN  Southampton   yes  False
79          1       3  female  30.00      0      0   12.4750        S   Third  woman       False  NaN  Southampton   yes   True
80          0       3    male  22.00      0      0    9.0000        S   Third    man        True  NaN  Southampton    no   True
81          1       3    male  29.00      0      0    9.5000        S   Third    man        True  NaN  Southampton   yes   True
82          1       3  female    NaN      0      0    7.7875        Q   Third  woman       False  NaN   Queenstown   yes   True
83          0       1    male  28.00      0      0   47.1000        S   First    man        True  NaN  Southampton    no   True
84          1       2  female  17.00      0      0   10.5000        S  Second  woman       False  NaN  Southampton   yes   True
85          1       3  female  33.00      3      0   15.8500        S   Third  woman       False  NaN  Southampton   yes  False
86          0       3    male  16.00      1      3   34.3750        S   Third    man        True  NaN  Southampton    no  False
87          0       3    male    NaN      0      0    8.0500        S   Third    man        True  NaN  Southampton    no   True
88          1       1  female  23.00      3      2  263.0000        S   First  woman       False    C  Southampton   yes  False
89          0       3    male  24.00      0      0    8.0500        S   Third    man        True  NaN  Southampton    no   True
90          0       3    male  29.00      0      0    8.0500        S   Third    man        True  NaN  Southampton    no   True
91          0       3    male  20.00      0      0    7.8542        S   Third    man        True  NaN  Southampton    no   True
92          0       1    male  46.00      1      0   61.1750        S   First    man        True    E  Southampton    no  False
93          0       3    male  26.00      1      2   20.5750        S   Third    man        True  NaN  Southampton    no  False
94          0       3    male  59.00      0      0    7.2500        S   Third    man        True  NaN  Southampton    no   True
95          0       3    male    NaN      0      0    8.0500        S   Third    man        True  NaN  Southampton    no   True
96          0       1    male  71.00      0      0   34.6542        C   First    man        True    A    Cherbourg    no   True
97          1       1    male  23.00      0      1   63.3583        C   First    man        True    D    Cherbourg   yes  False
98          1       2  female  34.00      0      1   23.0000        S  Second  woman       False  NaN  Southampton   yes  False
99          0       2    male  34.00      1      0   26.0000        S  Second    man        True  NaN  Southampton    no  False
100         0       3  female  28.00      0      0    7.8958        S   Third  woman       False  NaN  Southampton    no   True
101         0       3    male    NaN      0      0    7.8958        S   Third    man        True  NaN  Southampton    no   True
102         0       1    male  21.00      0      1   77.2875        S   First    man        True    D  Southampton    no  False
103         0       3    male  33.00      0      0    8.6542        S   Third    man        True  NaN  Southampton    no   True
104         0       3    male  37.00      2      0    7.9250        S   Third    man        True  NaN  Southampton    no  False
105         0       3    male  28.00      0      0    7.8958        S   Third    man        True  NaN  Southampton    no   True
106         1       3  female  21.00      0      0    7.6500        S   Third  woman       False  NaN  Southampton   yes   True
107         1       3    male    NaN      0      0    7.7750        S   Third    man        True  NaN  Southampton   yes   True
108         0       3    male  38.00      0      0    7.8958        S   Third    man        True  NaN  Southampton    no   True
109         1       3  female    NaN      1      0   24.1500        Q   Third  woman       False  NaN   Queenstown   yes  False
110         0       1    male  47.00      0      0   52.0000        S   First    man        True    C  Southampton    no   True
111         0       3  female  14.50      1      0   14.4542        C   Third  child       False  NaN    Cherbourg    no  False
112         0       3    male  22.00      0      0    8.0500        S   Third    man        True  NaN  Southampton    no   True
113         0       3  female  20.00      1      0    9.8250        S   Third  woman       False  NaN  Southampton    no  False
114         0       3  female  17.00      0      0   14.4583        C   Third  woman       False  NaN    Cherbourg    no   True
115         0       3    male  21.00      0      0    7.9250        S   Third    man        True  NaN  Southampton    no   True
116         0       3    male  70.50      0      0    7.7500        Q   Third    man        True  NaN   Queenstown    no   True
117         0       2    male  29.00      1      0   21.0000        S  Second    man        True  NaN  Southampton    no  False
118         0       1    male  24.00      0      1  247.5208        C   First    man        True    B    Cherbourg    no  False
119         0       3  female   2.00      4      2   31.2750        S   Third  child       False  NaN  Southampton    no  False
120         0       2    male  21.00      2      0   73.5000        S  Second    man        True  NaN  Southampton    no  False
121         0       3    male    NaN      0      0    8.0500        S   Third    man        True  NaN  Southampton    no   True
122         0       2    male  32.50      1      0   30.0708        C  Second    man        True  NaN    Cherbourg    no  False
123         1       2  female  32.50      0      0   13.0000        S  Second  woman       False    E  Southampton   yes   True
124         0       1    male  54.00      0      1   77.2875        S   First    man        True    D  Southampton    no  False
125         1       3    male  12.00      1      0   11.2417        C   Third  child       False  NaN    Cherbourg   yes  False
126         0       3    male    NaN      0      0    7.7500        Q   Third    man        True  NaN   Queenstown    no   True
127         1       3    male  24.00      0      0    7.1417        S   Third    man        True  NaN  Southampton   yes   True
128         1       3  female    NaN      1      1   22.3583        C   Third  woman       False    F    Cherbourg   yes  False
129         0       3    male  45.00      0      0    6.9750        S   Third    man        True  NaN  Southampton    no   True
130         0       3    male  33.00      0      0    7.8958        C   Third    man        True  NaN    Cherbourg    no   True
131         0       3    male  20.00      0      0    7.0500        S   Third    man        True  NaN  Southampton    no   True
132         0       3  female  47.00      1      0   14.5000        S   Third  woman       False  NaN  Southampton    no  False
133         1       2  female  29.00      1      0   26.0000        S  Second  woman       False  NaN  Southampton   yes  False
134         0       2    male  25.00      0      0   13.0000        S  Second    man        True  NaN  Southampton    no   True
135         0       2    male  23.00      0      0   15.0458        C  Second    man        True  NaN    Cherbourg    no   True
136         1       1  female  19.00      0      2   26.2833        S   First  woman       False    D  Southampton   yes  False
137         0       1    male  37.00      1      0   53.1000        S   First    man        True    C  Southampton    no  False
138         0       3    male  16.00      0      0    9.2167        S   Third    man        True  NaN  Southampton    no   True
139         0       1    male  24.00      0      0   79.2000        C   First    man        True    B    Cherbourg    no   True
140         0       3  female    NaN      0      2   15.2458        C   Third  woman       False  NaN    Cherbourg    no  False
141         1       3  female  22.00      0      0    7.7500        S   Third  woman       False  NaN  Southampton   yes   True
142         1       3  female  24.00      1      0   15.8500        S   Third  woman       False  NaN  Southampton   yes  False
143         0       3    male  19.00      0      0    6.7500        Q   Third    man        True  NaN   Queenstown    no   True
144         0       2    male  18.00      0      0   11.5000        S  Second    man        True  NaN  Southampton    no   True
145         0       2    male  19.00      1      1   36.7500        S  Second    man        True  NaN  Southampton    no  False
146         1       3    male  27.00      0      0    7.7958        S   Third    man        True  NaN  Southampton   yes   True
147         0       3  female   9.00      2      2   34.3750        S   Third  child       False  NaN  Southampton    no  False
148         0       2    male  36.50      0      2   26.0000        S  Second    man        True    F  Southampton    no  False
149         0       2    male  42.00      0      0   13.0000        S  Second    man        True  NaN  Southampton    no   True
150         0       2    male  51.00      0      0   12.5250        S  Second    man        True  NaN  Southampton    no   True
151         1       1  female  22.00      1      0   66.6000        S   First  woman       False    C  Southampton   yes  False
152         0       3    male  55.50      0      0    8.0500        S   Third    man        True  NaN  Southampton    no   True
153         0       3    male  40.50      0      2   14.5000        S   Third    man        True  NaN  Southampton    no  False
154         0       3    male    NaN      0      0    7.3125        S   Third    man        True  NaN  Southampton    no   True

In [4]:
df.isna().sum()

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [7]:
df.dropna()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
6,0,1,male,54.0,0,0,51.8625,S,First,man,True,E,Southampton,no,True
10,1,3,female,4.0,1,1,16.7000,S,Third,child,False,G,Southampton,yes,False
11,1,1,female,58.0,0,0,26.5500,S,First,woman,False,C,Southampton,yes,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
871,1,1,female,47.0,1,1,52.5542,S,First,woman,False,D,Southampton,yes,False
872,0,1,male,33.0,0,0,5.0000,S,First,man,True,B,Southampton,no,True
879,1,1,female,56.0,0,1,83.1583,C,First,woman,False,C,Cherbourg,yes,False
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True

In [9]:
import pandas as pd
df=pd.read_csv('titanic.csv')
new_df=df.dropna()
new_df.isna().sum()

survived       0
pclass         0
sex            0
age            0
sibsp          0
parch          0
fare           0
embarked       0
class          0
who            0
adult_male     0
deck           0
embark_town    0
alive          0
alone          0
dtype: int64

In [10]:
df.isna().sum()

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [16]:
import pandas as pd 
df=pd.read_csv('titanic.csv')
df.fillna(15,inplace=True)
df.isna().sum()

survived       0
pclass         0
sex            0
age            0
sibsp          0
parch          0
fare           0
embarked       0
class          0
who            0
adult_male     0
deck           0
embark_town    0
alive          0
alone          0
dtype: int64

In [17]:
print(df.to_string())

     survived  pclass     sex        age  sibsp  parch      fare embarked   class    who  adult_male    deck  embark_town alive  alone
0           0       3    male      22.00      1      0    7.2500        S   Third    man        True  122225  Southampton    no  False
1           1       1  female      38.00      1      0   71.2833        C   First  woman       False       C    Cherbourg   yes  False
2           1       3  female      26.00      0      0    7.9250        S   Third  woman       False  122225  Southampton   yes   True
3           1       1  female      35.00      1      0   53.1000        S   First  woman       False       C  Southampton   yes  False
4           0       3    male      35.00      0      0    8.0500        S   Third    man        True  122225  Southampton    no   True
5           0       3    male  122225.00      0      0    8.4583        Q   Third    man        True  122225   Queenstown    no   True
6           0       1    male      54.00      0      0   51.8625        S   First    man        True       E  Southampton    no   True
7           0       3    male       2.00      3      1   21.0750        S   Third  child       False  122225  Southampton    no  False
8           1       3  female      27.00      0      2   11.1333        S   Third  woman       False  122225  Southampton   yes  False
9           1       2  female      14.00      1      0   30.0708        C  Second  child       False  122225    Cherbourg   yes  False
10          1       3  female       4.00      1      1   16.7000        S   Third  child       False       G  Southampton   yes  False
11          1       1  female      58.00      0      0   26.5500        S   First  woman       False       C  Southampton   yes   True
12          0       3    male      20.00      0      0    8.0500        S   Third    man        True  122225  Southampton    no   True
13          0       3    male      39.00      1      5   31.2750        S   Third    man        True  122225  Southampton    no  False
14          0       3  female      14.00      0      0    7.8542        S   Third  child       False  122225  Southampton    no   True
15          1       2  female      55.00      0      0   16.0000        S  Second  woman       False  122225  Southampton   yes   True
16          0       3    male       2.00      4      1   29.1250        Q   Third  child       False  122225   Queenstown    no  False
17          1       2    male  122225.00      0      0   13.0000        S  Second    man        True  122225  Southampton   yes   True
18          0       3  female      31.00      1      0   18.0000        S   Third  woman       False  122225  Southampton    no  False
19          1       3  female  122225.00      0      0    7.2250        C   Third  woman       False  122225    Cherbourg   yes   True
20          0       2    male      35.00      0      0   26.0000        S  Second    man        True  122225  Southampton    no   True
21          1       2    male      34.00      0      0   13.0000        S  Second    man        True       D  Southampton   yes   True
22          1       3  female      15.00      0      0    8.0292        Q   Third  child       False  122225   Queenstown   yes   True
23          1       1    male      28.00      0      0   35.5000        S   First    man        True       A  Southampton   yes   True
24          0       3  female       8.00      3      1   21.0750        S   Third  child       False  122225  Southampton    no  False
25          1       3  female      38.00      1      5   31.3875        S   Third  woman       False  122225  Southampton   yes  False
26          0       3    male  122225.00      0      0    7.2250        C   Third    man        True  122225    Cherbourg    no   True
27          0       1    male      19.00      3      2  263.0000        S   First    man        True       C  Southampton    no  False
28          1       3  female  122225.00      0      0    7.8792        Q   Third  woman       False  122225   Queenstown   yes   True
29          0       3    male  122225.00      0      0    7.8958        S   Third    man        True  122225  Southampton    no   True
30          0       1    male      40.00      0      0   27.7208        C   First    man        True  122225    Cherbourg    no   True
31          1       1  female  122225.00      1      0  146.5208        C   First  woman       False       B    Cherbourg   yes  False
32          1       3  female  122225.00      0      0    7.7500        Q   Third  woman       False  122225   Queenstown   yes   True
33          0       2    male      66.00      0      0   10.5000        S  Second    man        True  122225  Southampton    no   True
34          0       1    male      28.00      1      0   82.1708        C   First    man        True  122225    Cherbourg    no  False
35          0       1    male      42.00      1      0   52.0000        S   First    man        True  122225  Southampton    no  False
36          1       3    male  122225.00      0      0    7.2292        C   Third    man        True  122225    Cherbourg   yes   True
37          0       3    male      21.00      0      0    8.0500        S   Third    man        True  122225  Southampton    no   True
38          0       3  female      18.00      2      0   18.0000        S   Third  woman       False  122225  Southampton    no  False
39          1       3  female      14.00      1      0   11.2417        C   Third  child       False  122225    Cherbourg   yes  False
40          0       3  female      40.00      1      0    9.4750        S   Third  woman       False  122225  Southampton    no  False
41          0       2  female      27.00      1      0   21.0000        S  Second  woman       False  122225  Southampton    no  False
42          0       3    male  122225.00      0      0    7.8958        C   Third    man        True  122225    Cherbourg    no   True
43          1       2  female       3.00      1      2   41.5792        C  Second  child       False  122225    Cherbourg   yes  False
44          1       3  female      19.00      0      0    7.8792        Q   Third  woman       False  122225   Queenstown   yes   True
45          0       3    male  122225.00      0      0    8.0500        S   Third    man        True  122225  Southampton    no   True
46          0       3    male  122225.00      1      0   15.5000        Q   Third    man        True  122225   Queenstown    no  False
47          1       3  female  122225.00      0      0    7.7500        Q   Third  woman       False  122225   Queenstown   yes   True
48          0       3    male  122225.00      2      0   21.6792        C   Third    man        True  122225    Cherbourg    no  False
49          0       3  female      18.00      1      0   17.8000        S   Third  woman       False  122225  Southampton    no  False
50          0       3    male       7.00      4      1   39.6875        S   Third  child       False  122225  Southampton    no  False
51          0       3    male      21.00      0      0    7.8000        S   Third    man        True  122225  Southampton    no   True
52          1       1  female      49.00      1      0   76.7292        C   First  woman       False       D    Cherbourg   yes  False
53          1       2  female      29.00      1      0   26.0000        S  Second  woman       False  122225  Southampton   yes  False
54          0       1    male      65.00      0      1   61.9792        C   First    man        True       B    Cherbourg    no  False
55          1       1    male  122225.00      0      0   35.5000        S   First    man        True       C  Southampton   yes   True
56          1       2  female      21.00      0      0   10.5000        S  Second  woman       False  122225  Southampton   yes   True
57          0       3    male      28.50      0      0    7.2292        C   Third    man        True  122225    Cherbourg    no   True
58          1       2  female       5.00      1      2   27.7500        S  Second  child       False  122225  Southampton   yes  False
59          0       3    male      11.00      5      2   46.9000        S   Third  child       False  122225  Southampton    no  False
60          0       3    male      22.00      0      0    7.2292        C   Third    man        True  122225    Cherbourg    no   True
61          1       1  female      38.00      0      0   80.0000   122225   First  woman       False       B       122225   yes   True
62          0       1    male      45.00      1      0   83.4750        S   First    man        True       C  Southampton    no  False
63          0       3    male       4.00      3      2   27.9000        S   Third  child       False  122225  Southampton    no  False
64          0       1    male  122225.00      0      0   27.7208        C   First    man        True  122225    Cherbourg    no   True
65          1       3    male  122225.00      1      1   15.2458        C   Third    man        True  122225    Cherbourg   yes  False
66          1       2  female      29.00      0      0   10.5000        S  Second  woman       False       F  Southampton   yes   True
67          0       3    male      19.00      0      0    8.1583        S   Third    man        True  122225  Southampton    no   True
68          1       3  female      17.00      4      2    7.9250        S   Third  woman       False  122225  Southampton   yes  False
69          0       3    male      26.00      2      0    8.6625        S   Third    man        True  122225  Southampton    no  False
70          0       2    male      32.00      0      0   10.5000        S  Second    man        True  122225  Southampton    no   True
71          0       3  female      16.00      5      2   46.9000        S   Third  woman       False  122225  Southampton    no  False
72          0       2    male      21.00      0      0   73.5000        S  Second    man        True  122225  Southampton    no   True
73          0       3    male      26.00      1      0   14.4542        C   Third    man        True  122225    Cherbourg    no  False
74          1       3    male      32.00      0      0   56.4958        S   Third    man        True  122225  Southampton   yes   True
75          0       3    male      25.00      0      0    7.6500        S   Third    man        True       F  Southampton    no   True
76          0       3    male  122225.00      0      0    7.8958        S   Third    man        True  122225  Southampton    no   True
77          0       3    male  122225.00      0      0    8.0500        S   Third    man        True  122225  Southampton    no   True
78          1       2    male       0.83      0      2   29.0000        S  Second  child       False  122225  Southampton   yes  False
79          1       3  female      30.00      0      0   12.4750        S   Third  woman       False  122225  Southampton   yes   True
80          0       3    male      22.00      0      0    9.0000        S   Third    man        True  122225  Southampton    no   True
81          1       3    male      29.00      0      0    9.5000        S   Third    man        True  122225  Southampton   yes   True
82          1       3  female  122225.00      0      0    7.7875        Q   Third  woman       False  122225   Queenstown   yes   True
83          0       1    male      28.00      0      0   47.1000        S   First    man        True  122225  Southampton    no   True
84          1       2  female      17.00      0      0   10.5000        S  Second  woman       False  122225  Southampton   yes   True
85          1       3  female      33.00      3      0   15.8500        S   Third  woman       False  122225  Southampton   yes  False
86          0       3    male      16.00      1      3   34.3750        S   Third    man        True  122225  Southampton    no  False
87          0       3    male  122225.00      0      0    8.0500        S   Third    man        True  122225  Southampton    no   True
88          1       1  female      23.00      3      2  263.0000        S   First  woman       False       C  Southampton   yes  False
89          0       3    male      24.00      0      0    8.0500        S   Third    man        True  122225  Southampton    no   True
90          0       3    male      29.00      0      0    8.0500        S   Third    man        True  122225  Southampton    no   True
91          0       3    male      20.00      0      0    7.8542        S   Third    man        True  122225  Southampton    no   True
92          0       1    male      46.00      1      0   61.1750        S   First    man        True       E  Southampton    no  False
93          0       3    male      26.00      1      2   20.5750        S   Third    man        True  122225  Southampton    no  False
94          0       3    male      59.00      0      0    7.2500        S   Third    man        True  122225  Southampton    no   True
95          0       3    male  122225.00      0      0    8.0500        S   Third    man        True  122225  Southampton    no   True
96          0       1    male      71.00      0      0   34.6542        C   First    man        True       A    Cherbourg    no   True
97          1       1    male      23.00      0      1   63.3583        C   First    man        True       D    Cherbourg   yes  False
98          1       2  female      34.00      0      1   23.0000        S  Second  woman       False  122225  Southampton   yes  False
99          0       2    male      34.00      1      0   26.0000        S  Second    man        True  122225  Southampton    no  False
100         0       3  female      28.00      0      0    7.8958        S   Third  woman       False  122225  Southampton    no   True
101         0       3    male  122225.00      0      0    7.8958        S   Third    man        True  122225  Southampton    no   True
102         0       1    male      21.00      0      1   77.2875        S   First    man        True       D  Southampton    no  False
103         0       3    male      33.00      0      0    8.6542        S   Third    man        True  122225  Southampton    no   True
104         0       3    male      37.00      2      0    7.9250        S   Third    man        True  122225  Southampton    no  False
105         0       3    male      28.00      0      0    7.8958        S   Third    man        True  122225  Southampton    no   True
106         1       3  female      21.00      0      0    7.6500        S   Third  woman       False  122225  Southampton   yes   True
107         1       3    male  122225.00      0      0    7.7750        S   Third    man        True  122225  Southampton   yes   True
108         0       3    male      38.00      0      0    7.8958        S   Third    man        True  122225  Southampton    no   True
109         1       3  female  122225.00      1      0   24.1500        Q   Third  woman       False  122225   Queenstown   yes  False
110         0       1    male      47.00      0      0   52.0000        S   First    man        True       C  Southampton    no   True
111         0       3  female      14.50      1      0   14.4542        C   Third  child       False  122225    Cherbourg    no  False
112         0       3    male      22.00      0      0    8.0500        S   Third    man        True  122225  Southampton    no   True
113         0       3  female      20.00      1      0    9.8250        S   Third  woman       False  122225  Southampton    no  False
114         0       3  female      17.00      0      0   14.4583        C   Third  woman       False  122225    Cherbourg    no   True
115         0       3    male      21.00      0      0    7.9250        S   Third    man        True  122225  Southampton    no   True
116         0       3    male      70.50      0      0    7.7500        Q   Third    man        True  122225   Queenstown    no   True
117         0       2    male      29.00      1      0   21.0000        S  Second    man        True  122225  Southampton    no  False
118         0       1    male      24.00      0      1  247.5208        C   First    man        True       B    Cherbourg    no  False
119         0       3  female       2.00      4      2   31.2750        S   Third  child       False  122225  Southampton    no  False
120         0       2    male      21.00      2      0   73.5000        S  Second    man        True  122225  Southampton    no  False
121         0       3    male  122225.00      0      0    8.0500        S   Third    man        True  122225  Southampton    no   True
122         0       2    male      32.50      1      0   30.0708        C  Second    man        True  122225    Cherbourg    no  False
123         1       2  female      32.50      0      0   13.0000        S  Second  woman       False       E  Southampton   yes   True
124         0       1    male      54.00      0      1   77.2875        S   First    man        True       D  Southampton    no  False
125         1       3    male      12.00      1      0   11.2417        C   Third  child       False  122225    Cherbourg   yes  False
126         0       3    male  122225.00      0      0    7.7500        Q   Third    man        True  122225   Queenstown    no   True
127         1       3    male      24.00      0      0    7.1417        S   Third    man        True  122225  Southampton   yes   True
128         1       3  female  122225.00      1      1   22.3583        C   Third  woman       False       F    Cherbourg   yes  False
129         0       3    male      45.00      0      0    6.9750        S   Third    man        True  122225  Southampton    no   True
130         0       3    male      33.00      0      0    7.8958        C   Third    man        True  122225    Cherbourg    no   True
131         0       3    male      20.00      0      0    7.0500        S   Third    man        True  122225  Southampton    no   True
132         0       3  female      47.00      1      0   14.5000        S   Third  woman       False  122225  Southampton    no  False
133         1       2  female      29.00      1      0   26.0000        S  Second  woman       False  122225  Southampton   yes  False
134         0       2    male      25.00      0      0   13.0000        S  Second    man        True  122225  Southampton    no   True
135         0       2    male      23.00      0      0   15.0458        C  Second    man        True  122225    Cherbourg    no   True
136         1       1  female      19.00      0      2   26.2833        S   First  woman       False       D  Southampton   yes  False
137         0       1    male      37.00      1      0   53.1000        S   First    man        True       C  Southampton    no  False
138         0       3    male      16.00      0      0    9.2167        S   Third    man        True  122225  Southampton    no   True
139         0       1    male      24.00      0      0   79.2000        C   First    man        True       B    Cherbourg    no   True
140         0       3  female  122225.00      0      2   15.2458        C   Third  woman       False  122225    Cherbourg    no  False
141         1       3  female      22.00      0      0    7.7500        S   Third  woman       False  122225  Southampton   yes   True
142         1       3  female      24.00      1      0   15.8500        S   Third  woman       False  122225  Southampton   yes  False
143         0       3    male      19.00      0      0    6.7500        Q   Third    man        True  122225   Queenstown    no   True
144         0       2    male      18.00      0      0   11.5000        S  Second    man        True  122225  Southampton    no   True
145         0       2    male      19.00      1      1   36.7500        S  Second    man        True  122225  Southampton    no  False
146         1       3    male      27.00      0      0    7.7958        S   Third    man        True  122225  Southampton   yes   True

In [19]:
import pandas as pd
df=pd.read_csv('titanic.csv')
for x in df.index:
    if df.loc[x,"fare"]>25:
        df.loc[x,"fare"]=25
print(df.to_string())

     survived  pclass     sex    age  sibsp  parch     fare embarked   class    who  adult_male deck  embark_town alive  alone
0           0       3    male  22.00      1      0   7.2500        S   Third    man        True  NaN  Southampton    no  False
1           1       1  female  38.00      1      0  25.0000        C   First  woman       False    C    Cherbourg   yes  False
2           1       3  female  26.00      0      0   7.9250        S   Third  woman       False  NaN  Southampton   yes   True
3           1       1  female  35.00      1      0  25.0000        S   First  woman       False    C  Southampton   yes  False
4           0       3    male  35.00      0      0   8.0500        S   Third    man        True  NaN  Southampton    no   True
5           0       3    male    NaN      0      0   8.4583        Q   Third    man        True  NaN   Queenstown    no   True
6           0       1    male  54.00      0      0  25.0000        S   First    man        True    E  Southampton    no   True
7           0       3    male   2.00      3      1  21.0750        S   Third  child       False  NaN  Southampton    no  False
8           1       3  female  27.00      0      2  11.1333        S   Third  woman       False  NaN  Southampton   yes  False
9           1       2  female  14.00      1      0  25.0000        C  Second  child       False  NaN    Cherbourg   yes  False
10          1       3  female   4.00      1      1  16.7000        S   Third  child       False    G  Southampton   yes  False
11          1       1  female  58.00      0      0  25.0000        S   First  woman       False    C  Southampton   yes   True
12          0       3    male  20.00      0      0   8.0500        S   Third    man        True  NaN  Southampton    no   True
13          0       3    male  39.00      1      5  25.0000        S   Third    man        True  NaN  Southampton    no  False
14          0       3  female  14.00      0      0   7.8542        S   Third  child       False  NaN  Southampton    no   True
15          1       2  female  55.00      0      0  16.0000        S  Second  woman       False  NaN  Southampton   yes   True
16          0       3    male   2.00      4      1  25.0000        Q   Third  child       False  NaN   Queenstown    no  False
17          1       2    male    NaN      0      0  13.0000        S  Second    man        True  NaN  Southampton   yes   True
18          0       3  female  31.00      1      0  18.0000        S   Third  woman       False  NaN  Southampton    no  False
19          1       3  female    NaN      0      0   7.2250        C   Third  woman       False  NaN    Cherbourg   yes   True
20          0       2    male  35.00      0      0  25.0000        S  Second    man        True  NaN  Southampton    no   True
21          1       2    male  34.00      0      0  13.0000        S  Second    man        True    D  Southampton   yes   True
22          1       3  female  15.00      0      0   8.0292        Q   Third  child       False  NaN   Queenstown   yes   True
23          1       1    male  28.00      0      0  25.0000        S   First    man        True    A  Southampton   yes   True
24          0       3  female   8.00      3      1  21.0750        S   Third  child       False  NaN  Southampton    no  False
25          1       3  female  38.00      1      5  25.0000        S   Third  woman       False  NaN  Southampton   yes  False
26          0       3    male    NaN      0      0   7.2250        C   Third    man        True  NaN    Cherbourg    no   True
27          0       1    male  19.00      3      2  25.0000        S   First    man        True    C  Southampton    no  False
28          1       3  female    NaN      0      0   7.8792        Q   Third  woman       False  NaN   Queenstown   yes   True
29          0       3    male    NaN      0      0   7.8958        S   Third    man        True  NaN  Southampton    no   True
30          0       1    male  40.00      0      0  25.0000        C   First    man        True  NaN    Cherbourg    no   True
31          1       1  female    NaN      1      0  25.0000        C   First  woman       False    B    Cherbourg   yes  False
32          1       3  female    NaN      0      0   7.7500        Q   Third  woman       False  NaN   Queenstown   yes   True
33          0       2    male  66.00      0      0  10.5000        S  Second    man        True  NaN  Southampton    no   True
34          0       1    male  28.00      1      0  25.0000        C   First    man        True  NaN    Cherbourg    no  False
35          0       1    male  42.00      1      0  25.0000        S   First    man        True  NaN  Southampton    no  False
36          1       3    male    NaN      0      0   7.2292        C   Third    man        True  NaN    Cherbourg   yes   True
37          0       3    male  21.00      0      0   8.0500        S   Third    man        True  NaN  Southampton    no   True
38          0       3  female  18.00      2      0  18.0000        S   Third  woman       False  NaN  Southampton    no  False
39          1       3  female  14.00      1      0  11.2417        C   Third  child       False  NaN    Cherbourg   yes  False
40          0       3  female  40.00      1      0   9.4750        S   Third  woman       False  NaN  Southampton    no  False
41          0       2  female  27.00      1      0  21.0000        S  Second  woman       False  NaN  Southampton    no  False
42          0       3    male    NaN      0      0   7.8958        C   Third    man        True  NaN    Cherbourg    no   True
43          1       2  female   3.00      1      2  25.0000        C  Second  child       False  NaN    Cherbourg   yes  False
44          1       3  female  19.00      0      0   7.8792        Q   Third  woman       False  NaN   Queenstown   yes   True
45          0       3    male    NaN      0      0   8.0500        S   Third    man        True  NaN  Southampton    no   True
46          0       3    male    NaN      1      0  15.5000        Q   Third    man        True  NaN   Queenstown    no  False
47          1       3  female    NaN      0      0   7.7500        Q   Third  woman       False  NaN   Queenstown   yes   True
48          0       3    male    NaN      2      0  21.6792        C   Third    man        True  NaN    Cherbourg    no  False
49          0       3  female  18.00      1      0  17.8000        S   Third  woman       False  NaN  Southampton    no  False
50          0       3    male   7.00      4      1  25.0000        S   Third  child       False  NaN  Southampton    no  False
51          0       3    male  21.00      0      0   7.8000        S   Third    man        True  NaN  Southampton    no   True
52          1       1  female  49.00      1      0  25.0000        C   First  woman       False    D    Cherbourg   yes  False
53          1       2  female  29.00      1      0  25.0000        S  Second  woman       False  NaN  Southampton   yes  False
54          0       1    male  65.00      0      1  25.0000        C   First    man        True    B    Cherbourg    no  False
55          1       1    male    NaN      0      0  25.0000        S   First    man        True    C  Southampton   yes   True
56          1       2  female  21.00      0      0  10.5000        S  Second  woman       False  NaN  Southampton   yes   True
57          0       3    male  28.50      0      0   7.2292        C   Third    man        True  NaN    Cherbourg    no   True
58          1       2  female   5.00      1      2  25.0000        S  Second  child       False  NaN  Southampton   yes  False
59          0       3    male  11.00      5      2  25.0000        S   Third  child       False  NaN  Southampton    no  False
60          0       3    male  22.00      0      0   7.2292        C   Third    man        True  NaN    Cherbourg    no   True
61          1       1  female  38.00      0      0  25.0000      NaN   First  woman       False    B          NaN   yes   True
62          0       1    male  45.00      1      0  25.0000        S   First    man        True    C  Southampton    no  False
63          0       3    male   4.00      3      2  25.0000        S   Third  child       False  NaN  Southampton    no  False
64          0       1    male    NaN      0      0  25.0000        C   First    man        True  NaN    Cherbourg    no   True
65          1       3    male    NaN      1      1  15.2458        C   Third    man        True  NaN    Cherbourg   yes  False
66          1       2  female  29.00      0      0  10.5000        S  Second  woman       False    F  Southampton   yes   True
67          0       3    male  19.00      0      0   8.1583        S   Third    man        True  NaN  Southampton    no   True
68          1       3  female  17.00      4      2   7.9250        S   Third  woman       False  NaN  Southampton   yes  False
69          0       3    male  26.00      2      0   8.6625        S   Third    man        True  NaN  Southampton    no  False
70          0       2    male  32.00      0      0  10.5000        S  Second    man        True  NaN  Southampton    no   True
71          0       3  female  16.00      5      2  25.0000        S   Third  woman       False  NaN  Southampton    no  False
72          0       2    male  21.00      0      0  25.0000        S  Second    man        True  NaN  Southampton    no   True
73          0       3    male  26.00      1      0  14.4542        C   Third    man        True  NaN    Cherbourg    no  False
74          1       3    male  32.00      0      0  25.0000        S   Third    man        True  NaN  Southampton   yes   True
75          0       3    male  25.00      0      0   7.6500        S   Third    man        True    F  Southampton    no   True
76          0       3    male    NaN      0      0   7.8958        S   Third    man        True  NaN  Southampton    no   True
77          0       3    male    NaN      0      0   8.0500        S   Third    man        True  NaN  Southampton    no   True
78          1       2    male   0.83      0      2  25.0000        S  Second  child       False  NaN  Southampton   yes  False
79          1       3  female  30.00      0      0  12.4750        S   Third  woman       False  NaN  Southampton   yes   True
80          0       3    male  22.00      0      0   9.0000        S   Third    man        True  NaN  Southampton    no   True
81          1       3    male  29.00      0      0   9.5000        S   Third    man        True  NaN  Southampton   yes   True
82          1       3  female    NaN      0      0   7.7875        Q   Third  woman       False  NaN   Queenstown   yes   True
83          0       1    male  28.00      0      0  25.0000        S   First    man        True  NaN  Southampton    no   True
84          1       2  female  17.00      0      0  10.5000        S  Second  woman       False  NaN  Southampton   yes   True
85          1       3  female  33.00      3      0  15.8500        S   Third  woman       False  NaN  Southampton   yes  False
86          0       3    male  16.00      1      3  25.0000        S   Third    man        True  NaN  Southampton    no  False
87          0       3    male    NaN      0      0   8.0500        S   Third    man        True  NaN  Southampton    no   True
88          1       1  female  23.00      3      2  25.0000        S   First  woman       False    C  Southampton   yes  False
89          0       3    male  24.00      0      0   8.0500        S   Third    man        True  NaN  Southampton    no   True
90          0       3    male  29.00      0      0   8.0500        S   Third    man        True  NaN  Southampton    no   True
91          0       3    male  20.00      0      0   7.8542        S   Third    man        True  NaN  Southampton    no   True
92          0       1    male  46.00      1      0  25.0000        S   First    man        True    E  Southampton    no  False
93          0       3    male  26.00      1      2  20.5750        S   Third    man        True  NaN  Southampton    no  False
94          0       3    male  59.00      0      0   7.2500        S   Third    man        True  NaN  Southampton    no   True
95          0       3    male    NaN      0      0   8.0500        S   Third    man        True  NaN  Southampton    no   True
96          0       1    male  71.00      0      0  25.0000        C   First    man        True    A    Cherbourg    no   True
97          1       1    male  23.00      0      1  25.0000        C   First    man        True    D    Cherbourg   yes  False
98          1       2  female  34.00      0      1  23.0000        S  Second  woman       False  NaN  Southampton   yes  False
99          0       2    male  34.00      1      0  25.0000        S  Second    man        True  NaN  Southampton    no  False
100         0       3  female  28.00      0      0   7.8958        S   Third  woman       False  NaN  Southampton    no   True
101         0       3    male    NaN      0      0   7.8958        S   Third    man        True  NaN  Southampton    no   True
102         0       1    male  21.00      0      1  25.0000        S   First    man        True    D  Southampton    no  False
103         0       3    male  33.00      0      0   8.6542        S   Third    man        True  NaN  Southampton    no   True
104         0       3    male  37.00      2      0   7.9250        S   Third    man        True  NaN  Southampton    no  False
105         0       3    male  28.00      0      0   7.8958        S   Third    man        True  NaN  Southampton    no   True
106         1       3  female  21.00      0      0   7.6500        S   Third  woman       False  NaN  Southampton   yes   True
107         1       3    male    NaN      0      0   7.7750        S   Third    man        True  NaN  Southampton   yes   True
108         0       3    male  38.00      0      0   7.8958        S   Third    man        True  NaN  Southampton    no   True
109         1       3  female    NaN      1      0  24.1500        Q   Third  woman       False  NaN   Queenstown   yes  False
110         0       1    male  47.00      0      0  25.0000        S   First    man        True    C  Southampton    no   True
111         0       3  female  14.50      1      0  14.4542        C   Third  child       False  NaN    Cherbourg    no  False
112         0       3    male  22.00      0      0   8.0500        S   Third    man        True  NaN  Southampton    no   True
113         0       3  female  20.00      1      0   9.8250        S   Third  woman       False  NaN  Southampton    no  False
114         0       3  female  17.00      0      0  14.4583        C   Third  woman       False  NaN    Cherbourg    no   True
115         0       3    male  21.00      0      0   7.9250        S   Third    man        True  NaN  Southampton    no   True
116         0       3    male  70.50      0      0   7.7500        Q   Third    man        True  NaN   Queenstown    no   True
117         0       2    male  29.00      1      0  21.0000        S  Second    man        True  NaN  Southampton    no  False
118         0       1    male  24.00      0      1  25.0000        C   First    man        True    B    Cherbourg    no  False
119         0       3  female   2.00      4      2  25.0000        S   Third  child       False  NaN  Southampton    no  False
120         0       2    male  21.00      2      0  25.0000        S  Second    man        True  NaN  Southampton    no  False
121         0       3    male    NaN      0      0   8.0500        S   Third    man        True  NaN  Southampton    no   True
122         0       2    male  32.50      1      0  25.0000        C  Second    man        True  NaN    Cherbourg    no  False
123         1       2  female  32.50      0      0  13.0000        S  Second  woman       False    E  Southampton   yes   True
124         0       1    male  54.00      0      1  25.0000        S   First    man        True    D  Southampton    no  False
125         1       3    male  12.00      1      0  11.2417        C   Third  child       False  NaN    Cherbourg   yes  False
126         0       3    male    NaN      0      0   7.7500        Q   Third    man        True  NaN   Queenstown    no   True
127         1       3    male  24.00      0      0   7.1417        S   Third    man        True  NaN  Southampton   yes   True
128         1       3  female    NaN      1      1  22.3583        C   Third  woman       False    F    Cherbourg   yes  False
129         0       3    male  45.00      0      0   6.9750        S   Third    man        True  NaN  Southampton    no   True
130         0       3    male  33.00      0      0   7.8958        C   Third    man        True  NaN    Cherbourg    no   True
131         0       3    male  20.00      0      0   7.0500        S   Third    man        True  NaN  Southampton    no   True
132         0       3  female  47.00      1      0  14.5000        S   Third  woman       False  NaN  Southampton    no  False
133         1       2  female  29.00      1      0  25.0000        S  Second  woman       False  NaN  Southampton   yes  False
134         0       2    male  25.00      0      0  13.0000        S  Second    man        True  NaN  Southampton    no   True
135         0       2    male  23.00      0      0  15.0458        C  Second    man        True  NaN    Cherbourg    no   True
136         1       1  female  19.00      0      2  25.0000        S   First  woman       False    D  Southampton   yes  False
137         0       1    male  37.00      1      0  25.0000        S   First    man        True    C  Southampton    no  False
138         0       3    male  16.00      0      0   9.2167        S   Third    man        True  NaN  Southampton    no   True
139         0       1    male  24.00      0      0  25.0000        C   First    man        True    B    Cherbourg    no   True
140         0       3  female    NaN      0      2  15.2458        C   Third  woman       False  NaN    Cherbourg    no  False
141         1       3  female  22.00      0      0   7.7500        S   Third  woman       False  NaN  Southampton   yes   True
142         1       3  female  24.00      1      0  15.8500        S   Third  woman       False  NaN  Southampton   yes  False
143         0       3    male  19.00      0      0   6.7500        Q   Third    man        True  NaN   Queenstown    no   True
144         0       2    male  18.00      0      0  11.5000        S  Second    man        True  NaN  Southampton    no   True
145         0       2    male  19.00      1      1  25.0000        S  Second    man        True  NaN  Southampton    no  False
146         1       3    male  27.00      0      0   7.7958        S   Third    man        True  NaN  Southampton   yes   True
147         0       3  female   9.00      2      2  25.0000        S   Third  child       False  NaN  Southampton    no  False
148         0       2    male  36.50      0      2  25.0000        S  Second    man        True    F  Southampton    no  False
149         0       2    male  42.00      0      0  13.0000        S  Second    man        True  NaN  Southampton    no   True
150         0       2    male  51.00      0      0  12.5250        S  Second    man        True  NaN  Southampton    no   True
151         1       1  female  22.00      1      0  25.0000        S   First  woman       False    C  Southampton   yes  False
152         0       3    male  55.50      0      0   8.0500        S   Third    man        True  NaN  Southampton    no   True
153         0       3    male  40.50      0      2  14.5000        S   Third    man        True  NaN  Southampton    no  False
154         0       3    male    NaN      0      0   7.3125        S   Third    man        True  NaN  Southampton    no   True
155         0       1    male  51.00      0      1  25.0000        C   First    man        True  NaN    Cherbourg    no  False