In [3]:
import pandas as pd
data={
    'car':['a','b','c'],
    'type':[1,2,3]
}
a=pd.DataFrame(data)
print(a)

  car  type
0   a     1
1   b     2
2   c     3

In [6]:
import pandas as pd 
a=[1,2,3,6,5,4,7,8,9]
b=pd.Series(a,index=["a","b","c","d","e","f","g","H","i"])
print(b)

a    1
b    2
c    3
d    6
e    5
f    4
g    7
H    8
i    9
dtype: int64

In [8]:
print(b["H"])

8

In [9]:
import pandas as pd
data={
    'mpc':["maths1A","maths1B","che","phy"],
    'marks':[75,72,60,58]
}
myvar=pd.DataFrame(data)
print(myvar)

       mpc  marks
0  maths1A     75
1  maths1B     72
2      che     60
3      phy     58

In [12]:
print(myvar.loc[[0,2]])

       mpc  marks
0  maths1A     75
2      che     60

In [15]:
import pandas as pd
a=pd.read_csv('mark.csv')
print(a.to_string())

     Student_id  Mark     City
0             1    95  Chennai
1             2    70    Delhi
2             3    98   Mumbai
3             4    75     Pune
4             5    89    Kochi
5             6    69  Gwalior
6             7    52   Bhopal
7             8    54  Chennai
8             9    55    Delhi
9            10    94   Mumbai
10           11    52     Pune
11           12    90    Kochi
12           13    92  Gwalior
13           14    55   Bhopal
14           15    97     Pune
15           16    77    Kochi
16           17    68  Gwalior
17           18    51   Bhopal
18           19    72  Chennai
19           20    79    Delhi
20           21    49   Mumbai
21           22    78     Pune
22           23    76  Chennai
23           24    43    Delhi
24           25    89   Mumbai
25           26    75     Pune
26           27    45    Kochi
27           28    98  Gwalior
28           29    54   Bhopal
29           30    81  Chennai
30           31    74    Delhi
31           32    82   Mumbai
32           33    78     Pune
33           34    83    Kochi
34           35    79  Gwalior
35           36    55   Bhopal
36           37    53     Pune
37           38    55    Kochi
38           39    84  Gwalior
39           40    44   Bhopal
40           41    85  Chennai
41           42    86    Delhi
42           43    45   Mumbai
43           44    95     Pune
44           45    73  Chennai
45           46    79    Delhi
46           47    46   Mumbai
47           48    67     Pune
48           49    68    Kochi
49           50    47  Gwalior
50           51    65   Bhopal
51           52    67  Chennai
52           53    49    Delhi
53           54    82   Mumbai
54           55    69     Pune
55           56    48    Kochi
56           57    85  Gwalior
57           58    42   Bhopal
58           59    89     Pune
59           60    66    Kochi
60           61    98  Gwalior
61           62    77   Bhopal
62           63    98  Chennai
63           64    78    Delhi
64           65    43   Mumbai
65           66    59     Pune
66           67    58  Chennai
67           68    87    Delhi
68           69    55   Mumbai
69           70    86     Pune
70           71    85    Kochi
71           72    54  Gwalior
72           73    89   Bhopal
73           74    77  Chennai
74           75    79    Delhi
75           76    53   Mumbai
76           77    77     Pune
77           78    76    Kochi
78           79    56  Gwalior
79           80    75   Bhopal
80           81    74     Pune
81           82    59    Kochi
82           83    98  Gwalior
83           84    73   Bhopal
84           85    58  Chennai
85           86    97    Delhi
86           87    57   Mumbai
87           88    96     Pune
88           89    75  Chennai
89           90    94    Delhi
90           91    74   Mumbai
91           92    93     Pune
92           93    74    Kochi
93           94    53  Gwalior
94           95    50   Bhopal
95           96    40  Chennai
96           97    87    Delhi
97           98    44   Mumbai
98           99    86     Pune
99          100    84    Kochi
100         101    43  Gwalior
101         102    98  Chennai
102         103    75    Delhi
103         104    78   Mumbai
104         105    42     Pune
105         106    77    Kochi
106         107    78  Gwalior
107         108    41   Bhopal
108         109    79  Chennai
109         110    76    Delhi
110         111    45   Mumbai
111         112    97     Pune
112         113    75    Kochi
113         114    46  Gwalior
114         115    96   Bhopal
115         116    47     Pune
116         117    90    Kochi
117         118    79  Gwalior
118         119    91   Bhopal
119         120    77  Chennai
120         121    87    Delhi
121         122    75   Mumbai
122         123    48     Pune
123         124    49  Chennai
124         125    55    Delhi
125         126    88   Mumbai
126         127    56     Pune
127         128    86    Kochi
128         129    89  Gwalior
129         130    57   Bhopal
130         131    90  Chennai
131         132    75    Delhi
132         133    75   Mumbai
133         134    58     Pune
134         135    75    Kochi
135         136    74  Gwalior
136         137    59  Chennai
137         138    73    Delhi
138         139    72   Mumbai
139         140    50     Pune
140         141    93    Kochi
141         142    71  Gwalior
142         143    40   Bhopal
143         144    97  Chennai
144         145    43    Delhi
145         146    98   Mumbai
146         147    70     Pune
147         148    99    Kochi
148         149    77  Gwalior
149         150   100   Bhopal
150         151    78     Pune
151         152    45    Kochi
152         153    46  Gwalior
153         154    47   Bhopal
154         155    89  Chennai
155         156    49    Delhi
156         157    86   Mumbai
157         158    92     Pune
158         159    50  Chennai
159         160    92    Delhi
160         161    79   Mumbai
161         162    79     Pune
162         163    59    Kochi
163         164    75  Gwalior
164         165    75   Bhopal
165         166    53  Chennai
166         167    74    Delhi
167         168    74   Mumbai
168         169    53     Pune
169         170    90    Kochi
170         171    73  Gwalior
171         172    52  Chennai
172         173    98    Delhi
173         174    56   Mumbai
174         175    84     Pune
175         176    77    Kochi
176         177    97  Gwalior
177         178    76   Bhopal
178         179    94  Chennai
179         180    76    Delhi
180         181    56   Mumbai
181         182    58     Pune
182         183    59    Kochi
183         184    87  Gwalior
184         185    50   Bhopal
185         186    85     Pune
186         187    83    Kochi
187         188    40  Gwalior
188         189    89   Bhopal
189         190    75  Chennai
190         191    77    Delhi
191         192    44   Mumbai
192         193    75     Pune
193         194    74  Chennai
194         195    43    Delhi
195         196    74   Mumbai
196         197    74     Pune
197         198    53    Kochi
198         199    87  Gwalior
199         200    75   Bhopal
200         201    42  Chennai
201         202    80    Delhi
202         203    46   Mumbai
203         204    91     Pune
204         205    78    Kochi
205         206    80  Gwalior
206         207    79  Chennai
207         208    91    Delhi
208         209    70   Mumbai
209         210    59     Pune
210         211    58    Kochi
211         212    56  Gwalior
212         213    92   Bhopal
213         214    54  Chennai
214         215    93    Delhi
215         216    95   Mumbai
216         217    53     Pune
217         218    96    Kochi
218         219    75  Gwalior
219         220    75   Bhopal
220         221    52     Pune
221         222    74    Kochi
222         223    79  Gwalior
223         224    50   Bhopal
224         225    72  Chennai
225         226    71    Delhi
226         227    51   Mumbai
227         228    99     Pune
228         229    70  Chennai
229         230    55    Delhi
230         231    97   Mumbai
231         232    59     Pune

In [16]:
print(a.loc[16])

Student_id         17
Mark               68
City          Gwalior
Name: 16, dtype: object

In [18]:
print(a.head(8))

   Student_id  Mark     City
0           1    95  Chennai
1           2    70    Delhi
2           3    98   Mumbai
3           4    75     Pune
4           5    89    Kochi
5           6    69  Gwalior
6           7    52   Bhopal
7           8    54  Chennai

In [19]:
print(a.tail())

     Student_id  Mark     City
227         228    99     Pune
228         229    70  Chennai
229         230    55    Delhi
230         231    97   Mumbai
231         232    59     Pune

In [21]:
print(a.info)

<bound method DataFrame.info of      Student_id  Mark     City
0             1    95  Chennai
1             2    70    Delhi
2             3    98   Mumbai
3             4    75     Pune
4             5    89    Kochi
..          ...   ...      ...
227         228    99     Pune
228         229    70  Chennai
229         230    55    Delhi
230         231    97   Mumbai
231         232    59     Pune

[232 rows x 3 columns]>

In [22]:
print(a.describe())

       Student_id        Mark
count  232.000000  232.000000
mean   116.500000   71.400862
std     67.116814   17.116069
min      1.000000   40.000000
25%     58.750000   55.000000
50%    116.500000   75.000000
75%    174.250000   85.250000
max    232.000000  100.000000

In [24]:
a.dtypes

Student_id     int64
Mark           int64
City          object
dtype: object

In [27]:
a.isna().sum()

Student_id    0
Mark          0
City          0
dtype: int64

In [30]:
import pandas as pd 
df=pd.read_csv('titanic.csv')
print(df.to_string())

     survived  pclass     sex    age  sibsp  parch      fare embarked   class    who  adult_male deck  embark_town alive  alone
0           0       3    male  22.00      1      0    7.2500        S   Third    man        True  NaN  Southampton    no  False
1           1       1  female  38.00      1      0   71.2833        C   First  woman       False    C    Cherbourg   yes  False
2           1       3  female  26.00      0      0    7.9250        S   Third  woman       False  NaN  Southampton   yes   True
3           1       1  female  35.00      1      0   53.1000        S   First  woman       False    C  Southampton   yes  False
4           0       3    male  35.00      0      0    8.0500        S   Third    man        True  NaN  Southampton    no   True
5           0       3    male    NaN      0      0    8.4583        Q   Third    man        True  NaN   Queenstown    no   True
6           0       1    male  54.00      0      0   51.8625        S   First    man        True    E  Southampton    no   True
7           0       3    male   2.00      3      1   21.0750        S   Third  child       False  NaN  Southampton    no  False
8           1       3  female  27.00      0      2   11.1333        S   Third  woman       False  NaN  Southampton   yes  False
9           1       2  female  14.00      1      0   30.0708        C  Second  child       False  NaN    Cherbourg   yes  False
10          1       3  female   4.00      1      1   16.7000        S   Third  child       False    G  Southampton   yes  False
11          1       1  female  58.00      0      0   26.5500        S   First  woman       False    C  Southampton   yes   True
12          0       3    male  20.00      0      0    8.0500        S   Third    man        True  NaN  Southampton    no   True
13          0       3    male  39.00      1      5   31.2750        S   Third    man        True  NaN  Southampton    no  False
14          0       3  female  14.00      0      0    7.8542        S   Third  child       False  NaN  Southampton    no   True
15          1       2  female  55.00      0      0   16.0000        S  Second  woman       False  NaN  Southampton   yes   True
16          0       3    male   2.00      4      1   29.1250        Q   Third  child       False  NaN   Queenstown    no  False
17          1       2    male    NaN      0      0   13.0000        S  Second    man        True  NaN  Southampton   yes   True
18          0       3  female  31.00      1      0   18.0000        S   Third  woman       False  NaN  Southampton    no  False
19          1       3  female    NaN      0      0    7.2250        C   Third  woman       False  NaN    Cherbourg   yes   True
20          0       2    male  35.00      0      0   26.0000        S  Second    man        True  NaN  Southampton    no   True
21          1       2    male  34.00      0      0   13.0000        S  Second    man        True    D  Southampton   yes   True
22          1       3  female  15.00      0      0    8.0292        Q   Third  child       False  NaN   Queenstown   yes   True
23          1       1    male  28.00      0      0   35.5000        S   First    man        True    A  Southampton   yes   True
24          0       3  female   8.00      3      1   21.0750        S   Third  child       False  NaN  Southampton    no  False
25          1       3  female  38.00      1      5   31.3875        S   Third  woman       False  NaN  Southampton   yes  False
26          0       3    male    NaN      0      0    7.2250        C   Third    man        True  NaN    Cherbourg    no   True
27          0       1    male  19.00      3      2  263.0000        S   First    man        True    C  Southampton    no  False
28          1       3  female    NaN      0      0    7.8792        Q   Third  woman       False  NaN   Queenstown   yes   True
29          0       3    male    NaN      0      0    7.8958        S   Third    man        True  NaN  Southampton    no   True
30          0       1    male  40.00      0      0   27.7208        C   First    man        True  NaN    Cherbourg    no   True
31          1       1  female    NaN      1      0  146.5208        C   First  woman       False    B    Cherbourg   yes  False
32          1       3  female    NaN      0      0    7.7500        Q   Third  woman       False  NaN   Queenstown   yes   True
33          0       2    male  66.00      0      0   10.5000        S  Second    man        True  NaN  Southampton    no   True
34          0       1    male  28.00      1      0   82.1708        C   First    man        True  NaN    Cherbourg    no  False
35          0       1    male  42.00      1      0   52.0000        S   First    man        True  NaN  Southampton    no  False
36          1       3    male    NaN      0      0    7.2292        C   Third    man        True  NaN    Cherbourg   yes   True
37          0       3    male  21.00      0      0    8.0500        S   Third    man        True  NaN  Southampton    no   True
38          0       3  female  18.00      2      0   18.0000        S   Third  woman       False  NaN  Southampton    no  False
39          1       3  female  14.00      1      0   11.2417        C   Third  child       False  NaN    Cherbourg   yes  False
40          0       3  female  40.00      1      0    9.4750        S   Third  woman       False  NaN  Southampton    no  False
41          0       2  female  27.00      1      0   21.0000        S  Second  woman       False  NaN  Southampton    no  False
42          0       3    male    NaN      0      0    7.8958        C   Third    man        True  NaN    Cherbourg    no   True
43          1       2  female   3.00      1      2   41.5792        C  Second  child       False  NaN    Cherbourg   yes  False
44          1       3  female  19.00      0      0    7.8792        Q   Third  woman       False  NaN   Queenstown   yes   True
45          0       3    male    NaN      0      0    8.0500        S   Third    man        True  NaN  Southampton    no   True
46          0       3    male    NaN      1      0   15.5000        Q   Third    man        True  NaN   Queenstown    no  False
47          1       3  female    NaN      0      0    7.7500        Q   Third  woman       False  NaN   Queenstown   yes   True
48          0       3    male    NaN      2      0   21.6792        C   Third    man        True  NaN    Cherbourg    no  False
49          0       3  female  18.00      1      0   17.8000        S   Third  woman       False  NaN  Southampton    no  False
50          0       3    male   7.00      4      1   39.6875        S   Third  child       False  NaN  Southampton    no  False
51          0       3    male  21.00      0      0    7.8000        S   Third    man        True  NaN  Southampton    no   True
52          1       1  female  49.00      1      0   76.7292        C   First  woman       False    D    Cherbourg   yes  False
53          1       2  female  29.00      1      0   26.0000        S  Second  woman       False  NaN  Southampton   yes  False
54          0       1    male  65.00      0      1   61.9792        C   First    man        True    B    Cherbourg    no  False
55          1       1    male    NaN      0      0   35.5000        S   First    man        True    C  Southampton   yes   True
56          1       2  female  21.00      0      0   10.5000        S  Second  woman       False  NaN  Southampton   yes   True
57          0       3    male  28.50      0      0    7.2292        C   Third    man        True  NaN    Cherbourg    no   True
58          1       2  female   5.00      1      2   27.7500        S  Second  child       False  NaN  Southampton   yes  False
59          0       3    male  11.00      5      2   46.9000        S   Third  child       False  NaN  Southampton    no  False
60          0       3    male  22.00      0      0    7.2292        C   Third    man        True  NaN    Cherbourg    no   True
61          1       1  female  38.00      0      0   80.0000      NaN   First  woman       False    B          NaN   yes   True
62          0       1    male  45.00      1      0   83.4750        S   First    man        True    C  Southampton    no  False
63          0       3    male   4.00      3      2   27.9000        S   Third  child       False  NaN  Southampton    no  False
64          0       1    male    NaN      0      0   27.7208        C   First    man        True  NaN    Cherbourg    no   True
65          1       3    male    NaN      1      1   15.2458        C   Third    man        True  NaN    Cherbourg   yes  False
66          1       2  female  29.00      0      0   10.5000        S  Second  woman       False    F  Southampton   yes   True
67          0       3    male  19.00      0      0    8.1583        S   Third    man        True  NaN  Southampton    no   True
68          1       3  female  17.00      4      2    7.9250        S   Third  woman       False  NaN  Southampton   yes  False
69          0       3    male  26.00      2      0    8.6625        S   Third    man        True  NaN  Southampton    no  False
70          0       2    male  32.00      0      0   10.5000        S  Second    man        True  NaN  Southampton    no   True
71          0       3  female  16.00      5      2   46.9000        S   Third  woman       False  NaN  Southampton    no  False
72          0       2    male  21.00      0      0   73.5000        S  Second    man        True  NaN  Southampton    no   True
73          0       3    male  26.00      1      0   14.4542        C   Third    man        True  NaN    Cherbourg    no  False
74          1       3    male  32.00      0      0   56.4958        S   Third    man        True  NaN  Southampton   yes   True
75          0       3    male  25.00      0      0    7.6500        S   Third    man        True    F  Southampton    no   True
76          0       3    male    NaN      0      0    7.8958        S   Third    man        True  NaN  Southampton    no   True
77          0       3    male    NaN      0      0    8.0500        S   Third    man        True  NaN  Southampton    no   True
78          1       2    male   0.83      0      2   29.0000        S  Second  child       False  NaN  Southampton   yes  False
79          1       3  female  30.00      0      0   12.4750        S   Third  woman       False  NaN  Southampton   yes   True
80          0       3    male  22.00      0      0    9.0000        S   Third    man        True  NaN  Southampton    no   True
81          1       3    male  29.00      0      0    9.5000        S   Third    man        True  NaN  Southampton   yes   True
82          1       3  female    NaN      0      0    7.7875        Q   Third  woman       False  NaN   Queenstown   yes   True
83          0       1    male  28.00      0      0   47.1000        S   First    man        True  NaN  Southampton    no   True
84          1       2  female  17.00      0      0   10.5000        S  Second  woman       False  NaN  Southampton   yes   True
85          1       3  female  33.00      3      0   15.8500        S   Third  woman       False  NaN  Southampton   yes  False
86          0       3    male  16.00      1      3   34.3750        S   Third    man        True  NaN  Southampton    no  False
87          0       3    male    NaN      0      0    8.0500        S   Third    man        True  NaN  Southampton    no   True
88          1       1  female  23.00      3      2  263.0000        S   First  woman       False    C  Southampton   yes  False
89          0       3    male  24.00      0      0    8.0500        S   Third    man        True  NaN  Southampton    no   True
90          0       3    male  29.00      0      0    8.0500        S   Third    man        True  NaN  Southampton    no   True
91          0       3    male  20.00      0      0    7.8542        S   Third    man        True  NaN  Southampton    no   True
92          0       1    male  46.00      1      0   61.1750        S   First    man        True    E  Southampton    no  False
93          0       3    male  26.00      1      2   20.5750        S   Third    man        True  NaN  Southampton    no  False
94          0       3    male  59.00      0      0    7.2500        S   Third    man        True  NaN  Southampton    no   True
95          0       3    male    NaN      0      0    8.0500        S   Third    man        True  NaN  Southampton    no   True
96          0       1    male  71.00      0      0   34.6542        C   First    man        True    A    Cherbourg    no   True
97          1       1    male  23.00      0      1   63.3583        C   First    man        True    D    Cherbourg   yes  False
98          1       2  female  34.00      0      1   23.0000        S  Second  woman       False  NaN  Southampton   yes  False
99          0       2    male  34.00      1      0   26.0000        S  Second    man        True  NaN  Southampton    no  False
100         0       3  female  28.00      0      0    7.8958        S   Third  woman       False  NaN  Southampton    no   True
101         0       3    male    NaN      0      0    7.8958        S   Third    man        True  NaN  Southampton    no   True
102         0       1    male  21.00      0      1   77.2875        S   First    man        True    D  Southampton    no  False
103         0       3    male  33.00      0      0    8.6542        S   Third    man        True  NaN  Southampton    no   True
104         0       3    male  37.00      2      0    7.9250        S   Third    man        True  NaN  Southampton    no  False
105         0       3    male  28.00      0      0    7.8958        S   Third    man        True  NaN  Southampton    no   True
106         1       3  female  21.00      0      0    7.6500        S   Third  woman       False  NaN  Southampton   yes   True
107         1       3    male    NaN      0      0    7.7750        S   Third    man        True  NaN  Southampton   yes   True
108         0       3    male  38.00      0      0    7.8958        S   Third    man        True  NaN  Southampton    no   True
109         1       3  female    NaN      1      0   24.1500        Q   Third  woman       False  NaN   Queenstown   yes  False
110         0       1    male  47.00      0      0   52.0000        S   First    man        True    C  Southampton    no   True
111         0       3  female  14.50      1      0   14.4542        C   Third  child       False  NaN    Cherbourg    no  False
112         0       3    male  22.00      0      0    8.0500        S   Third    man        True  NaN  Southampton    no   True
113         0       3  female  20.00      1      0    9.8250        S   Third  woman       False  NaN  Southampton    no  False
114         0       3  female  17.00      0      0   14.4583        C   Third  woman       False  NaN    Cherbourg    no   True
115         0       3    male  21.00      0      0    7.9250        S   Third    man        True  NaN  Southampton    no   True
116         0       3    male  70.50      0      0    7.7500        Q   Third    man        True  NaN   Queenstown    no   True
117         0       2    male  29.00      1      0   21.0000        S  Second    man        True  NaN  Southampton    no  False
118         0       1    male  24.00      0      1  247.5208        C   First    man        True    B    Cherbourg    no  False
119         0       3  female   2.00      4      2   31.2750        S   Third  child       False  NaN  Southampton    no  False
120         0       2    male  21.00      2      0   73.5000        S  Second    man        True  NaN  Southampton    no  False
121         0       3    male    NaN      0      0    8.0500        S   Third    man        True  NaN  Southampton    no   True
122         0       2    male  32.50      1      0   30.0708        C  Second    man        True  NaN    Cherbourg    no  False
123         1       2  female  32.50      0      0   13.0000        S  Second  woman       False    E  Southampton   yes   True
124         0       1    male  54.00      0      1   77.2875        S   First    man        True    D  Southampton    no  False
125         1       3    male  12.00      1      0   11.2417        C   Third  child       False  NaN    Cherbourg   yes  False
126         0       3    male    NaN      0      0    7.7500        Q   Third    man        True  NaN   Queenstown    no   True
127         1       3    male  24.00      0      0    7.1417        S   Third    man        True  NaN  Southampton   yes   True
128         1       3  female    NaN      1      1   22.3583        C   Third  woman       False    F    Cherbourg   yes  False
129         0       3    male  45.00      0      0    6.9750        S   Third    man        True  NaN  Southampton    no   True
130         0       3    male  33.00      0      0    7.8958        C   Third    man        True  NaN    Cherbourg    no   True
131         0       3    male  20.00      0      0    7.0500        S   Third    man        True  NaN  Southampton    no   True
132         0       3  female  47.00      1      0   14.5000        S   Third  woman       False  NaN  Southampton    no  False
133         1       2  female  29.00      1      0   26.0000        S  Second  woman       False  NaN  Southampton   yes  False
134         0       2    male  25.00      0      0   13.0000        S  Second    man        True  NaN  Southampton    no   True
135         0       2    male  23.00      0      0   15.0458        C  Second    man        True  NaN    Cherbourg    no   True
136         1       1  female  19.00      0      2   26.2833        S   First  woman       False    D  Southampton   yes  False
137         0       1    male  37.00      1      0   53.1000        S   First    man        True    C  Southampton    no  False
138         0       3    male  16.00      0      0    9.2167        S   Third    man        True  NaN  Southampton    no   True
139         0       1    male  24.00      0      0   79.2000        C   First    man        True    B    Cherbourg    no   True
140         0       3  female    NaN      0      2   15.2458        C   Third  woman       False  NaN    Cherbourg    no  False
141         1       3  female  22.00      0      0    7.7500        S   Third  woman       False  NaN  Southampton   yes   True
142         1       3  female  24.00      1      0   15.8500        S   Third  woman       False  NaN  Southampton   yes  False
143         0       3    male  19.00      0      0    6.7500        Q   Third    man        True  NaN   Queenstown    no   True
144         0       2    male  18.00      0      0   11.5000        S  Second    man        True  NaN  Southampton    no   True
145         0       2    male  19.00      1      1   36.7500        S  Second    man        True  NaN  Southampton    no  False
146         1       3    male  27.00      0      0    7.7958        S   Third    man        True  NaN  Southampton   yes   True
147         0       3  female   9.00      2      2   34.3750        S   Third  child       False  NaN  Southampton    no  False
148         0       2    male  36.50      0      2   26.0000        S  Second    man        True    F  Southampton    no  False
149         0       2    male  42.00      0      0   13.0000        S  Second    man        True  NaN  Southampton    no   True
150         0       2    male  51.00      0      0   12.5250        S  Second    man        True  NaN  Southampton    no   True
151         1       1  female  22.00      1      0   66.6000        S   First  woman       False    C  Southampton   yes  False
152         0       3    male  55.50      0      0    8.0500        S   Third    man        True  NaN  Southampton    no   True
153         0       3    male  40.50      0      2   14.5000        S   Third    man        True  NaN  Southampton    no  False
154         0       3    male    NaN      0      0    7.3125        S   Third    man        True  NaN  Southampton    no   True

In [31]:
df.isna().sum()

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [34]:
nd=df.dropna()
print(nd.to_string())

     survived  pclass     sex    age  sibsp  parch      fare embarked   class    who  adult_male deck  embark_town alive  alone
1           1       1  female  38.00      1      0   71.2833        C   First  woman       False    C    Cherbourg   yes  False
3           1       1  female  35.00      1      0   53.1000        S   First  woman       False    C  Southampton   yes  False
6           0       1    male  54.00      0      0   51.8625        S   First    man        True    E  Southampton    no   True
10          1       3  female   4.00      1      1   16.7000        S   Third  child       False    G  Southampton   yes  False
11          1       1  female  58.00      0      0   26.5500        S   First  woman       False    C  Southampton   yes   True
21          1       2    male  34.00      0      0   13.0000        S  Second    man        True    D  Southampton   yes   True
23          1       1    male  28.00      0      0   35.5000        S   First    man        True    A  Southampton   yes   True
27          0       1    male  19.00      3      2  263.0000        S   First    man        True    C  Southampton    no  False
52          1       1  female  49.00      1      0   76.7292        C   First  woman       False    D    Cherbourg   yes  False
54          0       1    male  65.00      0      1   61.9792        C   First    man        True    B    Cherbourg    no  False
62          0       1    male  45.00      1      0   83.4750        S   First    man        True    C  Southampton    no  False
66          1       2  female  29.00      0      0   10.5000        S  Second  woman       False    F  Southampton   yes   True
75          0       3    male  25.00      0      0    7.6500        S   Third    man        True    F  Southampton    no   True
88          1       1  female  23.00      3      2  263.0000        S   First  woman       False    C  Southampton   yes  False
92          0       1    male  46.00      1      0   61.1750        S   First    man        True    E  Southampton    no  False
96          0       1    male  71.00      0      0   34.6542        C   First    man        True    A    Cherbourg    no   True
97          1       1    male  23.00      0      1   63.3583        C   First    man        True    D    Cherbourg   yes  False
102         0       1    male  21.00      0      1   77.2875        S   First    man        True    D  Southampton    no  False
110         0       1    male  47.00      0      0   52.0000        S   First    man        True    C  Southampton    no   True
118         0       1    male  24.00      0      1  247.5208        C   First    man        True    B    Cherbourg    no  False
123         1       2  female  32.50      0      0   13.0000        S  Second  woman       False    E  Southampton   yes   True
124         0       1    male  54.00      0      1   77.2875        S   First    man        True    D  Southampton    no  False
136         1       1  female  19.00      0      2   26.2833        S   First  woman       False    D  Southampton   yes  False
137         0       1    male  37.00      1      0   53.1000        S   First    man        True    C  Southampton    no  False
139         0       1    male  24.00      0      0   79.2000        C   First    man        True    B    Cherbourg    no   True
148         0       2    male  36.50      0      2   26.0000        S  Second    man        True    F  Southampton    no  False
151         1       1  female  22.00      1      0   66.6000        S   First  woman       False    C  Southampton   yes  False
170         0       1    male  61.00      0      0   33.5000        S   First    man        True    B  Southampton    no   True
174         0       1    male  56.00      0      0   30.6958        C   First    man        True    A    Cherbourg    no   True
177         0       1  female  50.00      0      0   28.7125        C   First  woman       False    C    Cherbourg    no   True
183         1       2    male   1.00      2      1   39.0000        S  Second  child       False    F  Southampton   yes  False
193         1       2    male   3.00      1      1   26.0000        S  Second  child       False    F  Southampton   yes  False
194         1       1  female  44.00      0      0   27.7208        C   First  woman       False    B    Cherbourg   yes   True
195         1       1  female  58.00      0      0  146.5208        C   First  woman       False    B    Cherbourg   yes   True
205         0       3  female   2.00      0      1   10.4625        S   Third  child       False    G  Southampton    no  False
209         1       1    male  40.00      0      0   31.0000        C   First    man        True    A    Cherbourg   yes   True
215         1       1  female  31.00      1      0  113.2750        C   First  woman       False    D    Cherbourg   yes  False
218         1       1  female  32.00      0      0   76.2917        C   First  woman       False    D    Cherbourg   yes   True
224         1       1    male  38.00      1      0   90.0000        S   First    man        True    C  Southampton   yes  False
230         1       1  female  35.00      1      0   83.4750        S   First  woman       False    C  Southampton   yes  False
245         0       1    male  44.00      2      0   90.0000        Q   First    man        True    C   Queenstown    no  False
248         1       1    male  37.00      1      1   52.5542        S   First    man        True    D  Southampton   yes  False
251         0       3  female  29.00      1      1   10.4625        S   Third  woman       False    G  Southampton    no  False
252         0       1    male  62.00      0      0   26.5500        S   First    man        True    C  Southampton    no   True
257         1       1  female  30.00      0      0   86.5000        S   First  woman       False    B  Southampton   yes   True
262         0       1    male  52.00      1      1   79.6500        S   First    man        True    E  Southampton    no  False
263         0       1    male  40.00      0      0    0.0000        S   First    man        True    B  Southampton    no   True
268         1       1  female  58.00      0      1  153.4625        S   First  woman       False    C  Southampton   yes  False
269         1       1  female  35.00      0      0  135.6333        S   First  woman       False    C  Southampton   yes   True
273         0       1    male  37.00      0      1   29.7000        C   First    man        True    C    Cherbourg    no  False
275         1       1  female  63.00      1      0   77.9583        S   First  woman       False    D  Southampton   yes  False
291         1       1  female  19.00      1      0   91.0792        C   First  woman       False    B    Cherbourg   yes  False
292         0       2    male  36.00      0      0   12.8750        C  Second    man        True    D    Cherbourg    no   True
297         0       1  female   2.00      1      2  151.5500        S   First  child       False    C  Southampton    no  False
299         1       1  female  50.00      0      1  247.5208        C   First  woman       False    B    Cherbourg   yes  False
305         1       1    male   0.92      1      2  151.5500        S   First  child       False    C  Southampton   yes  False
307         1       1  female  17.00      1      0  108.9000        C   First  woman       False    C    Cherbourg   yes  False
309         1       1  female  30.00      0      0   56.9292        C   First  woman       False    E    Cherbourg   yes   True
310         1       1  female  24.00      0      0   83.1583        C   First  woman       False    C    Cherbourg   yes   True
311         1       1  female  18.00      2      2  262.3750        C   First  woman       False    B    Cherbourg   yes  False
318         1       1  female  31.00      0      2  164.8667        S   First  woman       False    C  Southampton   yes  False
319         1       1  female  40.00      1      1  134.5000        C   First  woman       False    E    Cherbourg   yes  False
325         1       1  female  36.00      0      0  135.6333        C   First  woman       False    C    Cherbourg   yes   True
327         1       2  female  36.00      0      0   13.0000        S  Second  woman       False    D  Southampton   yes   True
329         1       1  female  16.00      0      1   57.9792        C   First  woman       False    B    Cherbourg   yes  False
331         0       1    male  45.50      0      0   28.5000        S   First    man        True    C  Southampton    no   True
332         0       1    male  38.00      0      1  153.4625        S   First    man        True    C  Southampton    no  False
336         0       1    male  29.00      1      0   66.6000        S   First    man        True    C  Southampton    no  False
337         1       1  female  41.00      0      0  134.5000        C   First  woman       False    E    Cherbourg   yes   True
340         1       2    male   2.00      1      1   26.0000        S  Second  child       False    F  Southampton   yes  False
341         1       1  female  24.00      3      2  263.0000        S   First  woman       False    C  Southampton   yes  False
345         1       2  female  24.00      0      0   13.0000        S  Second  woman       False    F  Southampton   yes   True
356         1       1  female  22.00      0      1   55.0000        S   First  woman       False    E  Southampton   yes  False
366         1       1  female  60.00      1      0   75.2500        C   First  woman       False    D    Cherbourg   yes  False
369         1       1  female  24.00      0      0   69.3000        C   First  woman       False    B    Cherbourg   yes   True
370         1       1    male  25.00      1      0   55.4417        C   First    man        True    E    Cherbourg   yes  False
377         0       1    male  27.00      0      2  211.5000        C   First    man        True    C    Cherbourg    no  False
390         1       1    male  36.00      1      2  120.0000        S   First    man        True    B  Southampton   yes  False
393         1       1  female  23.00      1      0  113.2750        C   First  woman       False    D    Cherbourg   yes  False
394         1       3  female  24.00      0      2   16.7000        S   Third  woman       False    G  Southampton   yes  False
412         1       1  female  33.00      1      0   90.0000        Q   First  woman       False    C   Queenstown   yes  False
429         1       3    male  32.00      0      0    8.0500        S   Third    man        True    E  Southampton   yes   True
430         1       1    male  28.00      0      0   26.5500        S   First    man        True    C  Southampton   yes   True
434         0       1    male  50.00      1      0   55.9000        S   First    man        True    E  Southampton    no  False
435         1       1  female  14.00      1      2  120.0000        S   First  child       False    B  Southampton   yes  False
438         0       1    male  64.00      1      4  263.0000        S   First    man        True    C  Southampton    no  False
445         1       1    male   4.00      0      2   81.8583        S   First  child       False    A  Southampton   yes  False
449         1       1    male  52.00      0      0   30.5000        S   First    man        True    C  Southampton   yes   True
452         0       1    male  30.00      0      0   27.7500        C   First    man        True    C    Cherbourg    no   True
453         1       1    male  49.00      1      0   89.1042        C   First    man        True    C    Cherbourg   yes  False
456         0       1    male  65.00      0      0   26.5500        S   First    man        True    E  Southampton    no   True
460         1       1    male  48.00      0      0   26.5500        S   First    man        True    E  Southampton   yes   True
462         0       1    male  47.00      0      0   38.5000        S   First    man        True    E  Southampton    no   True
473         1       2  female  23.00      0      0   13.7917        C  Second  woman       False    D    Cherbourg   yes   True
484         1       1    male  25.00      1      0   91.0792        C   First    man        True    B    Cherbourg   yes  False
486         1       1  female  35.00      1      0   90.0000        S   First  woman       False    C  Southampton   yes  False
487         0       1    male  58.00      0      0   29.7000        C   First    man        True    B    Cherbourg    no   True
492         0       1    male  55.00      0      0   30.5000        S   First    man        True    C  Southampton    no   True
496         1       1  female  54.00      1      0   78.2667        C   First  woman       False    D    Cherbourg   yes  False
498         0       1  female  25.00      1      2  151.5500        S   First  woman       False    C  Southampton    no  False
504         1       1  female  16.00      0      0   86.5000        S   First  woman       False    B  Southampton   yes   True
505         0       1    male  18.00      1      0  108.9000        C   First    man        True    C    Cherbourg    no  False
512         1       1    male  36.00      0      0   26.2875        S   First    man        True    E  Southampton   yes   True
515         0       1    male  47.00      0      0   34.0208        S   First    man        True    D  Southampton    no   True
516         1       2  female  34.00      0      0   10.5000        S  Second  woman       False    F  Southampton   yes   True
520         1       1  female  30.00      0      0   93.5000        S   First  woman       False    B  Southampton   yes   True
523         1       1  female  44.00      0      1   57.9792        C   First  woman       False    B    Cherbourg   yes  False
536         0       1    male  45.00      0      0   26.5500        S   First    man        True    B  Southampton    no   True
539         1       1  female  22.00      0      2   49.5000        C   First  woman       False    B    Cherbourg   yes  False
540         1       1  female  36.00      0      2   71.0000        S   First  woman       False    B  Southampton   yes  False
544         0       1    male  50.00      1      0  106.4250        C   First    man        True    C    Cherbourg    no  False
550         1       1    male  17.00      0      2  110.8833        C   First    man        True    C    Cherbourg   yes  False
556         1       1  female  48.00      1      0   39.6000        C   First  woman       False    A    Cherbourg   yes  False
558         1       1  female  39.00      1      1   79.6500        S   First  woman       False    E  Southampton   yes  False
571         1       1  female  53.00      2      0   51.4792        S   First  woman       False    C  Southampton   yes  False
572         1       1    male  36.00      0      0   26.3875        S   First    man        True    E  Southampton   yes   True
577         1       1  female  39.00      1      0   55.9000        S   First  woman       False    E  Southampton   yes  False
581         1       1  female  39.00      1      1  110.8833        C   First  woman       False    C    Cherbourg   yes  False
583         0       1    male  36.00      0      0   40.1250        C   First    man        True    A    Cherbourg    no   True
585         1       1  female  18.00      0      2   79.6500        S   First  woman       False    E  Southampton   yes  False
587         1       1    male  60.00      1      1   79.2000        C   First    man        True    B    Cherbourg   yes  False
591         1       1  female  52.00      1      0   78.2667        C   First  woman       False    D    Cherbourg   yes  False
599         1       1    male  49.00      1      0   56.9292        C   First    man        True    A    Cherbourg   yes  False
609         1       1  female  40.00      0      0  153.4625        S   First  woman       False    C  Southampton   yes   True
618         1       2  female   4.00      2      1   39.0000        S  Second  child       False    F  Southampton   yes  False
621         1       1    male  42.00      1      0   52.5542        S   First    man        True    D  Southampton   yes  False
625         0       1    male  61.00      0      0   32.3208        S   First    man        True    D  Southampton    no   True
627         1       1  female  21.00      0      0   77.9583        S   First  woman       False    D  Southampton   yes   True
630         1       1    male  80.00      0      0   30.0000        S   First    man        True    A  Southampton   yes   True
632         1       1    male  32.00      0      0   30.5000        C   First    man        True    B    Cherbourg   yes   True
641         1       1  female  24.00      0      0   69.3000        C   First  woman       False    B    Cherbourg   yes   True
645         1       1    male  48.00      1      0   76.7292        C   First    man        True    D    Cherbourg   yes  False
647         1       1    male  56.00      0      0   35.5000        C   First    man        True    A    Cherbourg   yes   True
659         0       1    male  58.00      0      2  113.2750        C   First    man        True    D    Cherbourg    no  False
662         0       1    male  47.00      0      0   25.5875        S   First    man        True    E  Southampton    no   True
671         0       1    male  31.00      1      0   52.0000        S   First    man        True    B  Southampton    no  False
679         1       1    male  36.00      0      1  512.3292        C   First    man        True    B    Cherbourg   yes  False
681         1       1    male  27.00      0      0   76.7292        C   First    man        True    D    Cherbourg   yes   True
689         1       1  female  15.00      0      1  211.3375        S   First  child       False    B  Southampton   yes  False
690         1       1    male  31.00      1      0   57.0000        S   First    man        True    B  Southampton   yes  False
698         0       1    male  49.00      1      1  110.8833        C   First    man        True    C    Cherbourg    no  False
699         0       3    male  42.00      0      0    7.6500        S   Third    man        True    F  Southampton    no   True
700         1       1  female  18.00      1      0  227.5250        C   First  woman       False    C    Cherbourg   yes  False
701         1       1    male  35.00      0      0   26.2875        S   First    man        True    E  Southampton   yes   True
707         1       1    male  42.00      0      0   26.2875        S   First    man        True    E  Southampton   yes   True
710         1       1  female  24.00      0      0   49.5042        C   First  woman       False    C    Cherbourg   yes   True
712         1       1    male  48.00      1      0   52.0000        S   First    man        True    C  Southampton   yes  False
715         0       3    male  19.00      0      0    7.6500        S   Third    man        True    F  Southampton    no   True
716         1       1  female  38.00      0      0  227.5250        C   First  woman       False    C    Cherbourg   yes   True
717         1       2  female  27.00      0      0   10.5000        S  Second  woman       False    E  Southampton   yes   True
724         1       1    male  27.00      1      0   53.1000        S   First    man        True    E  Southampton   yes  False
730         1       1  female  29.00      0      0  211.3375        S   First  woman       False    B  Southampton   yes   True
737         1       1    male  35.00      0      0  512.3292        C   First    man        True    B    Cherbourg   yes   True
741         0       1    male  36.00      1      0   78.8500        S   First    man        True    C  Southampton    no  False
742         1       1  female  21.00      2      2  262.3750        C   First  woman       False    B    Cherbourg   yes  False

In [35]:
nd.isna().sum()

survived       0
pclass         0
sex            0
age            0
sibsp          0
parch          0
fare           0
embarked       0
class          0
who            0
adult_male     0
deck           0
embark_town    0
alive          0
alone          0
dtype: int64

In [36]:
import pandas as pd 
df=pd.read_csv('titanic.csv')
print(df.to_string())

     survived  pclass     sex    age  sibsp  parch      fare embarked   class    who  adult_male deck  embark_town alive  alone
0           0       3    male  22.00      1      0    7.2500        S   Third    man        True  NaN  Southampton    no  False
1           1       1  female  38.00      1      0   71.2833        C   First  woman       False    C    Cherbourg   yes  False
2           1       3  female  26.00      0      0    7.9250        S   Third  woman       False  NaN  Southampton   yes   True
3           1       1  female  35.00      1      0   53.1000        S   First  woman       False    C  Southampton   yes  False
4           0       3    male  35.00      0      0    8.0500        S   Third    man        True  NaN  Southampton    no   True
5           0       3    male    NaN      0      0    8.4583        Q   Third    man        True  NaN   Queenstown    no   True
6           0       1    male  54.00      0      0   51.8625        S   First    man        True    E  Southampton    no   True
7           0       3    male   2.00      3      1   21.0750        S   Third  child       False  NaN  Southampton    no  False
8           1       3  female  27.00      0      2   11.1333        S   Third  woman       False  NaN  Southampton   yes  False
9           1       2  female  14.00      1      0   30.0708        C  Second  child       False  NaN    Cherbourg   yes  False
10          1       3  female   4.00      1      1   16.7000        S   Third  child       False    G  Southampton   yes  False
11          1       1  female  58.00      0      0   26.5500        S   First  woman       False    C  Southampton   yes   True
12          0       3    male  20.00      0      0    8.0500        S   Third    man        True  NaN  Southampton    no   True
13          0       3    male  39.00      1      5   31.2750        S   Third    man        True  NaN  Southampton    no  False
14          0       3  female  14.00      0      0    7.8542        S   Third  child       False  NaN  Southampton    no   True
15          1       2  female  55.00      0      0   16.0000        S  Second  woman       False  NaN  Southampton   yes   True
16          0       3    male   2.00      4      1   29.1250        Q   Third  child       False  NaN   Queenstown    no  False
17          1       2    male    NaN      0      0   13.0000        S  Second    man        True  NaN  Southampton   yes   True
18          0       3  female  31.00      1      0   18.0000        S   Third  woman       False  NaN  Southampton    no  False
19          1       3  female    NaN      0      0    7.2250        C   Third  woman       False  NaN    Cherbourg   yes   True
20          0       2    male  35.00      0      0   26.0000        S  Second    man        True  NaN  Southampton    no   True
21          1       2    male  34.00      0      0   13.0000        S  Second    man        True    D  Southampton   yes   True
22          1       3  female  15.00      0      0    8.0292        Q   Third  child       False  NaN   Queenstown   yes   True
23          1       1    male  28.00      0      0   35.5000        S   First    man        True    A  Southampton   yes   True
24          0       3  female   8.00      3      1   21.0750        S   Third  child       False  NaN  Southampton    no  False
25          1       3  female  38.00      1      5   31.3875        S   Third  woman       False  NaN  Southampton   yes  False
26          0       3    male    NaN      0      0    7.2250        C   Third    man        True  NaN    Cherbourg    no   True
27          0       1    male  19.00      3      2  263.0000        S   First    man        True    C  Southampton    no  False
28          1       3  female    NaN      0      0    7.8792        Q   Third  woman       False  NaN   Queenstown   yes   True
29          0       3    male    NaN      0      0    7.8958        S   Third    man        True  NaN  Southampton    no   True
30          0       1    male  40.00      0      0   27.7208        C   First    man        True  NaN    Cherbourg    no   True
31          1       1  female    NaN      1      0  146.5208        C   First  woman       False    B    Cherbourg   yes  False
32          1       3  female    NaN      0      0    7.7500        Q   Third  woman       False  NaN   Queenstown   yes   True
33          0       2    male  66.00      0      0   10.5000        S  Second    man        True  NaN  Southampton    no   True
34          0       1    male  28.00      1      0   82.1708        C   First    man        True  NaN    Cherbourg    no  False
35          0       1    male  42.00      1      0   52.0000        S   First    man        True  NaN  Southampton    no  False
36          1       3    male    NaN      0      0    7.2292        C   Third    man        True  NaN    Cherbourg   yes   True
37          0       3    male  21.00      0      0    8.0500        S   Third    man        True  NaN  Southampton    no   True
38          0       3  female  18.00      2      0   18.0000        S   Third  woman       False  NaN  Southampton    no  False
39          1       3  female  14.00      1      0   11.2417        C   Third  child       False  NaN    Cherbourg   yes  False
40          0       3  female  40.00      1      0    9.4750        S   Third  woman       False  NaN  Southampton    no  False
41          0       2  female  27.00      1      0   21.0000        S  Second  woman       False  NaN  Southampton    no  False
42          0       3    male    NaN      0      0    7.8958        C   Third    man        True  NaN    Cherbourg    no   True
43          1       2  female   3.00      1      2   41.5792        C  Second  child       False  NaN    Cherbourg   yes  False
44          1       3  female  19.00      0      0    7.8792        Q   Third  woman       False  NaN   Queenstown   yes   True
45          0       3    male    NaN      0      0    8.0500        S   Third    man        True  NaN  Southampton    no   True
46          0       3    male    NaN      1      0   15.5000        Q   Third    man        True  NaN   Queenstown    no  False
47          1       3  female    NaN      0      0    7.7500        Q   Third  woman       False  NaN   Queenstown   yes   True
48          0       3    male    NaN      2      0   21.6792        C   Third    man        True  NaN    Cherbourg    no  False
49          0       3  female  18.00      1      0   17.8000        S   Third  woman       False  NaN  Southampton    no  False
50          0       3    male   7.00      4      1   39.6875        S   Third  child       False  NaN  Southampton    no  False
51          0       3    male  21.00      0      0    7.8000        S   Third    man        True  NaN  Southampton    no   True
52          1       1  female  49.00      1      0   76.7292        C   First  woman       False    D    Cherbourg   yes  False
53          1       2  female  29.00      1      0   26.0000        S  Second  woman       False  NaN  Southampton   yes  False
54          0       1    male  65.00      0      1   61.9792        C   First    man        True    B    Cherbourg    no  False
55          1       1    male    NaN      0      0   35.5000        S   First    man        True    C  Southampton   yes   True
56          1       2  female  21.00      0      0   10.5000        S  Second  woman       False  NaN  Southampton   yes   True
57          0       3    male  28.50      0      0    7.2292        C   Third    man        True  NaN    Cherbourg    no   True
58          1       2  female   5.00      1      2   27.7500        S  Second  child       False  NaN  Southampton   yes  False
59          0       3    male  11.00      5      2   46.9000        S   Third  child       False  NaN  Southampton    no  False
60          0       3    male  22.00      0      0    7.2292        C   Third    man        True  NaN    Cherbourg    no   True
61          1       1  female  38.00      0      0   80.0000      NaN   First  woman       False    B          NaN   yes   True
62          0       1    male  45.00      1      0   83.4750        S   First    man        True    C  Southampton    no  False
63          0       3    male   4.00      3      2   27.9000        S   Third  child       False  NaN  Southampton    no  False
64          0       1    male    NaN      0      0   27.7208        C   First    man        True  NaN    Cherbourg    no   True
65          1       3    male    NaN      1      1   15.2458        C   Third    man        True  NaN    Cherbourg   yes  False
66          1       2  female  29.00      0      0   10.5000        S  Second  woman       False    F  Southampton   yes   True
67          0       3    male  19.00      0      0    8.1583        S   Third    man        True  NaN  Southampton    no   True
68          1       3  female  17.00      4      2    7.9250        S   Third  woman       False  NaN  Southampton   yes  False
69          0       3    male  26.00      2      0    8.6625        S   Third    man        True  NaN  Southampton    no  False
70          0       2    male  32.00      0      0   10.5000        S  Second    man        True  NaN  Southampton    no   True
71          0       3  female  16.00      5      2   46.9000        S   Third  woman       False  NaN  Southampton    no  False
72          0       2    male  21.00      0      0   73.5000        S  Second    man        True  NaN  Southampton    no   True
73          0       3    male  26.00      1      0   14.4542        C   Third    man        True  NaN    Cherbourg    no  False
74          1       3    male  32.00      0      0   56.4958        S   Third    man        True  NaN  Southampton   yes   True
75          0       3    male  25.00      0      0    7.6500        S   Third    man        True    F  Southampton    no   True
76          0       3    male    NaN      0      0    7.8958        S   Third    man        True  NaN  Southampton    no   True
77          0       3    male    NaN      0      0    8.0500        S   Third    man        True  NaN  Southampton    no   True
78          1       2    male   0.83      0      2   29.0000        S  Second  child       False  NaN  Southampton   yes  False
79          1       3  female  30.00      0      0   12.4750        S   Third  woman       False  NaN  Southampton   yes   True
80          0       3    male  22.00      0      0    9.0000        S   Third    man        True  NaN  Southampton    no   True
81          1       3    male  29.00      0      0    9.5000        S   Third    man        True  NaN  Southampton   yes   True
82          1       3  female    NaN      0      0    7.7875        Q   Third  woman       False  NaN   Queenstown   yes   True
83          0       1    male  28.00      0      0   47.1000        S   First    man        True  NaN  Southampton    no   True
84          1       2  female  17.00      0      0   10.5000        S  Second  woman       False  NaN  Southampton   yes   True
85          1       3  female  33.00      3      0   15.8500        S   Third  woman       False  NaN  Southampton   yes  False
86          0       3    male  16.00      1      3   34.3750        S   Third    man        True  NaN  Southampton    no  False
87          0       3    male    NaN      0      0    8.0500        S   Third    man        True  NaN  Southampton    no   True
88          1       1  female  23.00      3      2  263.0000        S   First  woman       False    C  Southampton   yes  False
89          0       3    male  24.00      0      0    8.0500        S   Third    man        True  NaN  Southampton    no   True
90          0       3    male  29.00      0      0    8.0500        S   Third    man        True  NaN  Southampton    no   True
91          0       3    male  20.00      0      0    7.8542        S   Third    man        True  NaN  Southampton    no   True
92          0       1    male  46.00      1      0   61.1750        S   First    man        True    E  Southampton    no  False
93          0       3    male  26.00      1      2   20.5750        S   Third    man        True  NaN  Southampton    no  False
94          0       3    male  59.00      0      0    7.2500        S   Third    man        True  NaN  Southampton    no   True
95          0       3    male    NaN      0      0    8.0500        S   Third    man        True  NaN  Southampton    no   True
96          0       1    male  71.00      0      0   34.6542        C   First    man        True    A    Cherbourg    no   True
97          1       1    male  23.00      0      1   63.3583        C   First    man        True    D    Cherbourg   yes  False
98          1       2  female  34.00      0      1   23.0000        S  Second  woman       False  NaN  Southampton   yes  False
99          0       2    male  34.00      1      0   26.0000        S  Second    man        True  NaN  Southampton    no  False
100         0       3  female  28.00      0      0    7.8958        S   Third  woman       False  NaN  Southampton    no   True
101         0       3    male    NaN      0      0    7.8958        S   Third    man        True  NaN  Southampton    no   True
102         0       1    male  21.00      0      1   77.2875        S   First    man        True    D  Southampton    no  False
103         0       3    male  33.00      0      0    8.6542        S   Third    man        True  NaN  Southampton    no   True
104         0       3    male  37.00      2      0    7.9250        S   Third    man        True  NaN  Southampton    no  False
105         0       3    male  28.00      0      0    7.8958        S   Third    man        True  NaN  Southampton    no   True
106         1       3  female  21.00      0      0    7.6500        S   Third  woman       False  NaN  Southampton   yes   True
107         1       3    male    NaN      0      0    7.7750        S   Third    man        True  NaN  Southampton   yes   True
108         0       3    male  38.00      0      0    7.8958        S   Third    man        True  NaN  Southampton    no   True
109         1       3  female    NaN      1      0   24.1500        Q   Third  woman       False  NaN   Queenstown   yes  False
110         0       1    male  47.00      0      0   52.0000        S   First    man        True    C  Southampton    no   True
111         0       3  female  14.50      1      0   14.4542        C   Third  child       False  NaN    Cherbourg    no  False
112         0       3    male  22.00      0      0    8.0500        S   Third    man        True  NaN  Southampton    no   True
113         0       3  female  20.00      1      0    9.8250        S   Third  woman       False  NaN  Southampton    no  False
114         0       3  female  17.00      0      0   14.4583        C   Third  woman       False  NaN    Cherbourg    no   True
115         0       3    male  21.00      0      0    7.9250        S   Third    man        True  NaN  Southampton    no   True
116         0       3    male  70.50      0      0    7.7500        Q   Third    man        True  NaN   Queenstown    no   True
117         0       2    male  29.00      1      0   21.0000        S  Second    man        True  NaN  Southampton    no  False
118         0       1    male  24.00      0      1  247.5208        C   First    man        True    B    Cherbourg    no  False
119         0       3  female   2.00      4      2   31.2750        S   Third  child       False  NaN  Southampton    no  False
120         0       2    male  21.00      2      0   73.5000        S  Second    man        True  NaN  Southampton    no  False
121         0       3    male    NaN      0      0    8.0500        S   Third    man        True  NaN  Southampton    no   True
122         0       2    male  32.50      1      0   30.0708        C  Second    man        True  NaN    Cherbourg    no  False
123         1       2  female  32.50      0      0   13.0000        S  Second  woman       False    E  Southampton   yes   True
124         0       1    male  54.00      0      1   77.2875        S   First    man        True    D  Southampton    no  False
125         1       3    male  12.00      1      0   11.2417        C   Third  child       False  NaN    Cherbourg   yes  False
126         0       3    male    NaN      0      0    7.7500        Q   Third    man        True  NaN   Queenstown    no   True
127         1       3    male  24.00      0      0    7.1417        S   Third    man        True  NaN  Southampton   yes   True
128         1       3  female    NaN      1      1   22.3583        C   Third  woman       False    F    Cherbourg   yes  False
129         0       3    male  45.00      0      0    6.9750        S   Third    man        True  NaN  Southampton    no   True
130         0       3    male  33.00      0      0    7.8958        C   Third    man        True  NaN    Cherbourg    no   True
131         0       3    male  20.00      0      0    7.0500        S   Third    man        True  NaN  Southampton    no   True
132         0       3  female  47.00      1      0   14.5000        S   Third  woman       False  NaN  Southampton    no  False
133         1       2  female  29.00      1      0   26.0000        S  Second  woman       False  NaN  Southampton   yes  False
134         0       2    male  25.00      0      0   13.0000        S  Second    man        True  NaN  Southampton    no   True
135         0       2    male  23.00      0      0   15.0458        C  Second    man        True  NaN    Cherbourg    no   True
136         1       1  female  19.00      0      2   26.2833        S   First  woman       False    D  Southampton   yes  False
137         0       1    male  37.00      1      0   53.1000        S   First    man        True    C  Southampton    no  False
138         0       3    male  16.00      0      0    9.2167        S   Third    man        True  NaN  Southampton    no   True
139         0       1    male  24.00      0      0   79.2000        C   First    man        True    B    Cherbourg    no   True
140         0       3  female    NaN      0      2   15.2458        C   Third  woman       False  NaN    Cherbourg    no  False
141         1       3  female  22.00      0      0    7.7500        S   Third  woman       False  NaN  Southampton   yes   True
142         1       3  female  24.00      1      0   15.8500        S   Third  woman       False  NaN  Southampton   yes  False
143         0       3    male  19.00      0      0    6.7500        Q   Third    man        True  NaN   Queenstown    no   True
144         0       2    male  18.00      0      0   11.5000        S  Second    man        True  NaN  Southampton    no   True
145         0       2    male  19.00      1      1   36.7500        S  Second    man        True  NaN  Southampton    no  False
146         1       3    male  27.00      0      0    7.7958        S   Third    man        True  NaN  Southampton   yes   True
147         0       3  female   9.00      2      2   34.3750        S   Third  child       False  NaN  Southampton    no  False
148         0       2    male  36.50      0      2   26.0000        S  Second    man        True    F  Southampton    no  False
149         0       2    male  42.00      0      0   13.0000        S  Second    man        True  NaN  Southampton    no   True
150         0       2    male  51.00      0      0   12.5250        S  Second    man        True  NaN  Southampton    no   True
151         1       1  female  22.00      1      0   66.6000        S   First  woman       False    C  Southampton   yes  False
152         0       3    male  55.50      0      0    8.0500        S   Third    man        True  NaN  Southampton    no   True
153         0       3    male  40.50      0      2   14.5000        S   Third    man        True  NaN  Southampton    no  False
154         0       3    male    NaN      0      0    7.3125        S   Third    man        True  NaN  Southampton    no   True

In [44]:
df.fillna(22222,inplace=True)
print(df.to_string())

     survived  pclass     sex     age  sibsp  parch      fare embarked   class    who  adult_male deck  embark_town alive  alone
0           0       3    male   22.00      1      0    7.2500        S   Third    man        True  222  Southampton    no  False
1           1       1  female   38.00      1      0   71.2833        C   First  woman       False    C    Cherbourg   yes  False
2           1       3  female   26.00      0      0    7.9250        S   Third  woman       False  222  Southampton   yes   True
3           1       1  female   35.00      1      0   53.1000        S   First  woman       False    C  Southampton   yes  False
4           0       3    male   35.00      0      0    8.0500        S   Third    man        True  222  Southampton    no   True
5           0       3    male  222.00      0      0    8.4583        Q   Third    man        True  222   Queenstown    no   True
6           0       1    male   54.00      0      0   51.8625        S   First    man        True    E  Southampton    no   True
7           0       3    male    2.00      3      1   21.0750        S   Third  child       False  222  Southampton    no  False
8           1       3  female   27.00      0      2   11.1333        S   Third  woman       False  222  Southampton   yes  False
9           1       2  female   14.00      1      0   30.0708        C  Second  child       False  222    Cherbourg   yes  False
10          1       3  female    4.00      1      1   16.7000        S   Third  child       False    G  Southampton   yes  False
11          1       1  female   58.00      0      0   26.5500        S   First  woman       False    C  Southampton   yes   True
12          0       3    male   20.00      0      0    8.0500        S   Third    man        True  222  Southampton    no   True
13          0       3    male   39.00      1      5   31.2750        S   Third    man        True  222  Southampton    no  False
14          0       3  female   14.00      0      0    7.8542        S   Third  child       False  222  Southampton    no   True
15          1       2  female   55.00      0      0   16.0000        S  Second  woman       False  222  Southampton   yes   True
16          0       3    male    2.00      4      1   29.1250        Q   Third  child       False  222   Queenstown    no  False
17          1       2    male  222.00      0      0   13.0000        S  Second    man        True  222  Southampton   yes   True
18          0       3  female   31.00      1      0   18.0000        S   Third  woman       False  222  Southampton    no  False
19          1       3  female  222.00      0      0    7.2250        C   Third  woman       False  222    Cherbourg   yes   True
20          0       2    male   35.00      0      0   26.0000        S  Second    man        True  222  Southampton    no   True
21          1       2    male   34.00      0      0   13.0000        S  Second    man        True    D  Southampton   yes   True
22          1       3  female   15.00      0      0    8.0292        Q   Third  child       False  222   Queenstown   yes   True
23          1       1    male   28.00      0      0   35.5000        S   First    man        True    A  Southampton   yes   True
24          0       3  female    8.00      3      1   21.0750        S   Third  child       False  222  Southampton    no  False
25          1       3  female   38.00      1      5   31.3875        S   Third  woman       False  222  Southampton   yes  False
26          0       3    male  222.00      0      0    7.2250        C   Third    man        True  222    Cherbourg    no   True
27          0       1    male   19.00      3      2  263.0000        S   First    man        True    C  Southampton    no  False
28          1       3  female  222.00      0      0    7.8792        Q   Third  woman       False  222   Queenstown   yes   True
29          0       3    male  222.00      0      0    7.8958        S   Third    man        True  222  Southampton    no   True
30          0       1    male   40.00      0      0   27.7208        C   First    man        True  222    Cherbourg    no   True
31          1       1  female  222.00      1      0  146.5208        C   First  woman       False    B    Cherbourg   yes  False
32          1       3  female  222.00      0      0    7.7500        Q   Third  woman       False  222   Queenstown   yes   True
33          0       2    male   66.00      0      0   10.5000        S  Second    man        True  222  Southampton    no   True
34          0       1    male   28.00      1      0   82.1708        C   First    man        True  222    Cherbourg    no  False
35          0       1    male   42.00      1      0   52.0000        S   First    man        True  222  Southampton    no  False
36          1       3    male  222.00      0      0    7.2292        C   Third    man        True  222    Cherbourg   yes   True
37          0       3    male   21.00      0      0    8.0500        S   Third    man        True  222  Southampton    no   True
38          0       3  female   18.00      2      0   18.0000        S   Third  woman       False  222  Southampton    no  False
39          1       3  female   14.00      1      0   11.2417        C   Third  child       False  222    Cherbourg   yes  False
40          0       3  female   40.00      1      0    9.4750        S   Third  woman       False  222  Southampton    no  False
41          0       2  female   27.00      1      0   21.0000        S  Second  woman       False  222  Southampton    no  False
42          0       3    male  222.00      0      0    7.8958        C   Third    man        True  222    Cherbourg    no   True
43          1       2  female    3.00      1      2   41.5792        C  Second  child       False  222    Cherbourg   yes  False
44          1       3  female   19.00      0      0    7.8792        Q   Third  woman       False  222   Queenstown   yes   True
45          0       3    male  222.00      0      0    8.0500        S   Third    man        True  222  Southampton    no   True
46          0       3    male  222.00      1      0   15.5000        Q   Third    man        True  222   Queenstown    no  False
47          1       3  female  222.00      0      0    7.7500        Q   Third  woman       False  222   Queenstown   yes   True
48          0       3    male  222.00      2      0   21.6792        C   Third    man        True  222    Cherbourg    no  False
49          0       3  female   18.00      1      0   17.8000        S   Third  woman       False  222  Southampton    no  False
50          0       3    male    7.00      4      1   39.6875        S   Third  child       False  222  Southampton    no  False
51          0       3    male   21.00      0      0    7.8000        S   Third    man        True  222  Southampton    no   True
52          1       1  female   49.00      1      0   76.7292        C   First  woman       False    D    Cherbourg   yes  False
53          1       2  female   29.00      1      0   26.0000        S  Second  woman       False  222  Southampton   yes  False
54          0       1    male   65.00      0      1   61.9792        C   First    man        True    B    Cherbourg    no  False
55          1       1    male  222.00      0      0   35.5000        S   First    man        True    C  Southampton   yes   True
56          1       2  female   21.00      0      0   10.5000        S  Second  woman       False  222  Southampton   yes   True
57          0       3    male   28.50      0      0    7.2292        C   Third    man        True  222    Cherbourg    no   True
58          1       2  female    5.00      1      2   27.7500        S  Second  child       False  222  Southampton   yes  False
59          0       3    male   11.00      5      2   46.9000        S   Third  child       False  222  Southampton    no  False
60          0       3    male   22.00      0      0    7.2292        C   Third    man        True  222    Cherbourg    no   True
61          1       1  female   38.00      0      0   80.0000      222   First  woman       False    B          222   yes   True
62          0       1    male   45.00      1      0   83.4750        S   First    man        True    C  Southampton    no  False
63          0       3    male    4.00      3      2   27.9000        S   Third  child       False  222  Southampton    no  False
64          0       1    male  222.00      0      0   27.7208        C   First    man        True  222    Cherbourg    no   True
65          1       3    male  222.00      1      1   15.2458        C   Third    man        True  222    Cherbourg   yes  False
66          1       2  female   29.00      0      0   10.5000        S  Second  woman       False    F  Southampton   yes   True
67          0       3    male   19.00      0      0    8.1583        S   Third    man        True  222  Southampton    no   True
68          1       3  female   17.00      4      2    7.9250        S   Third  woman       False  222  Southampton   yes  False
69          0       3    male   26.00      2      0    8.6625        S   Third    man        True  222  Southampton    no  False
70          0       2    male   32.00      0      0   10.5000        S  Second    man        True  222  Southampton    no   True
71          0       3  female   16.00      5      2   46.9000        S   Third  woman       False  222  Southampton    no  False
72          0       2    male   21.00      0      0   73.5000        S  Second    man        True  222  Southampton    no   True
73          0       3    male   26.00      1      0   14.4542        C   Third    man        True  222    Cherbourg    no  False
74          1       3    male   32.00      0      0   56.4958        S   Third    man        True  222  Southampton   yes   True
75          0       3    male   25.00      0      0    7.6500        S   Third    man        True    F  Southampton    no   True
76          0       3    male  222.00      0      0    7.8958        S   Third    man        True  222  Southampton    no   True
77          0       3    male  222.00      0      0    8.0500        S   Third    man        True  222  Southampton    no   True
78          1       2    male    0.83      0      2   29.0000        S  Second  child       False  222  Southampton   yes  False
79          1       3  female   30.00      0      0   12.4750        S   Third  woman       False  222  Southampton   yes   True
80          0       3    male   22.00      0      0    9.0000        S   Third    man        True  222  Southampton    no   True
81          1       3    male   29.00      0      0    9.5000        S   Third    man        True  222  Southampton   yes   True
82          1       3  female  222.00      0      0    7.7875        Q   Third  woman       False  222   Queenstown   yes   True
83          0       1    male   28.00      0      0   47.1000        S   First    man        True  222  Southampton    no   True
84          1       2  female   17.00      0      0   10.5000        S  Second  woman       False  222  Southampton   yes   True
85          1       3  female   33.00      3      0   15.8500        S   Third  woman       False  222  Southampton   yes  False
86          0       3    male   16.00      1      3   34.3750        S   Third    man        True  222  Southampton    no  False
87          0       3    male  222.00      0      0    8.0500        S   Third    man        True  222  Southampton    no   True
88          1       1  female   23.00      3      2  263.0000        S   First  woman       False    C  Southampton   yes  False
89          0       3    male   24.00      0      0    8.0500        S   Third    man        True  222  Southampton    no   True
90          0       3    male   29.00      0      0    8.0500        S   Third    man        True  222  Southampton    no   True
91          0       3    male   20.00      0      0    7.8542        S   Third    man        True  222  Southampton    no   True
92          0       1    male   46.00      1      0   61.1750        S   First    man        True    E  Southampton    no  False
93          0       3    male   26.00      1      2   20.5750        S   Third    man        True  222  Southampton    no  False
94          0       3    male   59.00      0      0    7.2500        S   Third    man        True  222  Southampton    no   True
95          0       3    male  222.00      0      0    8.0500        S   Third    man        True  222  Southampton    no   True
96          0       1    male   71.00      0      0   34.6542        C   First    man        True    A    Cherbourg    no   True
97          1       1    male   23.00      0      1   63.3583        C   First    man        True    D    Cherbourg   yes  False
98          1       2  female   34.00      0      1   23.0000        S  Second  woman       False  222  Southampton   yes  False
99          0       2    male   34.00      1      0   26.0000        S  Second    man        True  222  Southampton    no  False
100         0       3  female   28.00      0      0    7.8958        S   Third  woman       False  222  Southampton    no   True
101         0       3    male  222.00      0      0    7.8958        S   Third    man        True  222  Southampton    no   True
102         0       1    male   21.00      0      1   77.2875        S   First    man        True    D  Southampton    no  False
103         0       3    male   33.00      0      0    8.6542        S   Third    man        True  222  Southampton    no   True
104         0       3    male   37.00      2      0    7.9250        S   Third    man        True  222  Southampton    no  False
105         0       3    male   28.00      0      0    7.8958        S   Third    man        True  222  Southampton    no   True
106         1       3  female   21.00      0      0    7.6500        S   Third  woman       False  222  Southampton   yes   True
107         1       3    male  222.00      0      0    7.7750        S   Third    man        True  222  Southampton   yes   True
108         0       3    male   38.00      0      0    7.8958        S   Third    man        True  222  Southampton    no   True
109         1       3  female  222.00      1      0   24.1500        Q   Third  woman       False  222   Queenstown   yes  False
110         0       1    male   47.00      0      0   52.0000        S   First    man        True    C  Southampton    no   True
111         0       3  female   14.50      1      0   14.4542        C   Third  child       False  222    Cherbourg    no  False
112         0       3    male   22.00      0      0    8.0500        S   Third    man        True  222  Southampton    no   True
113         0       3  female   20.00      1      0    9.8250        S   Third  woman       False  222  Southampton    no  False
114         0       3  female   17.00      0      0   14.4583        C   Third  woman       False  222    Cherbourg    no   True
115         0       3    male   21.00      0      0    7.9250        S   Third    man        True  222  Southampton    no   True
116         0       3    male   70.50      0      0    7.7500        Q   Third    man        True  222   Queenstown    no   True
117         0       2    male   29.00      1      0   21.0000        S  Second    man        True  222  Southampton    no  False
118         0       1    male   24.00      0      1  247.5208        C   First    man        True    B    Cherbourg    no  False
119         0       3  female    2.00      4      2   31.2750        S   Third  child       False  222  Southampton    no  False
120         0       2    male   21.00      2      0   73.5000        S  Second    man        True  222  Southampton    no  False
121         0       3    male  222.00      0      0    8.0500        S   Third    man        True  222  Southampton    no   True
122         0       2    male   32.50      1      0   30.0708        C  Second    man        True  222    Cherbourg    no  False
123         1       2  female   32.50      0      0   13.0000        S  Second  woman       False    E  Southampton   yes   True
124         0       1    male   54.00      0      1   77.2875        S   First    man        True    D  Southampton    no  False
125         1       3    male   12.00      1      0   11.2417        C   Third  child       False  222    Cherbourg   yes  False
126         0       3    male  222.00      0      0    7.7500        Q   Third    man        True  222   Queenstown    no   True
127         1       3    male   24.00      0      0    7.1417        S   Third    man        True  222  Southampton   yes   True
128         1       3  female  222.00      1      1   22.3583        C   Third  woman       False    F    Cherbourg   yes  False
129         0       3    male   45.00      0      0    6.9750        S   Third    man        True  222  Southampton    no   True
130         0       3    male   33.00      0      0    7.8958        C   Third    man        True  222    Cherbourg    no   True
131         0       3    male   20.00      0      0    7.0500        S   Third    man        True  222  Southampton    no   True
132         0       3  female   47.00      1      0   14.5000        S   Third  woman       False  222  Southampton    no  False
133         1       2  female   29.00      1      0   26.0000        S  Second  woman       False  222  Southampton   yes  False
134         0       2    male   25.00      0      0   13.0000        S  Second    man        True  222  Southampton    no   True
135         0       2    male   23.00      0      0   15.0458        C  Second    man        True  222    Cherbourg    no   True
136         1       1  female   19.00      0      2   26.2833        S   First  woman       False    D  Southampton   yes  False
137         0       1    male   37.00      1      0   53.1000        S   First    man        True    C  Southampton    no  False
138         0       3    male   16.00      0      0    9.2167        S   Third    man        True  222  Southampton    no   True
139         0       1    male   24.00      0      0   79.2000        C   First    man        True    B    Cherbourg    no   True
140         0       3  female  222.00      0      2   15.2458        C   Third  woman       False  222    Cherbourg    no  False
141         1       3  female   22.00      0      0    7.7500        S   Third  woman       False  222  Southampton   yes   True
142         1       3  female   24.00      1      0   15.8500        S   Third  woman       False  222  Southampton   yes  False
143         0       3    male   19.00      0      0    6.7500        Q   Third    man        True  222   Queenstown    no   True
144         0       2    male   18.00      0      0   11.5000        S  Second    man        True  222  Southampton    no   True
145         0       2    male   19.00      1      1   36.7500        S  Second    man        True  222  Southampton    no  False
146         1       3    male   27.00      0      0    7.7958        S   Third    man        True  222  Southampton   yes   True
147         0       3  female    9.00      2      2   34.3750        S   Third  child       False  222  Southampton    no  False
148         0       2    male   36.50      0      2   26.0000        S  Second    man        True    F  Southampton    no  False
149         0       2    male   42.00      0      0   13.0000        S  Second    man        True  222  Southampton    no   True
150         0       2    male   51.00      0      0   12.5250        S  Second    man        True  222  Southampton    no   True
151         1       1  female   22.00      1      0   66.6000        S   First  woman       False    C  Southampton   yes  False
152         0       3    male   55.50      0      0    8.0500        S   Third    man        True  222  Southampton    no   True
153         0       3    male   40.50      0      2   14.5000        S   Third    man        True  222  Southampton    no  False

In [45]:
df.isna().sum()

survived       0
pclass         0
sex            0
age            0
sibsp          0
parch          0
fare           0
embarked       0
class          0
who            0
adult_male     0
deck           0
embark_town    0
alive          0
alone          0
dtype: int64

In [50]:
import pandas as pd

df = pd.read_csv('data.csv')

x = df["Calories"].mode()[0]

df["Calories"].fillna(x, inplace = True)

print(df.to_string()) 
print(x)

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
5          60    102       127     300.0
6          60    110       136     374.0
7          45    104       134     253.3
8          30    109       133     195.1
9          60     98       124     269.0
10         60    103       147     329.3
11         60    100       120     250.7
12         60    106       128     345.3
13         60    104       132     379.3
14         60     98       123     275.0
15         60     98       120     215.2
16         60    100       120     300.0
17         45     90       112     300.0
18         60    103       123     323.0
19         45     97       125     243.0
20         60    108       131     364.2
21         45    100       119     282.0
22         60    130       101     300.0
23         45    105       132     246.0
24         60    102       126     334.5
25         60    100       120     250.0
26         60     92       118     241.0
27         60    103       132     300.0
28         60    100       132     280.0
29         60    102       129     380.3
30         60     92       115     243.0
31         45     90       112     180.1
32         60    101       124     299.0
33         60     93       113     223.0
34         60    107       136     361.0
35         60    114       140     415.0
36         60    102       127     300.0
37         60    100       120     300.0
38         60    100       120     300.0
39         45    104       129     266.0
40         45     90       112     180.1
41         60     98       126     286.0
42         60    100       122     329.4
43         60    111       138     400.0
44         60    111       131     397.0
45         60     99       119     273.0
46         60    109       153     387.6
47         45    111       136     300.0
48         45    108       129     298.0
49         60    111       139     397.6
50         60    107       136     380.2
51         80    123       146     643.1
52         60    106       130     263.0
53         60    118       151     486.0
54         30    136       175     238.0
55         60    121       146     450.7
56         60    118       121     413.0
57         45    115       144     305.0
58         20    153       172     226.4
59         45    123       152     321.0
60        210    108       160    1376.0
61        160    110       137    1034.4
62        160    109       135     853.0
63         45    118       141     341.0
64         20    110       130     131.4
65        180     90       130     800.4
66        150    105       135     873.4
67        150    107       130     816.0
68         20    106       136     110.4
69        300    108       143    1500.2
70        150     97       129    1115.0
71         60    109       153     387.6
72         90    100       127     700.0
73        150     97       127     953.2
74         45    114       146     304.0
75         90     98       125     563.2
76         45    105       134     251.0
77         45    110       141     300.0
78        120    100       130     500.4
79        270    100       131    1729.0
80         30    159       182     319.2
81         45    149       169     344.0
82         30    103       139     151.1
83        120    100       130     500.0
84         45    100       120     225.3
85         30    151       170     300.0
86         45    102       136     234.0
87        120    100       157    1000.1
88         45    129       103     242.0
89         20     83       107      50.3
90        180    101       127     600.1
91         45    107       137     300.0
92         30     90       107     105.3
93         15     80       100      50.5
94         20    150       171     127.4
95         20    151       168     229.4
96         30     95       128     128.2
97         25    152       168     244.2
98         30    109       131     188.2
99         90     93       124     604.1
100        20     95       112      77.7
101        90     90       110     500.0
102        90     90       100     500.0
103        90     90       100     500.4
104        30     92       108      92.7
105        30     93       128     124.0
106       180     90       120     800.3
107        30     90       120      86.2
108        90     90       120     500.3
109       210    137       184    1860.4
110        60    102       124     325.2
111        45    107       124     275.0
112        15    124       139     124.2
113        45    100       120     225.3
114        60    108       131     367.6
115        60    108       151     351.7
116        60    116       141     443.0
117        60     97       122     277.4
118        60    105       125     300.0
119        60    103       124     332.7
120        30    112       137     193.9
121        45    100       120     100.7
122        60    119       169     336.7
123        60    107       127     344.9
124        60    111       151     368.5
125        60     98       122     271.0
126        60     97       124     275.3
127        60    109       127     382.0
128        90     99       125     466.4
129        60    114       151     384.0
130        60    104       134     342.5
131        60    107       138     357.5
132        60    103       133     335.0
133        60    106       132     327.5
134        60    103       136     339.0
135        20    136       156     189.0
136        45    117       143     317.7
137        45    115       137     318.0
138        45    113       138     308.0
139        20    141       162     222.4
140        60    108       135     390.0
141        60     97       127     300.0
142        45    100       120     250.4
143        45    122       149     335.4
144        60    136       170     470.2
145        45    106       126     270.8
146        60    107       136     400.0
147        60    112       146     361.9
148        30    103       127     185.0
149        60    110       150     409.4
150        60    106       134     343.0
151        60    109       129     353.2
152        60    109       138     374.0
153        30    150       167     275.8
154        60    105       128     328.0
155        60    111       151     368.5
156        60     97       131     270.4
157        60    100       120     270.4
158        60    114       150     382.8
159        30     80       120     240.9
160        30     85       120     250.4
161        45     90       130     260.4
162        45     95       130     270.0
163        45    100       140     280.9
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4
300.0

In [1]:
import pandas as pd

df = pd.read_csv('data.csv')

x = df["Calories"].mean()

df["Calories"].fillna(x, inplace = True)

print(df.to_string()) 
print(x)

     Duration  Pulse  Maxpulse     Calories
0          60    110       130   409.100000
1          60    117       145   479.000000
2          60    103       135   340.000000
3          45    109       175   282.400000
4          45    117       148   406.000000
5          60    102       127   300.000000
6          60    110       136   374.000000
7          45    104       134   253.300000
8          30    109       133   195.100000
9          60     98       124   269.000000
10         60    103       147   329.300000
11         60    100       120   250.700000
12         60    106       128   345.300000
13         60    104       132   379.300000
14         60     98       123   275.000000
15         60     98       120   215.200000
16         60    100       120   300.000000
17         45     90       112   375.790244
18         60    103       123   323.000000
19         45     97       125   243.000000
20         60    108       131   364.200000
21         45    100       119   282.000000
22         60    130       101   300.000000
23         45    105       132   246.000000
24         60    102       126   334.500000
25         60    100       120   250.000000
26         60     92       118   241.000000
27         60    103       132   375.790244
28         60    100       132   280.000000
29         60    102       129   380.300000
30         60     92       115   243.000000
31         45     90       112   180.100000
32         60    101       124   299.000000
33         60     93       113   223.000000
34         60    107       136   361.000000
35         60    114       140   415.000000
36         60    102       127   300.000000
37         60    100       120   300.000000
38         60    100       120   300.000000
39         45    104       129   266.000000
40         45     90       112   180.100000
41         60     98       126   286.000000
42         60    100       122   329.400000
43         60    111       138   400.000000
44         60    111       131   397.000000
45         60     99       119   273.000000
46         60    109       153   387.600000
47         45    111       136   300.000000
48         45    108       129   298.000000
49         60    111       139   397.600000
50         60    107       136   380.200000
51         80    123       146   643.100000
52         60    106       130   263.000000
53         60    118       151   486.000000
54         30    136       175   238.000000
55         60    121       146   450.700000
56         60    118       121   413.000000
57         45    115       144   305.000000
58         20    153       172   226.400000
59         45    123       152   321.000000
60        210    108       160  1376.000000
61        160    110       137  1034.400000
62        160    109       135   853.000000
63         45    118       141   341.000000
64         20    110       130   131.400000
65        180     90       130   800.400000
66        150    105       135   873.400000
67        150    107       130   816.000000
68         20    106       136   110.400000
69        300    108       143  1500.200000
70        150     97       129  1115.000000
71         60    109       153   387.600000
72         90    100       127   700.000000
73        150     97       127   953.200000
74         45    114       146   304.000000
75         90     98       125   563.200000
76         45    105       134   251.000000
77         45    110       141   300.000000
78        120    100       130   500.400000
79        270    100       131  1729.000000
80         30    159       182   319.200000
81         45    149       169   344.000000
82         30    103       139   151.100000
83        120    100       130   500.000000
84         45    100       120   225.300000
85         30    151       170   300.000000
86         45    102       136   234.000000
87        120    100       157  1000.100000
88         45    129       103   242.000000
89         20     83       107    50.300000
90        180    101       127   600.100000
91         45    107       137   375.790244
92         30     90       107   105.300000
93         15     80       100    50.500000
94         20    150       171   127.400000
95         20    151       168   229.400000
96         30     95       128   128.200000
97         25    152       168   244.200000
98         30    109       131   188.200000
99         90     93       124   604.100000
100        20     95       112    77.700000
101        90     90       110   500.000000
102        90     90       100   500.000000
103        90     90       100   500.400000
104        30     92       108    92.700000
105        30     93       128   124.000000
106       180     90       120   800.300000
107        30     90       120    86.200000
108        90     90       120   500.300000
109       210    137       184  1860.400000
110        60    102       124   325.200000
111        45    107       124   275.000000
112        15    124       139   124.200000
113        45    100       120   225.300000
114        60    108       131   367.600000
115        60    108       151   351.700000
116        60    116       141   443.000000
117        60     97       122   277.400000
118        60    105       125   375.790244
119        60    103       124   332.700000
120        30    112       137   193.900000
121        45    100       120   100.700000
122        60    119       169   336.700000
123        60    107       127   344.900000
124        60    111       151   368.500000
125        60     98       122   271.000000
126        60     97       124   275.300000
127        60    109       127   382.000000
128        90     99       125   466.400000
129        60    114       151   384.000000
130        60    104       134   342.500000
131        60    107       138   357.500000
132        60    103       133   335.000000
133        60    106       132   327.500000
134        60    103       136   339.000000
135        20    136       156   189.000000
136        45    117       143   317.700000
137        45    115       137   318.000000
138        45    113       138   308.000000
139        20    141       162   222.400000
140        60    108       135   390.000000
141        60     97       127   375.790244
142        45    100       120   250.400000
143        45    122       149   335.400000
144        60    136       170   470.200000
145        45    106       126   270.800000
146        60    107       136   400.000000
147        60    112       146   361.900000
148        30    103       127   185.000000
149        60    110       150   409.400000
150        60    106       134   343.000000
151        60    109       129   353.200000
152        60    109       138   374.000000
153        30    150       167   275.800000
154        60    105       128   328.000000
155        60    111       151   368.500000
156        60     97       131   270.400000
157        60    100       120   270.400000
158        60    114       150   382.800000
159        30     80       120   240.900000
160        30     85       120   250.400000
161        45     90       130   260.400000
162        45     95       130   270.000000
163        45    100       140   280.900000
164        60    105       140   290.800000
165        60    110       145   300.000000
166        60    115       145   310.200000
167        75    120       150   320.400000
168        75    125       150   330.400000
375.79024390243904

C:\Users\rohit\AppData\Local\Temp\ipykernel_19740\1547385780.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Calories"].fillna(x, inplace = True)